h2{
	color:red;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
}

body{
	background-color:lightblue;
	width:500px;
	margin:0 auto;
	font-family: 'Rock Salt', cursive;
}

button{
	font-family: sans-serif;
}

ul{
	margin-top:20px;
}