
<html>
<head>
	<title>FaceWarts</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
	<link href='http://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
</head>



<body>

	<h1>FaceWarts</h1>
	<h3>The Common Room for All Hogwarts!</h3>
	<p><center>
		<img class='student' src="http://cdn-media.hollywood.com/images/l/harry-potter.jpg">
	</center></p>
	<h4><center>Harry Potter</center></h4>
	<p class='student'><center>
		I'm trying not to think about my parents or Voldemort!
	</center></p>
</body>
</html>