
<html>
<head>
	<title>FaceWarts</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
	<link href='http://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
</head>



<body>

	<h1>FaceWarts</h1>
	<h3>The Common Room for All Hogwarts!</h3>
	<p><center>
		<img class='student' src="http://images2.fanpop.com/image/articles/55000/harry-potter_55603_top.jpg?cache=1273774233">
	</center></p>
	<h4><center>Hermione Granger</center></h4>
	<p class='student'><center>
		My flaw is that I know everything!
	</center></p>
</body>
</html>