<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>See All Shuttles and Astronauts</title>
</head>
<body>
  <a href="/shuttles">See all shuttles</a>

  <a href="/astronauts">See all astronauts</a>
</body>
</html>