* {
	text-align: center;
	display: center;
	margin: 0 auto;
}
h1 { 
	border: 5px solid #900400;
	border-radius: 5px;
	background-color: #ff000a;
	margin-right: 450px;
	margin-left: 450px;
}

h3 {
	color: #ff000a;
}

li {
	list-style: none;
}

ul {
	padding: 10px 0px 10px 0px
}

form {
	padding: 10px 0px 10px 0px;
}
