<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
	<form action="tag" method="GET">
		<input type="text" name="tag" placeholder="Tag"  />
		<button>Submit</button>
	</form>

	<form action="location" method="GET">
		<input type="text" name="lat" placeholder="lat" />
		<input type="text" name="lng" placeholder="long" />
		<button>Submit</button>
	</form>

	<form action="address" method="GET">
		<input type="text" name="city" placeholder="City" />
		<input type="text" name="state" placeholder="State" />
		<button>Submit</button>

</body>
</html>