<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= author["name"] %></title>
</head>
<body>
  <h1><%= author["name"] %></h1>
  <ul>
  	<li>Email: <%= author["email"] %></li>
  	<li>Id: <%= author["id"] %></li>
  </ul>
  <button>Add Post</button>
</body>
</html>

<!--/posts/:id -> now contains a button below the post content that says "Add Images"