body {
	height: 100%;
	width: 700px;
	margin: 0 auto;
}

body div {
	display: inline-block;;
}

body div.side {
	width: 27%;
	height: 800px;
	border: 1px black solid;
}

.images {
	float: right;
	width: 72%;
	height: 800px;
	border: 1px black solid;
}

.boots {
	width: 100%;
	margin-bottom: 10.078px;
}

.thirds {
	display: inline-block;
	margin-top: auto;
	margin-bottom: 10.078px;
}

.boots img {
	width: 96%;
	margin-left: 2%;
}

.thirds {
	width: 30.15%;
	margin-left: 2%;
}

.thirds img {
	width: 100%;
}

.halves {
	width: 46.62%;
	margin-left: 2%;
}

.halves img {
	width: 100%;
}

















