.left {
	float: left;
	width: 20%;
	font-family: avenir;
	color: grey;
}


.left nav {
	width: 35%;
	padding: 0 1px 0 1px;
	height: 100%;
	margin-top: 10%
}



.left nav ul li {
	list-style: none;
}

.left nav ul {
	margin-left: -80%;
}






.right {
	float: right;
	width: 80%;
}

.right header img {
	margin: 0.3em;
	width: 98%%;
}

header img {
	width: 100%;
}


.top img {
	width: 31%;
	margin: 0.3em;
}

.bottom img {
	width: 47.8%;
	margin: 0.3em;
}
