body {
	background-color: #a6e86a;
	font-size: 22px;
	padding: 0;
	margin: 0;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	border-top: 10px solid #a6e86a;
	background-color: lightblue;
}

a {
	text-decoration: none;
	color: darkblue;
}

h1 {
	color: darkblue;
	font-family: 'Droid Serif';
	/*padding: 10px;*/
	margin: 10px 10px 0 10px;
}

header a {
	
}

header ul {
	width: 100%;
	background-color: lavender;
}

header ul li {
	margin: 5px;
	padding-left: 20px;
	border-left: solid 2px darkblue;

	display: inline-block;
}

div {
	margin: 180px 15px 0 15px;
	
	padding-left: 20px;
	background-color: lightblue;
	
	
	border: navy 5px solid;
	border-radius: 3px;
}
@media (max-width: 800px) {
  div {
    margin: 220px 15px 0 15px;
  }
}

@media (max-width: 480px) {
  div {
    margin: 260px 15px 0 15px;
  }
}

@media (max-width: 440px) {
  div {
    margin: 300px 15px 0 15px;
  }
}



div ul {

}

div ul li {
	margin: 1px 40px 0px 0px;
	list-style-type: none;
	border-bottom: 1px solid navy;
}

form {
	background-color: lightblue;
	margin: 15px 20px;
	padding: 10px;
/*	border: navy 5px solid;*/
	border-radius: 3px;
}

input {
	width: 150px;
	height: 30px;
	background-color: lavender;
	margin-left: 5px;
}

button {
	height: 30px;
	color: navy; 
	background-color: lavender;
	width: 120px;
}

select {
background-color: lavender;
border: outset 2px;
height: 30px;

}

form ul li {
	list-style-type: none;
	float: left;
	border: none;
	margin-bottom: 5px;
}

div p {
	clear: both;
	margin-top: 15px;
	margin-left: 65%;
	margin-bottom: 3px;
	
	font-size: 16px;
}









