<html>
<head>
	<title>Grocery</title>
	<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
	<script src='underscore.js'></script>
	<script src='backbone.js'></script>
</head>
<body>
	<h1>Grocery List</h1>
	<lable>
		<input type="text" id="item" placeholder="Product Name">
		<input type="text" id="quantity" placeholder="Quantity">
		<button class="add">Add</button>
	</lable>
	<ul class="groceries">
	</ul>

	<%= erb(:template) %>
	<script src='app.js'></script>
</body>
</html>