<script id="template" type="text/template">
	<span> <%%= name %> </span>
	<button class="delete">X</button>
	<input type="checkbox" class="checkbox">
	<input type="text" class='quantity' placeholder="<%%= quantity %>" style='width: 40px;'>
</script>