<!doctype html>
<html>

<head>

	<title>Git Information</title>
	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
	
</head>

<body>
	<h1>{{the_name}}</h1>
	<img src="{{the_avatar_url}}">
	<ol>
		<li>Login Name:&nbsp&nbsp&nbsp&nbsp{{the_name}}</li>
		<li>HTML URL:&nbsp&nbsp&nbsp&nbsp<a>{{the_html_url}}</a></li>
		<li>Created at:&nbsp&nbsp&nbsp&nbsp{{the_created_at}}</li>
		<li>Image:&nbsp&nbsp&nbsp&nbsp<a>{{the_avatar_url}}</a></li>
		<li>Public Repository:&nbsp&nbsp&nbsp&nbsp{{the_public_repos}}</li>
	</ol>
	<footer>
	<p><a href="/rosencrantz">Go Back</a></p>
	</footer>

</body>

</html>