<!DOCTYPE html>
<head>
	<title>{{login}}</title>
	<link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{stylesheet}}">
</head>
<body>
<h1>Rosencrantz GitHub Repo-Depot</h1>
<h3>Your 1-Stop Shop for Classmate GitHub Information</h3>

<h2>Welcome to <span>{{login}}'s</span> GitHub info page!</h2>

<img src="{{avatar}}" />

<p>Visit {{login}}'s GitHub page <a href="{{url}}">here</a>.</p>
<p>{{login}}'s GitHub account was created on: {{date}}.</p>
<p>{{login}} has created {{repos}} public repos.</p>
</body>