<html>
<head>
  <title>FaceWarts</title>

  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>


  <h1>FaceWarts</h1>
  <h3> Connecting Witches and Wizards since before Zuckerberg had the same idea</h3>

<p>
Professor Severus Snape (9 January, 1960 – 2 May, 1998) was a half-blood wizard who was the son of the witch Eileen Snape (née Prince) and Muggle Tobias Snape. During his lifetime, Severus Snape was Potions Master (1981–1996), Defence Against the Dark Arts professor (1996-1997), and Headmaster (1997-1998) of Hogwarts School of Witchcraft and Wizardry (which he attended as a student from 1971 until 1978). He was also member of the Order of the Phoenix and played a very important role in both of the Wizarding Wars against Lord Voldemort.</p>

</body>

</html>