<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Babies</title>

</head>
<body>
	<div class="container">
		<table class="table table-striped">
			<tr style="font-weight: bold; font-size: 2em;">
				<td>Name</td>
				<td>County</td>
				<td>Gender</td>
				<td>Count</td>
			</tr>
		</table>

		<div id="octopus"></div>

	</div>

	<script>
		
		var xhr = new XMLHttpRequest();
		

		xhr.addEventListener('load', function(event){
			console.log("hello");
			if(xhr.status === 200){
				console.log("hello2");
				var response = xhr.response;
				var respParsed = JSON.parse(response);

				var data = document.createElement("p");
				

				data.innerText = respParsed;

				document.getElementById("octopus").appendChild(data);
			}
		});
		xhr.open('GET', 'http://localhost:4567/2007', true);
		xhr.send();

	</script>
	
</body>
</html>