<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Baby Names</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="../../styles.css">

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script src="underscore-min.js"></script>
<script src="babies.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


</head>
<body>
	<header> <h1> <span class="glyphicon glyphicon-star"></span> Baby Names <span class="glyphicon glyphicon-star"></span></h1>
<div class="container">
	
</div>

<script type="text/javascript">
	





	
</script> 
</body>
</html>