<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Baby Names</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<div class="container">
		<header class="col-md-4">
			<h1>Baby Names</h1>
		</header>
		<div class="col-md-2 col-md-offset">
			<select class="dropdown dropdown-toggle form-control year">
				<option value="disabled">Year</option>
			</select>
		</div>
		<div class="dropdown col-md-2 col-md-offset-1">
			<select class="form-control county">
				<option class="dropdown-toggle" value="disabled">County</option>
				<option value="All">All Counties</option>
			</select>
		</div>
		<div class="dropdown col-md-2 col-md-offset-1">
			<select class="dropdown-toggle form-control gender">
				<option value="disabled">Gender</option>
				<option value="All">All</option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
		</div>
	</div>
	<table class="table table-bordered table-striped">
		<tr class="table-head"><th class="col-md-3">Name</th><th class="col-md-3">County</th><th class="col-md-3">Gender</th><th class="col-md-3">Count</th></tr>
	</table>
</body>
</html>