<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Baby Names</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<table class="table table-bordered table-striped">
		<tr><td>Name</td><td>County</td><td>Gender</td><td>Count</td></tr>
	</table>
</body>
</html>