<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <meta charset="UTF-8">
  <title>Baby Names</title>
</head>
<body>
  <h3>Baby Names in NY by Year</h3>
  <ul>
    </li><a href="/2007">Names in 2007</a></li>
    </li><a href="/2008">Names in 2008</a></li>
    </li><a href="/2009">Names in 2009</a></li>
    </li><a href="/2010">Names in 2010</a></li>
    </li><a href="/2011">Names in 2011</a></li>
    </li><a href="/2012">Names in 2012</a></li>
  </ul>
</body>
</html>
