<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Baby Names</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="row yearButtons">
			<button class="col-md-2" id="2007">2007</button>
			<button class="col-md-2" id="2008">2008</button>
			<button class="col-md-2" id="2009">2009</button>
			<button class="col-md-2" id="2010">2010</button>
			<button class="col-md-2" id="2011">2011</button>
			<button class="col-md-2" id="2012">2012</button>
		</div>
		<table class="table table-striped">
		<tr style="font-weight: bold; font-size: 2em;">
			<td>Name</td>
			<td>County</td>
			<td>Gender</td>
			<td>Count</td>
		</tr>
<!-- 	<tr id="tableRow"> -->
<!-- 		<td class='name'></td>
			<td class='county'></td>
			<td class='gender'></td>
			<td class='count'></td>
		</tr> -->
		</table>

	</div>
	<script type="text/javascript">

		function getBabies(year) {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', 'http://localhost:4567/' + year, true);
			xhr.send();

			xhr.addEventListener('load', function() {
				var jsonRes = JSON.parse(xhr.response)
				for(i=0;i<jsonRes.length;i++) {
					var table = $('table');
		
					var newRow = document.createElement('tr');
					newRow.className = 'babies'
					var td1 = document.createElement('td');
					var td2 = document.createElement('td');
					var td3 = document.createElement('td');
					var td4 = document.createElement('td');

					td1.innerText = jsonRes[i]['name'];
					newRow.appendChild(td1);
					td2.innerText = jsonRes[i]['county'];
					newRow.appendChild(td2);
					td3.innerText = jsonRes[i]['gender'];
					newRow.appendChild(td3);
					td4.innerText = jsonRes[i]['count'];
					newRow.appendChild(td4);

					table.append(newRow)


				}


 			});
			

		}

		
		var buttons = $('button')

		for(i=0;i<buttons.length;i++) {
			buttons[i].addEventListener('click', function() {
				var year = event.target.id
				console.log(year)
				$('.babies').remove()
				getBabies(year)
			})
		}
           
     









	</script>
</body>
</html>