<html>
<head>
	<title>Greeter Search</title>
</head>
<body>
	<h1>Greetings, Greeter!</h1>

	<h3>Search by Name</h3>

		<form action="/search" method="POST">
		<input type="text" name="name" placeholder="Name">

		<button>Search</button>
	</form>

</body>
</html>