<!DOCTYPE HTML>
<html>
<head>
	<meta charset=utf-8>
	<title></title>
	<link rel=stylesheet type=text/css href={{ stylesheet }}>

</head>
<body>
	<ul>
		{% for student in students %}
		<li>
			<a href=/{{student.login}}>{{student.login}}</a>
		</li>
		{% endfor %}
	</ul>
</body> 
</html>