<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search Results</title>
</head>
<body>
	<h1>Student Status of <%= result %>:</h1>
	
		<% if students.last[:name] == result.upcase %>
			<h2> Registered </h2>
		<% elsif students.last[:name] != result %>
			<h2> NOT Registered </h2>
		<% end %>

</body>
</html>