<!DOCTYPE html>
<head>
	<title>Shuttles</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Mission Control</a></li>
			<li><a href="/add">Add Shuttles and Crew</a></li>
			<li><a href="/crew">Crew Roster</a></li>
		</ul>
	</nav>
	<h1>Fleet</h1>
	<ul>
		<% shuttles.each do |shuttle| %>
		<li><a href="/fleet/<%=shuttle["id"]%>"><%=shuttle["name"]%></a></li>
		<% end %>
	</ul>
</body>