<!DOCTYPE html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/fleet">Fleet</a></li>
			<li><a href="/crew">Crew Roster</a></li>
			<li><a href="/add">Add Shuttles and Crew</a></li>
		</ul>
	</nav>
	<h1>Mission Control</h1>
	<h3>Select a page from the menu above.</h3>	
</body>