<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Sign My Guest List</title>
</head>
<body>
	<section>
		<h1>Please sign my guest list</h1>
		<form action="/guest_list" method="POST">
			<input type="name" name="name">
			<input type="email" name="email">
			<textarea NAME="said" COLS=40 ROWS=6>
				
			</textarea>
			<button>Sign</button>
		</form>
	</section>
</body>
</html>