<!DOCTYPE! html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Author</title>
</head>
<body>
	<h1>Add Author</h1>
	<form action="/authors/new" method="POST">
		<input type="text" name="name" placeholder="Name"/>
		<input type="text" name="email" placeholder="Email"/>
		<button>Submit</button>
	</form>
</body>
</html>