<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WDumbler</title>
</head>
<body>
	<h1>WDumbler</h1>
	<a href="/authors">Authors</a><br>
	<a href="/posts">Posts</a>
</body>
</html>