<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <!-- could replace this with {{css}} -->
  <title>Instagram Tag Search</title>
</head>
<body>
  <h1>What Instagram pics have your tag?</h1>

  <form action="/tags" method="GET">
    <input type="text" name="specific_tag" placeholder="Enter a tag..." />
    <button>Submit</button>
  </form>

<!-- thought - it might be cool later to have this text and search box inside a picture of a tag -->

</body>
</html>