<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add a Shuttle</title>
</head>
<body>

	<label>
	Add Shuttle Info:
	<form action="/shuttles" method="POST">
		<input type="text" name="name" placeholder="Name">
		<br>
		<input type="text" name="origin" placeholder="Origin Country">
		<br>
		<input type="text" name="destination" placeholder="Destination">
		<br>
		<button>Submit</button>
	</label>
	</form>

</body>
</html>