<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Astro Info</title>
</head>
<body>
	<h3><%= astronaut["name"] %></h3>
	<ul>
		<li>Astronaut ranking: <%= astronaut["rank"] %></li>
		<li>Shuttle: <%= shuttle["name"] %></li>
	</ul>

<a href="/"> Back to Home page </a>
</body>
</html>