<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
</head>
<body>
  <a href = "/astronauts/new">Add New Astronaut</a>
  <ul>
    <% astronauts.each do |astronaut| %>
      <li><a href="/astronauts/<%= astronaut["id"] %>"><%= astronaut["name"] %> <%= astronaut["rank"] %></a> 
    <% end %>
  </ul>
</body>
</html>