<html>
<head>
	<title>Space Shuttles and Astronauts</title>
</head>
<body>
	<h1><%= astronaut["name"]%></h1>
	<ul>
		<li>Rank: <%= astronaut["rank"]%></li>
		<li>Shuttle: <%= shuttle["name"]%></li>
	</ul>
	<a href="/">Go back</a>
</body>
</html>