<header>
	<h1>Astronauts &amp; Shuttles!</h1>
	<nav>
		<ul>
			<li href='/'>Home</li>
			<li href="/shuttles">All Shuttles</li>
			<li href="/astronauts">All Astronauts</li>
			<li href="/astronauts/new">Add an Astronaut</li>
			<li href="/shuttles/new">Add a Shuttle</li>
		</ul>
	</nav>
</header>