<header>
	<h1>Astronauts &amp; Shuttles!</h1>
	<nav>
		<ul>
			<li> <a href='/'>Home</a></li>
			<li> <a href="/shuttles">All Shuttles</a></li>
			<li> <a href="/astronauts">All Astronauts</a></li>
			<li> <a href="/astronauts/new">Add an Astronaut</a></li>
			<li> <a href="/shuttles/new">Add a Shuttle</a></li>
		</ul>
	</nav>
</header>