<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Astronauts &amp; Shuttles! | <%= view_name %></title>
	<link type="text/css" rel="stylesheet" href="styles.css"> 
</head>
<body>
	<%= erb :header_partial %>
	<h1><%= view_name %></h1>
	<p>Have you ever wondered what astronauts there are? Have you ever wondered what shuttles there are? Wonder no more!</p>
	<p>Astronauts &amp; Shuttles is the astronaut &amp; shuttle tracker ANYBODY can edit. What this means is: for anybody who thinks there is a shuttle there will be a shuttle, and, for anybody who knows there is an astronaut, there might very well be an astronaut.</p>
	<p>Happy lying under the stars!</p>
</body>
</html>