<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rosencrantzzzzz NASA</title>
	<h2> Rosencrantzzzzz NASA Space Program</h2>
</head>
<body>

	<label>
	<b> <u> Navigation: </u> </b>
 	<br> 
	<br>
	<a href="/astronauts/add"> Add Astronaut </a> 
	<br>
	<a href= "/shuttles/add"> Add Shuttle </a>
	<br>
	<br>
	<a href= "/astronauts"> View Astronauts </a>
	<br>
	<a href ="/shuttles"> View Shuttles
	</label>
</body>
</html>