<!DOCTYPE html>
<html>
<head>
	<link rel ="stylesheet" type=text/css href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Abel|Orbitron|Titillium+Web' rel='stylesheet' type='text/css'>
	<title>Space Shuttles &amp; Astronauts</title>
</head>
<body>
	<h1>Space Shuttles &amp; Astronauts</h1>
		<div class="home">
		<ul>
			<li><a href="/astronauts">All astronauts</a></li>
			<li><a href="/shuttles">All shuttles</a></li>
		</ul>

		<ul>
			<li><a href="/shuttles/new">Add a shuttle</a></li>
			<li><a href="/astronauts/new">Add an astronaut</a></li>
		</ul>
	</div>
</body>
</html>