<html>
<head>
	<title>Space Program</title>
</head>
<body>
	<h1>Welcome to the Space Program</h1>
	<a href="/shuttles">View our active shuttles</a><br />
	<a href="astronauts">View our active astronauts</a>

</body>
</html>