<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css"
	<meta charset="UTF-8">
	<title>Houston</title>
</head>
<body>
	<header>
		<h1><a href="/">GASA HEADQUARTERS</a></h1>
	</header>
	<div>
		<a href="/astros/new">Sign up, cadet!</a> 
		<a href="/ships/new">Submit your tin can here!</a>
	<a href="/astros">See who's got the right stuff</a>
	<a href="/ships">Check out what they're orbiting in</a>	
</body>
</html>