<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Space Shuttles and Astronauts</title>
</head>
<body>
	<h1>Space Shuttles and Astronauts</h1>
	<a href="/shuttles">Shuttles</a><br>
	<a href="/astronauts">Astronauts</a>
</body>
</html>