<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Space Shuttles and Astronauts</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="head">
	<img src="http://www.boerner.net/jboerner/wp-content/uploads/2011/02/night_space_shuttle_launch.jpg">
</div>
	<h1>Space Shuttles & Astronauts</h1>
		<div class="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/shuttles">Shuttles</a></li>
			<li><a href="/astronauts">Astronauts</a></li>
			<li><a href="/add-shuttle">Add Shuttle</a></li>
			<li><a href="/add-astronaut">Add Astronaut</a></li>
		</ul>
	</div>
</body>
</html>