<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Space Jam</title>
</head>
<body>

  <a href="/astronauts"> View all astronauts</a>

  <a href="/shuttles"> View all space shuttles</a>

</body>
</html>