<html>
<head>
	<title>Space Center</title>
	 <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<h1>Space Center</h1>
<div>
	<a href='/shuttles'>Add/View Shuttles</a>
	<a href='/astronauts'>Add/View Astronauts</a>
</div>


</body>
</html>