<html>
<head>
	<title>Add a New Astronaut!</title>
</head>
<body>

	<form action= "/astronauts" method ="POST">
		<input type= "text" name= "name" placeholder= "Astronaut name">
		<input type= "text" name = "rank"
		placeholder= "Astronaut rank">
		<select name="shuttle_id">
			<% shuttles.each do |shuttle| %>
			<option value= "<%= shuttle["id"] %>"><%= shuttle["name"] %></option>
			<% end %>
		</select>
		<button>Submit</button>
	</form>
</body>
</html>