<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Beam me up Scotty</title>
</head>
<body>

  <form action="/shuttles" method="POST">
    <input type="text" name="name" placeholder="Enter Shuttle Name">
      <input type="text" name="origin_country" placeholder="Enter Your Country">
        <input type="text" name="destination" placeholder="Enter Destination">
        <button> Submit </button>
      </form>

  </body>
</html>