<html>
<head>
	<title>Add a new Shuttle</title>
</head>
<body>
	<form action="/shuttles" method= "POST">
		<input type="text" name="name" placeholder= "Shuttle Name">
		<input type="text" name="origin_country" placeholder= "Shuttle Origin Country">
		<input type="text" name="destination" placeholder= "Shuttle Destination">
		<button>Submit</button>
	</form>
</body>
</html>