<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css"
	<meta charset="UTF-8">
	<title>Shuttle Construction</title>
</head>
<body>
	<header>
		<h1><a href="/">GASA HEADQUARTERS</a></h1>
	</header>
	<div>
		<form action="/ships" method="POST">
		<input type="text" name="name" placeholder="Shuttle name">
		<input type="text" name="origin" placeholder="origin country">
		<input type="text" name="destination" placeholder="Destination">
		<button>Blast off!</button>
		</form>
	</div>

</body>
</html>