<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shuttttttle</title>
</head>
<body>
	<form action="/shuttles" method="POST">
		<input type="text" name="name" placeholder="Shuttle Name">
		<input type="text" name="origin_country" placeholder="Country of Origin">
		<input type="text" name="destination" placeholder="Destination">
		<button>Launch!</button>
	</form>
</body>
</html>