<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css"
	<meta charset="UTF-8">
	<title>Astronaut Registration</title>
</head>
<body>
	<header>
		<h1><a href="/">GASA HEADQUARTERS</a></h1>
	</header>
	<div>
		<form action="/astros" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="rank" placeholder="rank">
		<select name="ship_id">
			<% ships.each do |ship| %>
			<option value="<%= ship["ship_id"] %>"><%= ship["name"] %></option>
			<% end %>
		</select>
		<button>Suit up!</button>
		</form>
	</div>	
</body>
</html>
