<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css"
	<meta charset="UTF-8">
	<title>Shuttle Info</title>
</head>
<body>
	<header>
		<h1><a href="/">GASA HEADQUARTERS</a></h1>
	</header>
	<div>
		<p>The <%= ship["name"] %>, hailing from <%= ship["origin"] %>, is heading for <%= ship["destination"] %>.</p>
		<ul> Here is the manifest:
			<li><%= "#{astro["rank"]} #{astro["name"]}" %></li>
			
		</ul>
	</div>
</body>
</html>