<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shuttles</title>
</head>
<body>
  <a href="/shuttles/new">Add a new shuttle</a>
  <ul>
    <% shuttles.each do |shuttle| %>
      <li><a href="/shuttles/<%= shuttle["id"] %>"><%= shuttle["name"] %></a>, <%= shuttle["origin_country"] %>, <%= shuttle["destination"] %> </li>
    <% end %>
  </ul>
</body>
</html>