<html>
<head>
	<title>Space Shuttles and Astronauts</title>
</head>
<body>
	<h1>Shuttles list</h1>
	<ul>
		<% shuttles.each do |shuttle| %>
		<li><a href="/shuttles/<%= shuttle['id']%>"><%= shuttle["name"] %></a></li>
		<% end %>
	</ul>	
	<a href="/">Go back</a>
</body>
</html>