<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<h2> test </h2>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="./underscore.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="./scripts.js"></script>

</head>
<body>
<!-- 1st -->
	<form>
		<input type="text" id="name" name="name" placeholder="Name">
		<input type="text" id="age" name="age" placeholder="Age">
		<button id="submit"> Submit </button>
	</form>
	
	<header>
		<ul>
		</ul>
	</header>
</body>
</html>