<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
</head>
<body>
	<h1>Welcome!</h1>
	<form action="/astronauts/add" method"GET">
		<input type="hidden">
		<button>Add Astro</button>
	</form>

	<form action="/shuttles/add" method"GET">
		<input type="hidden">
		<button>Add Shuttle</button>
	</form>

	<form action="/astronauts" method"GET">
		<input type="hidden">
		<button>Astronauts</button>
	</form>

	<form action="/shuttles" method"GET">
		<input type="hidden">
		<button>Shuttles</button>
	</form>
</body>
</html>