<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add Shuttle</title>
</head>
<body>
	<h1>Add a shuttle here</h1>
	<form action="/shuttles" method="POST">
		<input type="text" name="name" placeholder="Name"><br/>
		<input type="text" name="origin" placeholder="Origin Country"><br/>
		<input type="text" name="destination" placeholder="Destination"><br/>
		<button>LiftOff</button>
	</form>
</body>
</html>