<form action="/create" method ="POST">
    <input type="text" name="name" placeholder="Enter name">
    <input type="text" name="breed" placeholder="Enter breed">
    <input type="text" name="cuteness" placeholder="Enter cuteness">
  <button>Create</button>
</form>