<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mechanic</title>
</head>
<body>
	<h1> <%= Name: "#{mechanic["name"]}" %> </h1>
	<h2> <%= Age: "#{mechanic["age"]}" %> </h2>
	<h2> <%= Favorite Car "#{mechanic["fav_car"]}" %> </h2>
</body>
</html>