<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf=8">
	<title>Schedule a Dorm to Be Built</title>
</head>
<body>
	<h1>Schedule a Dorm to be Built</h1>
	<p>If you're like me, you've always wanted a world where you could press a button &amp; build a dorm. That's why at my school, you can do so. Please fill out this form &amp; a dorm will spring up into existence out of nowhere.</p>
	<form action="/housing" method="POST">
		<label>Name of Dorm:<input type="text" name="name"></label>
		<label>Location of Dorm:<input type="text" name="location"></label>
		<button>Submit</button>
	</form>
</body>
</html>