<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List</title>
</head>
<body>
	<a href = "/dorms/new">Add New Dorm</a>
  <ul>
    <% dorms.each do |dorm| %>
      <li><a href=<%="./dorms/#{dorm['name']}"%>><%= dorm["name"] %> </a></li>
    <% end %>
  </ul>
</body>
</html>