<html>
<body>
<a href="/dormnames">Homepage </a>


<form action="/dormnames" method ="POST">
<input type="text" name="dormname" placeholder="enter dorm name"/>
<input type="text" name="capacity"
placeholder="enter capacity"/>
<button>SUBMIT</button>
</form>



</body>



</html>