<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Links to GOT Houses and Characters</title>
</head>
<body>
	<a href="/characters">See the Characters to Games of Thrones</a>

	<a href="/houses">See the Houses of Games of Thrones</a>
</body>
</html>
