<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome!</title>
</head>
<body>
	<form action= "/add_patient" method="POST">
		<input type="text" name="first" placeholder="First Name">
		<input type="text" name="last" placeholder="Last Name">
		<input type="text" name="date" placeholder="Date Admitted">
		<input type="text" name="condition" placeholder="Condition">

		<button>Submit</button>
	</form>
</body>
</head>