<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Cuprum:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<a href="/"><h3>Homepage</h3></a>
<form action="/results" method="GET">
<input type="text"name="condition"
placeholder="search for a condition">
<button>SUBMIT</button>
</form>

</html>