<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration of New Patients</title>
</head>
<body>
<h1> Find Patient by condition</h1>
  <form action="/condition" method="POSTS">
    <input type="text" name="condition" placeholder="condition">
      <button>Submit</button>
  </form>

</body>
</html>