<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>First Name Search Form</title>
</head>
<body>
  <h1>First Name Search Form</h1>

  <p>Search for a list of patients currently in the hospital with a specific first name.</p>
  <form name="name_input" action="/firstname" method="POST">
    First Name: <input type="text" name="firstname_search"><br>
	<input type="submit" value="Submit">
  </form>



</body>
</html>