<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="styles.css">
	<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>
	<title>Document</title>
</head>
<body>
	<header>
		<h1><a href="/">Welcome to Seattle Grace Hospital</a></h1>
		<ul>
			<li><a href="/admit">Click here for admission!</a></li>
			<li><a href="/search">Click here to search!</a></li>
		</ul>
	</header>

	<div>
		<h1>Current patients</h1>
		<ul>
			<%= admitted %>
		</ul>
	</div>
</body>
</html>