<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Cuprum:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
  <a href="/"><h3>Homepage</h3></a>
<form action="/results1" method="GET">
<input type="text"name="name"
placeholder="search for a name">

<button>SUBMIT</button>
</form>
</body>
</html>