<html>
<form action="/results1" method="GET">
<input type="text"name="name"
placeholder="search for a name">
<input type="hidden" name="doctor"
value=doctorname>
<button>SUBMIT</button>
</form>

</html>