<html>
<body>


<form action="/newpatient" method ="POST">

<input type="text" name="firstname" value=<%=firstname%> READONLY>
<input type="text" name="lastname" value=<%=lastname%> READONLY>
<input type="text" name="date"
placeholder="admittance mm:dd:yy">
<input type="text" name="condition"
placeholder="condition">
<input type="text" name="doctorname"
value= <%=doctorname%> READONLY>
<button>SUBMIT</button>
</form>

</body>
</html>