<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Patient Search by Condition</title>
	<h2> Search by condition </h2>

<form action="/search_condition_result" method="GET">
	<input type="text" name="name" placeholder="Type condition here...">
	<button> Search </button>
</form>

</head>
<body>
	<br>
	<a href="/search_patient"> Search by patient name </a>
	<br>
	<a href="/"> Back to Patient List </a>
	
</body>
</html>