<!DOCTYPE html>
<html>
<body>
	<h1>Search Patients By Condition</h1>
	<form action="/search-condition-results?" method="GET">
		<input type="text" name="condition" placeholder="Enter a condition">
		<button>Search</button>
	</form>
</body>
</html>