<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Patient Search</title>
	<h2> Patient Search Result: </h2>
</head>
<body>
	

  <ul>
    <% patients.each do |x| %>
      <li> 
      	<b> Name: </b> <%= x["patient_first_name"]%>  
      </li>
    <% end %>
  </ul>



</body>
</html>