<!DOCTYPE html>
<html>
<body>
	<h1> <%= header %> </h1>
	<ul> 
	<% patients.each do |patient| %>
		<% if condition != nil && patient["condition"].downcase == condition.downcase %>
			<li> <%= "NAME: #{patient["first"]} #{patient["last"]} ADMITTED: #{patient["date"]} CONDITION: #{patient["condition"]} DOCTOR: #{patient["doctor"]}" %> </li>
		<% elsif name != nil && patient["first"].downcase == name.downcase %>
			<li> <%= "NAME: #{patient["first"]} #{patient["last"]} ADMITTED: #{patient["date"]} CONDITION: #{patient["condition"]} DOCTOR: #{patient["doctor"]}" %> </li>
		<% end %>
	<% end %>
</body>
</html>