<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Patient Search</title>
	<h2> Search by Patient Name </h2>

<form action="/search_patient_result" method="GET">
	<input type="text" name="name" placeholder="Type name here...">
	<button> Search </button>
</form>

</head>
<body>
	<br>
	<a href="/search_condition"> Search by condition(s) </a>
	<br>
	<a href="/"> Back to Patient List </a>
</body>
</html>