<!DOCTYPE html>
<html>
<body>
	<h1> <%= header %> </h1>
	<ul> 
		<li> <%= "NAME: #{patient["first"]} #{patient["last"]} ADMITTED: #{patient["date"]} CONDITION: #{patient["condition"]} DOCTOR: #{patient["doctor"]}" %> </li>
	</ul>
</body>
</html>