<html>
<body>
	<h1>Search by Condition</h1>
	<form action="search_condition" method="POST">
		<input type="text" name="condition" placeholder="Condition">
		<button>Search</button>
	</form>
</body>
</html>