<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
</head>
<body>
 <h1>Student Registration Form:</h1>
	<form action = "/students/new" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="age" placeholder="Age">
		<input type="text" name="fav_spell" placeholder="Favorite Spell">
	<button>Submit</button>
	</form>  
</body>
</html>

	

