<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Profile</title>
</head>
<body>
  <h1>Student Profile</h1>
  <% info.each do |student| %>
  <li><%=info[:name] + info[:age] + info[:favorite_spell] %></li>  
</body>
</html>
