<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirmation Page</title>
</head>
<body>

  <h3>Congratulations, you just signed up for GNB!</h3>

  <h3><%= user.first_name %></h3>
  <h3><%= user.last_name %></h3>
  <h3><%= user.email %></h3>
  <h3><%= user.password %></h3>

</body>
</html>