<!DOCTYPE HTML>
<html lang=en>
<head>
	<meta charset=utf-8>
	<title>Musical People | the Search for Music People</title>
</head>
<body>
	<h1>Musical People | the Search for Music People</h1>
	<p>You clicked on an artist, because you are interesting:</p>

</body>
</html>