<!DOCTYPE HTML>
<html lang=en>
<head>
	<meta charset=utf-8>
	<title>Musical People | the Search for Music People</title>
</head>
<body>
	<h1>Musical People | the Search for Music People</h1>
	<h2>You clicked on an artist, because you are interesting:</h2>
	<h3> This artist's name is: <%= $artist["name"] %> </h3>


</body>
</html>