body{

  background-image: url('http://th02.deviantart.net/fs11/PRE/i/2006/175/7/1/Leica_Camera_Pencil_Drawing_by_L_setyourselfonfire.jpg');
  background-color:#ffffff;
}
#home {
	display:table;
     margin: auto;
  position: absolute;
  top: 0; left: 25%; bottom: 0; right: 0;
}

form input[type=text]
{
	background-color: #9A8591;
	border:none;
	height: 50px;
    width: 500px;
    font-size:40px;
    display:block;
}
form input[type=submit]
{
border: solid 11px #d4d4d4;
	border-radius : 9px 11px 18px 17px ;
	font-size : 20px;
	color : #51524f;
	padding : 4px 4px;
	background-color : #d4d4d4;
	margin-left: auto;
    margin-right: auto;
    width:400px;
    display:block;
	
}
h1
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 1000;
   text-decoration: underline;

	font-size:45px;
	margin-left:10px;
	margin-bottom:0px;
}
li
{
	margin-top:0px;
	list-style: none;
	margin-left:10px;
}
a{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 600;
   font-size:30px;
   color:#000000;
}

h1 a{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 1000;
   text-decoration: underline;
   color:#000000;
	font-size:25px;

}
img{
	  display: block;
	height:400px;
	width:400px;
	margin-left: auto;
    margin-right: auto;
  
	border-style:dashed;
	border-width:5px;
}