*{
	margin: auto;
}

body {
	background-color: #C1CADC;
}

h1 {
	font-family: 'Montez', cursive;
	color: #99B2CC;
	background-color: #4775D1;
	font-size: 25px;
	text-shadow: 1px 1px rgb(0, 0, 0);
	padding-left: 550px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

img {
	width: 400px;
	height: 400px;
	display: block;
	margin: auto;
	border: 10px solid #4D5158;
}

div {
	padding: 100px 475px 100px 525px;
}