<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Friends</title>
</head>
<body>
	<header>
		<h1>Friends</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/cast">The Cast of Friends</a></li>
				<li><a href="/cast/random">Nah nah nah nah nah</a></li>
				<li><a href="/hello">Say Hello To One Of My Friends</a></li>
			</ul>
		</nav>
	</header>
	<p>When the world crashes in in to my living room... Televison made me what I am... People like to put, the,</p>
	<p>Televison down.. but we are still good friends.</p>
	<p>I know the way you are. I got what you need.</p>
</body>
</html>