<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bills</title>
</head>
<body>
	<h1>Bills</h1>
	<ul>
		<% bills.each do |bill| %>
		<li><a href="/bills/<%=bill.official_title%>"> <%= bill.official_title %> </a></li>
		<% end %>
	</ul>
</body>
</html>