<!DOCTYPE html>
<html>
<head>
	<title>Senate Incumbents 2014</title>
</head>
<body>
	<div><a href="/senators">A list of senators in elections this year</a></div>
	<div><a href="/bills">Sponsored legislation</a></div>
</body>
</html>