<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Senators & Bills</title>
</head>
<body>
	<h1>Senators & Bills</h1>
	<a href='/senators'>See All Senators</a><br>
	<a href='bills'>See All Bills</a>
</body>
</html>