<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies</title>
</head>
<body>
	<input id="user_input" type="text" name="title" placeholder="movie title"><br>
  <button>GO</button><br>

  <script type ="text/javascript">
    var input = document.querySelector('input');
    var button = document.querySelector('button');


  </script>
  
 
</body>
</html>