body
{
background-color: #c0cfce ;
font-size:25px;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;

}
li
{
	color: #4682b4;
	list-style-type: none;
	margin-left: auto;
    margin-right: auto;
    width:30em;

}
img
{
	
    border:groove;
    border-color:4682b4;
    border-width:5px;
    
}
a{
	color:red;
}

h1
{
	color:#4682b4;
	padding:0px;
	font-size:50px;
	margin:0px;
}
ul
{
	padding-top:0px;
}
a {
	margin-left: auto;
    margin-right: auto;
    width:22em;
}