<!DOCTYPE html>
<html>
<head></head>
<body>
	<h3>Subscribe to our mailer with your electronic address!</h3>
	<form action="subscribe" method="POST">
		<input type="text" name="email">
		<button>Submit</button>
	</form>
</body>
</html>
