<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Info Data</title>
</head>
<body>
	<h1>Information Database</h1>
	<h2>Submit your email here.</h2>
	<form action="/info_page" method="POST">
		<input type="text" name="email" placeholder="Type email here">
		<input type="text" name="name_first" placeholder="Type first name here">
		<input type="text" name="name_last" placeholder="Type last name here">
		<input type="text" name="number" placeholder="Type phone number name here">
		<button>Submit</button>
	</form>
</body>
</html>