<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Email Collector</title>
</head>
<body>
  <h1></h1>
  <form action="/email" method="POST">
    <label>
      Email:
      <input type="text" name="email_address" placeholder="type your email address">
    </label>
    <button>Submit</button>
  </form>


  <a href="/">Home page</a>
</body>
</html>