!!! 
%html{:lang => "en"}
%head 
  %meta{:charset => "utf-8"}
  %title The Simple Backbone App 
%body
  %header  
    %h1 The Simple Backbone App 
    %h2 The Site Where I Learned Backbone Today  
    %nav 
      %ul 
        %li 
          %a{:href => "#movies"} Movies 
        %li 
          %a{:href => "#books"} Books
  %main 
  %script{:src => "/jquery-2.1.1.min.js"} 
  %script{:src => "/underscore-min.js"} 
  %script{:src => "/backbone-min.js"} 
  %script{:src => "/app.js"}