<!DOCTYPE html>
<html>
<head>
  <title>Backbone fun</title>
  <script src='./jquery.js'></script>
  <script src='./underscore.js'></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <script src='./app.js'></script>
</head>
<body>
  <a href="#movies">MOVIES</a>
  <a href="#books">BOOKS</a>

    <div class="list">
    </div>

</body>
</html>
