<!DOCTYPE html>
<html>
<head>
	<title>I Like Media</title>

	<script src="./jquery.js"></script>
	<script src='./underscore.js'></script>
	<script src='./backbone.js'></script>
	<script src='./app.js'></script>
</head>
<body>
	<nav><a href="#movies">My Favorite Movies|</a><a href="#books">My Favorite Books|</a>
<div id="container">
</div>

</body>
</html>
