<!DOCTYPE html>
<html>
<head>
	<title>Favorite Books and Movies</title>
	<script src="javascript/jquery.js"></script>
	<script src="javascript/underscore.js"></script>
	<script src="javascript/backbone.js"></script>
	<script src="javascript/app.js"></script>
</head>
<body>

<a href="#movies">Movies</a>
<a href="#books">Books</a>
	<header>
	</header>
	<ul class="list">
	</ul>
</body>
</html>