<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<title> <%= @app_name %> | <%= @view_name %> </title>
	</head>
	<body>
		<section>
			<%= @header_partial %> 
			<form action=/see method=GET>
				<input type=text name=tag placeholder="enter an Instagram hash &amp; hit return"> 
			</form>
		</section>
	</body> 
</html> 