<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create New Bank Account</title>
</head>
<body>

 
 <form action="/sign_up" method="POST">
 		<p>Sign up for a bank account</p>
    <input type="text" name="email" placeholder="User Email" /><br>
    <input type="text" name="password" placeholder="User Password" /><br>
    <input type="text" name="deposit" placeholder="Initial Deposit" /><br>
    <button>Submit</button>
  </form>


</body>
</html>