<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GNB</title>
</head>
<body>

  <h2>Welcome to Goliath National Bank(Member FDIC)</h2>

  <h3>New users, please sign up here:</h3>

  <form action="/sign_up" method="POST">
      <input type="text" name="first_name" placeholder="Enter first name"/>
      <input type="text" name="last_name" placeholder="Enter last name"/>
      <input type="text" name="email" placeholder="Enter email"/>
      <input type="text" name="password" placeholder="Enter password"/>

    <br>
    <br>

    <button>Sign up</button>

  </form>

  <h3>Already a User? Please login below:</h3>

  <form action="/login" method="GET">
      <input type="text" name="email" placeholder="Enter email"/>
      <input type="text" name="password" placeholder="Enter password"/>

    <br>
    <br>

    <button>Submit</button>

  </form>

</body>
</html>