<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bank Account</title>
</head>
<body>
	<h1>Bank</h1>
	<% if userAccount == false %>
		<h3><%= 'User not found. Please sign up' %></h3>
	<% end %>
	<a href="login">Login</a>
	<a href="signup">Sign Up</a>
</body>
</html>