<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<label>Sign up</label>
	<form action="/signup" method="POST">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="password">
		<input type="text" name="savings" placeholder="savings">
		<button>Sign up!</button>
	</form>

	
	<label>Log in</label>
	<form action="/login" method="GET">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="password">
		<button>Log in!</button>
	</form>
</body>
</html>