<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bank Jawn</title>
</head>
<body>
	<h1>Bank Jawn</h1>
	
	<a href="signup">Sign Up</a>

	<h3>Login</h3>
	
	<form action="/users" method="GET">
		<input type="text" name="email" placeholder="email">
		<br>
		<input type="text" name="password" placeholder="password">
		
		<button>Login</button>
 	</form>
</body>
</html>