<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1> A <i>Really Really</i> Safe Bank Account </h1>
	<a href="/signup">Sign Up</a>
	
	<h3> Sign In: </h3>
	<form action="/signin" method="POST">
		<input type="text" name="email" placeholder="email"><br>
		<input type="text" name="password" placeholder="password"><br><br>
		<button> Sign In </button>
	</form>
</body>
</html>