<html>
  <head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Bank Of teh Monies</title>
  </head>
  <body>
    <div id="wrapper">
    <h3> Welcome to Bank of teh Monies </h3>
      <hr />
      <a href="/signup"><button id="signup">Sign Up</button></a>
      <a href="/login"><button id="login">Login</button></a>
      <hr />
      <div id="form">
      <form action="/user" method="POST">
        <label>Email</label><br />
        <input type="text" name="email"><br />
        <label>Password</label><br />
        <input type="password" name="password"><br />
        <button id="submit">Submit</button>
      </form>
    </div>
    </div>
  </body>
</html>
