<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bank Account Login</title>
</head>
<body>
	<h1>Login</h1>
	<form action="/users" method="GET">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="password">
		<button>Submit</button>
 	</form>
</body>
</html>