<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<label>Sign up</label>
	<form action="/signup" method="POST">
		<input type="text" name="name" placeholder="yo' name">
		<input type="text" name="username" placeholder="yo' username">
		<input type="text" name="password" placeholder="yo' password">
		<input type="text" name="savings" placeholder="yo' money">
		<button>Sign up!</button>
	</form>

	
	<label>Log in</label>
	<form action="/login" method="GET">
		<input type="text" name="username" placeholder="username">
		<input type="text" name="password" placeholder="密碼">
		<button>Log in!</button>
	</form>
</body>
</html>