<html>
<head>
	<title>Sign Up Page</title>
</head>
<body>
	<form action="/signup" method="POST">
		<input type="text" name="name" placeholder="name"><br>
		<input type="text" name="email" placeholder="email"><br>
		<input type="text" name="password" placeholder="password"><br><br>
		<button> Sign Up </button>
	</form>
</body>
</html>