<html>
  <head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Bank Of teh Monies</title>
  </head>
  <body>
    <div id="wrapper">
    <h3> Welcome to Bank of teh Monies </h3>
      <hr />
      <a href="/logout"><button id="login">Login</button></a>
      <hr />
      <div id="account">
        <div id="balance">
        </div>
      </div>
    </div>
  </body>
</html>
