<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
</head>
<body>

 
	<h2>Hello. I promise not to rob you blind. Please log in.</h2>
 	<form action="/login" method="GET">
    <input type="text" name="email" placeholder="User Email" /><br>
    <input type="text" name="password" placeholder="User Password" /><br>
    <button>Submit</button>
  </form>



</body>
</html>