<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Hello!</title>
</head>
<body>
  <h1>Say hello!</h1>
  <form action="/name" method="GET">
    <label>
      Name:
      <input type="text" name="first_name" placeholder="Jeffrey">
    </label>
    <button>Say Hello</button>
  </form>

  <p>Colors are fun!</p>
  <form action="/colors" method="GET">
    <select name="colors">
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
      <option value="cyan">Cyan</option>
      <option value="darkTurquoise">DarkTurquoise</option>
      <option value="deepPink">DeepPink</option>
      <option value="dimGray">DimGray</option>
      <option value="fireBrick">FireBrick</option>
      <option value="forestGreen">ForestGreen</option>
      <option value="fuchsia">Fuchsia</option>
      <option value="gold">Gold</option>
      <option value="greenYellow">GreenYellow</option>
      <option value="indianRed">IndianRed</option>
      <option value="indigo">Indigo</option>
      <option value="khaki">Khaki</option>
      <option value="lemonChiffon">LemonChiffon</option>
      <option value="lime">Lime</option>
      <option value="magenta">Magenta</option>
      <option value="mediumBlue">MediumBlue</option>
      <input type="submit">
    </select>

  </form>
</body>
</html>