<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>What do you want to see?</title>
</head>

<body>
	<h1>Tell me what you want to see</h1>
	<form action="/photo_page" method="GET">
		<label>
			What to see?
			<input type="text" name="tag" placeholder="type a tag">
		</label>
		<button>This is what</button>
	</form>

<a href="/">Home</a>


</body>
</html>