<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>House info</title>
</head>
<body>
	<h2> <% house ["name"] %> </h2>
	<ul>
		<li> Name <%= house["name"] %> </li>
		<li> Location <%= house["location"] %> </li>
	</ul>

</body>
</html>