<html>
<head>
	<title>Game of Thrones: House Profile</title>
</head>
<body>

<h1>House Profile</h1>
Name: <%= house["name"] %>
Age: <%= house["age"] %>
Characters: 

<ol>
	<% characters.each do |character| %>
	<li><%= "#{character["name"]}" %></li>
	<% end %>
	
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/houses">All Houses</a></li>
		<li><a href="/characters">All Characters</a></li>
		<li><a href="/characters/new">Add a Character</a></li>
	</ul>
</body>
</html>