<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GOT</title>
</head>
<body>
	<h1>Welcome to Game of Thrones House/Character Tracker</h1>
	<a href="/houses">Houses</a><br>
	<a href="/characters">Characters</a>
</body>
</html>