<html>
<head>
	<title>Game of Thrones: Houses &amp; Characters</title>
</head>
<body>
	<h1>Game of Thrones: Houses &amp; Characters</h1>

	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/houses">All Houses</a></li>
		<li><a href="/characters">All Characters</a></li>
		<li><a href="/characters/new">Add a Character</a></li>
	</ul>

</body>
</html>