<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GOT</title>
	<h2> Game of Thrones </h2>
</head>
<body>

<a href="/characters/add"> Add a new character </a>
<br>
<a href="/house/add"> Add a new GOT House </a>
<br>
<a href="/characters"> View a character </a>
<br>
<a href="/houses"> View a house </a>
<br>


</body>
</html>