<html>
<head>
	<title>Welcome to Houses-I bet you think these houses are crazy WOWOWOWOWOW</title>
</head>
<body>
	<a href="/characters">These are characters</a>
	<br />
	<a href="/houses">These are houses</a>
</body>
</html>

