<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome!</title>
</head>
<body>
	<h1>Welcome!</h1>
	<form action="/characters" method="GET">
		<input type="hidden">
		<button>Characters</button>
	</form>

	<form action="/houses" method="GET">
		<input type="hidden">
		<button>Houses</button>
	</form>
</body>
</html>