* {
	margin:0;
	padding: 0;
}

body {
	background: url(http://www.interiorplace.com/product_images/v/314/BYR95622L__28957.jpg);
	/*opacity: 0.4;
    filter: alpha(opacity=40);*/
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	content: "";
	  background: url(image.jpg);
	  opacity: 0.5;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;  
	}




h1 {
	font-family: 'Fontdiner Swanky';
	color: #ECEC78;
}

