<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authors</title>
</head>
<body>
  <a href="/authors/new">Add Authors</a>
  <ul>
    <% authors.each do |author| %>
      <li>
        <a href="/authors/<%= author["id"] %>">
        <%= author["name"] %>
        </a>
      </li>
    <% end %>
  </ul>
</body>
</html>