<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to WDumbler</title>
  <h1>Welcome To WDI Tumblr</h1>
</head>
<body>
  <a href="/authors">All Authors</a>
  <a href="/posts">All Posts</a>
</body>
</html>