<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Author</title>
</head>
<body>
  <form action="/authors" method="POST">
    <input type="text" name="name" placeholder="Name" />
    <!-- type=email is backwards-compatible, now form is future proof -->
    <input type="email" name="email" placeholder="Email Address" />
    </select>
    <button>Submit</button>
  </form>
</body>
</html>