<head>
	<title>Bellatrix Lestrange</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<h1>Bellatrix Lestrange</h1>
	<h2>Character Analysis</h2>
	<h2>House: Slytherin, 3rd Year</h2>
	<p>
		Bellatrix Lestrange (née Black) is Sirius Black's cousin, and sister to Narcissa Malfoy and Andromeda Tonks, making her Nymphadora Tonks' aunt. Bellatrix is described as being taller than Harry, with thick, sleek, black hair, a thin mouth, dark, heavily lidded eyes, pale skin, and the Black family's patrician good looks and bearing. However, her features became somewhat hollowed out during her incarceration in Azkaban prison.
	</p>	

	<p>
		Bellatrix was presumably sorted into Slytherin House at Hogwarts. The first wand she is seen using is walnut and dragon heartstring. After her wand is captured in the final book, she procures another.
	</p>

</body>