<head>
	<title>Draco Malfoy</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<h1>Draco Malfoy</h1>
	<h2>Character Analysis</h2>
	<h2>House: Slytherin, 3rd Year</h2>
	<p>
		Draco Malfoy, a boy with blond hair and a pale, pointed sneering face, is the only child of the wealthy Lucius Malfoy and his wife, Narcissa Black Malfoy. Draco attends Hogwarts School of Witchraft and Wizardry, and is in the same year as Harry Potter. Draco is a member of Slytherin House, and he is usually accompanied by Vincent Crabbe and Gregory Goyle, and occasionally Pansy Parkinson, also Slytherins. Draco constantly boasts about being a pureblood wizard and his family's wealth and societal status.
	</p>
		
	<p>
		According to the author's web site, Draco was born on 5 June; this would make him almost two months older than Harry Potter. According to the Black family tree, he was born in 1980.

		Draco's wand is hawthorn wood with a unicorn hair core.
	</p>	

</body>