<head>
	<title>Harry Potter</title>
	
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<h1>Harry Potter</h1>
	<h2>Character Analysis</h2>
	<h2>House: Gryffindor, 3rd Year</h2>
	<p>
		Poor Harry never manages to have a quiet year at Hogwarts, does he? Aside from doing homework and playing sports and dealing with friendship drama, Harry also has to square off with some sort of evil nemesis every year. And we don't just mean school bullies (Malfoy), horrible teachers (Snape), or crazy guardians (the Dursleys). No, we mean über-evil villains like Voldemort. And in this book, the Dementors.
	</p>
	<p>
		In Book 3, our boy-wizard hero confronts death and fear head-on in ways that start to prepare him for everything that's going to come later. Overall, this novel is a transitional story for Harry. He's starting to leave childhood behind and begin his journey to adulthood. And the journey isn't an easy one for him. So it makes sense that Harry has to deal with a lot of emotional upheaval, as well as other types of drama this year. And by drama, we mean a crazed murderer is after him. Hey, we never said he was a normal kid.
	</p>

</body>