<head>
	<title>Hermione Granger</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<h1>Hermione Granger</h1>
	<h2>Character Analysis</h2>
	<h2>House: Gryffindor, 3rd Year</h2>
	<p>
		This is really Hermione's novel in lots of ways, and it's fitting that first three books focus heavily on Harry's three closest childhood friends: the first is arguably Hagrid's, second is Ron's book, and this one is Hermione's. Hermione undergoes the strongest emotional journey in the book and evolves to such an extent that she's on level with our protagonist. And it's notable that Hermione changes the most and gets a spotlight put on her as a character in the novel that's the transitional one in the series, the one that sets the stage for the upcoming, more adult novels.
	</p>
	<p>
		Let's look at Hermione as a character, Hermione's role in this particular novel (especially her relationship with Harry), and Hermione's role in the entire hero quest saga.
	</p>

</body>