<head>
	<title>Narcissa Malfoy</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<h1>Narcissa Malfoy</h1>
	<h2>Character Analysis</h2>
	<h2>House: Slytherin, 3rd Year</h2>
	<p>
		Born Narcissa Black to Cygnus Black and his wife Druella Rosier-Black in 1955, Narcissa was the youngest child of three sisters, Bellatrix and Andromeda being her older siblings. She was the cousin of Sirius Black and Regulus Black, and later became an aunt to Nymphadora Tonks, although it is unlikely that she acknowledges the connection due to Andromeda's marriage to Muggleborn Ted Tonks. The Blacks are a very old wizarding family with firm prejudices against half-bloods, Muggleborns and Muggles, and Narcissa was no doubt taught these prejudices from an early age. She is a natural stunning beauty, though less so than her elder sister Bellatrix, and, unusually, blonde while most of the Black family appear to be dark-haired.
	</p>	

	<p>
		Narcissa attended Hogwarts, where she completed her education along with most of the young wizarding population of Britain and Ireland. She later married Lucius Malfoy, the heir of a wealthy pure-blood family, and they had one son, Draco Malfoy. Narcissa and her sister Bellatrix have a strong bond, the only two to call each other by their nicknames, Cissy and Bella respectively.
	</p>

</body>