<head>
	<title>Ron Weasley</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<h1>Ron Weasley</h1>
	<h2>Character Analysis</h2>
	<h2>House: Gryffindor, 3rd Year</h2>
	<p>
		Ron is in this novel a fair amount. During the shunning of Hermione, we pretty much just get scenes with him and Harry. But it seems like Ron isn't actually doing very much. Compared to Harry and Hermione, in Book 3 he doesn't undergo an extreme emotional experience or mature in a notable way; he doesn't have a big heroic moment. Instead, for most of the book he acts like a kid – a petulant bratty kid. The fights he gets into with Hermione are very childish, and there's an element of childish cruelty in them – just recall that scene in which he rubs it in about his rat and makes Hermione run off crying.
	</p>
	<p>
		And there's a history of this sort of behavior too – if this novel is largely about confronting darkness head-on, including darkness and negative traits within oneself, then we definitely get to tackle Ron's negative traits throughout this one (while never losing sight of his positive, pre-established traits as Harry's friend).
	</p>

</body>