<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reddit</title>
	<h2> Reddit Stuffz </h2>
</head>
<body>

<ul>
<%= title_may_blank.each do |title| %>
<li> <%=title%> </li>
</ul>
<%end%>

	
</body>
</html>