<html>
  <head>
    <title>Tshirt.ly</title>
  </head>
  <body>
    <header>
      <h1>Tshirt.ly<h1>
    </header>
    <main>
      <section>
        <article>
          <img src="http://cosmicbobo.com/images/PLAIN_BLK_01.jpg" />
          <button>I want this on my body</button>
        </article>
      </section>
    </main>
  </body>
</html>
