!!!
%html{:lang => "en"}
  %head 
    %meta{:charset => "uft-8"}
    %title Tshirt.ly | Your Order 
  %body 
    %header
    %a{:href => '/'} 
      %h1#logo Tshirt.ly 
    %h2 A T-Shirt for a Truer Youly 
    %nav 
      %ul 
        %li 
          %a{:href => '/'} Home 
        %li 
          %a{:href => "/admin"} Admins
    %main.confirm 
      %section
        %h3 You're About to Order Some Awesome
        %p You just have to confirm, let the awesome into your life.  

        %section.order

          %h4 This is Your Awesome 
          %img{:src => t_shirt.img_src, :width => "200px"}
          %p 
            %span Quanity:  
            = order.tshirt_quanity
          %p 
            %span At: 
            = t_shirt.price
          %p 
            %span Total: 
            = order.total 
          %form{:action => "/orders", :method "POST"}
            %input{:type => "hidden", :name => "tshirt_id", :value => t_shirt.id} 
            %input{:type => "hidden", :name => "tshirt_quanity", :value => order.tshirt_quanity}
            %input{:type => "hidden", :name => "total", :value => order.total}
            %label
              %span Please Enter Your Email: 
              %input{:type => "email", :name => "email"}
            %button Confirm 

