<!DOCTYPE html>
<html>
<head>
	<title>backbone practice</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script src='javascripts/jquery.js'></script>
	<script src='javascripts/underscore.js'></script>
	<script src='javascripts/backbone.js'></script>
	<script src='javascripts/app.js'></script>
</head>
<body>

	<nav>
		<a href="#">home</a>
		<a href="#movies">movies</a>
		<a href="#books">books</a>
		<a href="#hello">hello</a>
	</nav>

	<header>
		<h1></h1>
	</header>

</body>
</html>
