<html>

<head>
<title>FaceWarts: Draco Malfoy</title>
<link rel="stylesheet" type=text/css href="../stylesheets/stylesheet.css">
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="logo">
<h1><a href="/">FaceWarts</a></h1>
</div>


<h4>Draco Malfoy</h4>	

<img src ="http://img4.wikia.nocookie.net/__cb20140602031803/harrypotter/images/thumb/c/cf/Harry-Potter-The-Deathly-Hallows-Part-II.jpg/250px-Harry-Potter-The-Deathly-Hallows-Part-II.jpg" alt="Draco Malfoy">

<p><b>House:</b> <a href="/slytherin">Slytherin</a></p>
<p><b>Birthday:</b> June 5, 1980</p>
<p><b>Hometown:</b> Liverpool, England, UK</p>

<p>
	Draco is a pure-blood wizard and the only son of Lucius and Narcissa Malfoy (n&eacute;e Black). The son of a Death Eater, Draco was raised to believe strongly in the importance of blood purity. He attended Hogwarts School of Witchcraft and Wizardry from 1991 to 1998 and was sorted into Slytherin house. During his years at Hogwarts, he became friends with Vincent Crabbe, Gregory Goyle, Pansy Parkinson, and other fellow Slytherins, while he quickly developed a rivalry with Harry Potter.
</p>

<div class="social">
<p><a href="mailto:draco.malfoy@hogwarts.com"><img src="http://www.dargandigitalmedia.com/general-assembly/assets/gmail.png" alt="Gmail"></a>
  <a href="http://www.twitter.com/" target="_blank"><img src="http://www.dargandigitalmedia.com/general-assembly/assets/twitter.png" alt="Twitter"></a>
  </div>
<div class="footer">
	&copy; 2014 FaceWarts. All rights reserved.
</div>


</body>

</html>