<html>
<head>
	<title>FaceWarts</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
	<link href='http://fonts.googleapis.com/css?family=Sancreek' rel='stylesheet' type='text/css'>
</head>



<body>

	<h1>FaceWarts</h1>
	<h3>The Common Room for All Hogwarts!</h3>
	<p><center>
		<img class='student' src="http://chiteki.files.wordpress.com/2011/06/goyle.jpg">
	</center></p>
	<h4><center>Gregory Goyle</center></h4>
	<p class='student'><center>
		Guh wreck yeh face, bloke!  Sheer blimey!  Take yuh face off!
	</center></p>
</body>
</html>