<html>

<head>
<title>FaceWarts: Vincent Crabbe</title>
<link rel="stylesheet" type=text/css href="../stylesheets/stylesheet.css">
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="logo">
<h1><a href="/">FaceWarts</a></h1>
</div>

<h4>Vincent Crabbe</h4>	

<img src ="http://img1.wikia.nocookie.net/__cb20140603214243/harrypotter/images/thumb/5/58/Vincent_Crabbe1.jpg/250px-Vincent_Crabbe1.jpg" alt="Vincent Crabbe">

<p><b>House:</b> <a href="/slytherin">Slytherin</a></p>
<p><b>Birthday:</b> May, 1998</p>
<p><b>Hometown:</b> Manchester, England, UK</p>

<p>
	Vincent is a pure-blood Dark Wizard, and the son of Death Eater Crabbe Sr.. Vincent Crabbe was also a student at Hogwarts and a member of Slytherin House. Crabbe, and Gregory Goyle were rarely seen without their ringleader Draco Malfoy. While Dolores Umbridge was Headmistress, he joined the Inquisitorial Squad. In his last year at Hogwarts, he became a Dark Wizard, as he learned to cast powerful dark curses, such as the Killing and the Cruciatus Curse. He accidentally killed himself using Fiendfyre on 2 May 1998, during the Battle of Hogwarts.
</p>

<div class="social">
<p><a href="mailto:vincent.crabbe@hogwarts.com"><img src="http://www.dargandigitalmedia.com/general-assembly/assets/gmail.png" alt="Gmail"></a>
  <a href="http://www.twitter.com/" target="_blank"><img src="http://www.dargandigitalmedia.com/general-assembly/assets/twitter.png" alt="Twitter"></a>
  </div>
<div class="footer">
	&copy; 2014 FaceWarts. All rights reserved.
</div>

</body>

</html>