<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	



	<h3> Article titles </h3>
	<ul>

		<%=title_array%>
	</ul>

	<ul>

		<%=like_array%>
	</ul>
</body>
</html>