<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Dorms!</title>
</head>
<body>
  <form action="/dorms" method="POST">
    <input type="text" name="dorm_name" placeholder="Name of dorm">
    <input type="text" name="capacity" placeholder="capacity">

    <button>Submit</button>
  </form>
</body>
</html>