<!DOCTYPE html>
<h1>Profile Saver</h1>
<form action="email" method="POST">
<input type="text" name="email_to_add" placeholder="email">
<input type="text" name="first_name" placeholder="first name">
<input type="text" name="last_name" placeholder="last name">
<input type="text" name="favorite_color" placeholder="favorite color">
<button>Add Profile</button>
</form>
<a href="/email">Saved Email List</a>