<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>	
<body>
<form action="/info" method="POST">
	<input type="text" name="first_name" placeholder="Enter your firstname here...">
	<input type="text" name="last_name" placeholder="Enter lastname here...">
	<input type="text" name="email_address" placeholder="Enter an email address here...">
	<button>Submit</button>
</form>	
</body>
</html>