<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Movies with Words in Them</title>
</head>
<body>
  <h1>What movies have the following words in their titles?</h1>
  <ul>
    <li><a href="/words/friend">friend</a></li>
    <li><a href="/words/true">true</a></li>
    <li><a href="/words/monkey">monkey</a></li>
  </ul>

<!-- I would think that we would want the user to be able to give us a keyword, right? -->
<h1>Look up movies using your own search word!</h1>
<!-- would we have to create a text box on the page? and then link their input there to the path logic that we have? -->

</body>
</html>