<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Search_Words_Results_Page</title>
</head>
<body>
  <h1>Here are the movies that have your search word: {{search-word}} in them:</h1>
  <ul>
    <!-- <li>Movie: {{title}}</li>
    <li>Year: {{year}}</li>
    <li>Link: {{imdb_id}}</li> -->
    {{movie}}
  </ul>

<!-- not sure how you would make sure this replicate for each entry. we'll see if my approach (putting the client.puts for the html in the .each loop) -->

</body>
</html>

