<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List</title>
</head>
<body>

<h1>WELCOME TO SPACE TRAVEL CENTRAL! </h1>

  <a href="/astronauts">See all astronauts</a>

  <a href="/shuttles">See all shuttles</a>
</body>
</html>