<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add a shuttle!</title>
</head>
<body>
<h1>Add a new shuttle to the fleet!</h1>
  <form action="/shuttles" method="POST">
    <input type="text" name="name" placeholder="Shuttle name">
    <input type="text" name="origin_country" placeholder="Origin Country">
    <input type="text" name="destination" placeholder="Destination">
    <button>Submit</button>
  </form>
</body>
</html>