.top {
	height: 200px;
	background-color: grey;
	
}

h1 {
	font-color: white;
}

form {
	display: inline;
}

#Gryffindor {
	background-color: maroon;
}


#Ravenclaw {
	background-color: navy;
}

#Hufflepuff {
	background-color: yellow;
}

#Slytherin {
	background-color: mediumaquamarine;
}