<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Hello!</title>
</head>
<body>
  <h1>Say hello!</h1>
  <form action="/name" method="GET">
    <label>
      Name:
      <input type="text" name="first_name" placeholder="Jeffrey">
    </label>
    <button>Say Hello</button>
  </form>

  <p>Colors are fun!</p>
<form action="/colors">
  <select name="color">
    <option value="red">Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
  </select>
  <button>Submit</button>
</form>

<!--   <ul>
    <li><a href="/colors/red">Red!</a></li>
    <li><a href="/colors/green">Green!</a></li>
  </ul>
</body>
</html> -->