<script id="template" type="text/template">
	<%%= item %> 
	<span>
		<%%= quantity %>
	</span> 
	<i class="fa fa-caret-square-o-up up"></i> 
	<i class="fa fa-caret-square-o-down down"></i> 
	<i class="fa fa-trash delete-button"></i>
</script>