<html>
<head>
	<meta charset="UTF-8">
	<title>Let's Search!</title>
</head>
<body>
	<form action="/students/search_results" method="GET">
		<input type="text" name="keyword" placeholder="Enter Search">
		<select name="search_type">
			<option value="first">First Name</option>
			<option value="last">First Name</option>
			<option value="email">First Name</option>
		</select>
		<button>Submit</button>
	</form>
</body>
</html>