!!! 
%html{:lang => "en"}
%head 
  %meta{:charset => "utf-8"}
  %title The Right Track | A Rails App
%body
  %header  
    %h1 The Right Track 
    %nav 
      %ul 
        %li 
          %a{:href => "/artists"} Artists 
          %a{:href => "/songs"} Songs
  %h2 All Artists 
  %ul 
    - @artists.each do |artist| 
      %li= artist.name