<html>
<head>
	<title>Search!</title>
</head>
<body>
	<form action="/mechanics/search_results" method="GET">
		<input type="text" name="keyword" placeholder="Enter Search">
		<select name="search_type">
			<option value="name">Name</option>
			<option value="age">Age</option>
			<option value="favorite_car">Favorite Car</option>
		</select>
		<button>Submit</button>
	</form>
</body>
</html>