<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search Results</title>
</head>
<body>
	<h1>Search Results</h1>
	<p><%= @msg %></p>
	<p><a href="/search">Search again</a> | <a href="/students">Back to roster</a></p>
</body>
</html>