<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search Students</title>
</head>
<body>
	<h1>Search Students</h1>
	<form action="/search" method="post">
		<input type="text" name="name" placeholder="Student name"><br>
		<input type="submit" value="Search">
	</form>
</body>
</html>