<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List</title>
</head>
<body>
  <ul>
    <% information.each do |person| %>
      <li><%= data[:first] %> <%= data[:last] %> - <%= data[:age] %> - <%= data[:spell] %></li>
    <% end %>
  </ul>
</body>
</html>




