<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic|Exo:100,200,300,400,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic|Nunito:400,300,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Laila:400,300,500,600,700|Signika:400,300,600,700' rel='stylesheet' type='text/css'>


font-family: 'Quicksand', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Laila', serif;
font-family: 'Signika', sans-serif;




font-family: 'Josefin Slab', serif;

has 100, 300, 400, 600, 700




there's also sans



