<!DOCTYPE html>
<html>
<head><title>all the addresses</title></head>

<body>
<h1>Here's everybody's info</h1>

<ul>


<%  all_addresseskey.each do |x| %>
	 <li><%= x %></li>
<% end %>





</ul>


</body>

</html>