<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset= "UTF-8">
	<title> Email</title>
</head>
<body>
	<h1> Information </h1>
	<% information.each do |info| %>
		<li><%= info[:firstnames]+ (", ")+ info[:lastnames] + (", ") + info[:email] %></li>
	<% end %>
</body>
</html>