<!DOCTYPE html>
<html>
<body>
	<form action="/emails" method="POST">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="first" placeholder="first name">
		<input type="text" name="last" placeholder="last name">
		<input type="submit" value="submit">
	</form>
</body>
</html>