<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
			<title>Email List</title>
	</head>
		<body>
			<h1>Submitted Emails</h1>
			<div>
			
<!-- 			<% binding.pry %>-->
			<img src="<%= pic["images"]["low_resolution"]["url"] %>" >
			<% end %>
		</div>

		</body>
		

			
</html>
