	<html>
	<body>


	<form action="/emails" method="post">
	<input type="text" name="email" placeholder="Email"><br>
	<input type="text" name="first_name" placeholder="First Name"><br>
	<input type="text" name="last_name" placeholder="First Name"><br>
	<button>Submit</button>
</form>
</body>
</html>