<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
	<h1> email sign up </h1>
</head>
<body>

<form action = "/email" method="POST">
	<label>
		Input info:
			<input type="text" name="email" placeholder="Enter email">
			<input type="text" name="first_name" placeholder="First name">
			<input type="text" name="last_name" placeholder="Last name">
	</label>
	<button> Search </button>
</form>

</body>
</html>