<!DOCTYPE html>
<html lang="en"
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>Emails and Full Name</title>
</head>

<body>
	<h1>Put Your Damn Name Here . . .Or Else!!</h1>
	<form action="/emailfname" method="POST">
		<label>
		Email:
			<input type="text" name="YOUR EMAIL!!!" placeholder="PUT UR EMAIL HERE">
		</label>
		<label>
		First Name:
			<input type="text" name="YOUR FIRST F-NAME" placeholder="PUT UR DAMN F-NAME">
		</label>
		<label>
		Last Name:
		<input type="text" name="YOUR LAST F-Name" placeholder="PUT UR DMAN L-Name">
		</label>
		<button>Submit or Die</button>
	</form>
</body>
</html>
