<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Email Submission Form</title>
	</head>

	<body>
		<h1>Submit Your Information</h1>
<form action="/info" method="POST">
	<input type="text" name="email_address" placeholder="Email Address">
	<br/>
	<input type="text" name="first_name" placeholder="First Name"><br/>
	<input type="text" name="last_name" placeholder="Last Name"><br/>
	<input type="text" name="address" placeholder="Address"><br/>
	<button>Submit</button>
</form>
	</body>
</html>