<!DOCTYPE html>
<html>
<head><title>your email address</title></head>

<body>
<h1>What is your email address</h1>

<form action="/address_page" method="POST">
	<label>
		your address
		<input type="text" name="address" placeholder="youraddress.com">
	</label>
	<label>
		your first name
		<input type="text" name="first" placeholder="first name">
	</label>
	<label>
		your last name
		<input type="text" name="last" placeholder="last name">
	</label>
	<button>Submit</button>
</form>
</body>

</html>