<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset= "UTF-8">
	<title> Email</title>
</head>
<body>
	<h1>Type in your email in the submit button below</h1>
	<form action ="/information" method="POST">
		<label>
			Last Name: 
			<input type="text" name="lastnames"
			placeholder="Type your last name">
		</label>
		<label>
			First Name: 
			<input type="text" name="firstnames"
			placeholder="Type your first name">
		</label>
		<label>
			Email:
			<input type="text" name="email"
			placeholder="Type your email">
		</label>
		<button> SUBMIT </button>
	</form>

	