<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Submitted Information</title>
</head>

<body>
	<h1>Submitted Information</h1>
<ol>
		<% information.each do |info| %>
		<%= info %>
		<% end %>
</ol>
	<p><a href="/">Home</a></p>

</body>

</html>