/* poor man's reset */

* {
	margin: 0;
	padding: 0;
}

/* index view */

.index {
	text-align: center;
	font-size: 3em; 
}

.index .wrapper {
	margin: auto;
	width: 75%;
}

.index .wrapper h1 {

	margin-bottom: .25em;

}

.index .wrapper ul li {
	list-style-type: none;
}

.index .wrapper ul li a {
	display: block; 
	width: 100%;
	font-family: impact; 
	text-decoration: none; 
}

.index .wrapper ul li a:link {

}

.index .wrapper ul li a:visited {

}

.index .wrapper ul li a:hover {
	background-color: green;

}


.index .wrapper ul li a:active {

}

/* students view */ 

.student .wrapper {
	padding-top: 1em;
	margin: auto; 
	width: 75%;
}

.student .wrapper img {
	height: 6em;

} 

.student .wrapper p {
	display: inline;
}

.student .wrapper p span.special_name {
	font-weight: 600; 

}

