div.shirt {
	border: 1px black solid;
	height: 133px;
	width: 100px;
	margin: 0 auto;
}

div.shirt_window {
	border: 1px black solid;
	height: 95px;
	width: 80px;
	/*margin-left: -6px;*/
	/*margin-top: 10px;*/
	margin: 10px auto;
}

div.row {
	margin-bottom: 25px;
}

div.shirt_window img {
	height: 100%;
	width: 100%;
}
