<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>instagram api</title>
</head>
<body>
	<h1>What you want to see</h1>

	<input id="subject_input" type="text" placeholder="what to see">
	<button>Get photos</button>

	<ul></ul>

<!-- here's the javascript i'm copying from this afternoon -->
<!--	<script type="text/javascript">
		var subjectInput = document.getElementById('subject_input');
		var button = document.querySelector('button');
			button.addEventListener("click", fetch(photos));


		var ul = document.getElementsByTagName('ul');

		function fetch(photos) {
			var xhr = new XMLHttpRequest();

			xhr.addEventListener('load', function() {
				// insert photos in lis here

			});
			xhr.open('GET', ?????????);

			xhr.send()
		}
	</script>
-->

</body>
</html>





