body {
	margin-top: 30px;
	background-color: Silver;
    background-size: cover;
	font-family: 'Droid Serif', serif;	
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

body div {
	width: 500px;
	margin: 0 auto;
}

h1 {
	color: DarkRed;
}

body a {
	color: Brown;
}

body a:hover {
	color: Coral;
}
li strong {
	font-weight: 700;
}

input {
	width: 300px;
	height: 20px;
	padding: 3px;
	border: solid 1px Brown;
	display: block;
	margin-top: 6px;
	font-size: 13px;
}

textarea {
	width: 300px;
	padding: 3px;
	border: solid 1px Brown;
	display: block;
	margin: 6px 0;
	font-size: 13px;
}