<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<%= erb(:template) %>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>
	<script src="script.js"></script>



</head>
<body>
	<main>
		<header>
			<div class="heading">Shopping List</div>
			<ul class="list"></ul>
			<input type="text" class="item-entry" placeholder="Add an item!">
		</header>
	</main>
</body>
</html>