<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
  <title>Movies with Words in Them</title>
</head>
<body>
  <h1>What musics have the following words in their titles?</h1>

  <form action="/artist" method="GET">
    <input type="text" name="artist_name" placeholder="Enter an artist name..." />
    <button>Submit</button>
  </form>
</body>
</html>