<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>What you want</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/instastyle.css">
</head>

<body>
	<h1>Pictures of {{search_term}}</h1>
		
<!--I have no idea how to make this button
 -->
<!--value is prefilled input -->
<form action="/save_me" method="POST">
	<input type="hidden" name="save_this" value="{{search_term}}"/>
	<button>Save this search</button>
</form>


	<div>{{photos}}</div>



<footer><a href="/">Back to Search</a></footer>

</body>
</html>