<html>
  <head>
    
  </head>
  <body>  
  <form action="/add/shirt" method="POST">
    <input type="text" name="name" placeholder="name">
     <input type="text" name="quanity" placeholder="how many">
      <input type="text" name="url" placeholder="picture">
      <input type="text" name="price" placeholder="price">
      <button>ADD</button>

  </body>
</html>