<html>
<head>
	
	<title>FaceWarts</title>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>

	<h1>Gryffindor Students</h1>
	<h3>Even members of other houses might have felt that Gryffindor received favouritism, considering that many saw Harry being chosen as the fourth competitor in the Triwizard Tournament as stealing Hufflepuff student Cedric Diggory's thunder unfairly.</h3>

	<h2><a href="/gryffindor/bell">Katie Bell</a></h2>
	<p>
	Katie Bell (born c. 1978-1979) was a witch and a Gryffindor student at Hogwarts School of Witchcraft and Wizardry from 1990 to 1997. 
	</p>
	<h2><a href="/gryffindor/patil">Parvati Patil</a></h2>
	<p>
	Parvati Patil (b. 1979 or 1980), a witch of Indian descent, was the daughter of Mr. and Mrs. Patil, and the identical twin sister of Padma. She was also a Gryffindor student at Hogwarts School of Witchcraft and Wizardry, while Padma was a Ravenclaw. 
	</p>
	<footer>
		<a href="/">Facewarts Home</a>
	</footer>
</body>

</html>