<html>
<head>
	<title>FaceWarts</title>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>

	<h1>Slytherin Students</h1>
	<h3> Slytherins tend to be ambitious, shrewd, cunning, strong leaders, and achievement-oriented. They also have highly developed senses of self-preservation.[9] This means that Slytherins tend to hesitate before acting, so as to weigh all possible outcomes before deciding exactly what should be done.</h3>

	<h2><a href="/slytherin/parkinson">Pansy Parkinson</a></h2>
	<p>
	Pansy Parkinson was a witch in Harry Potter's year at Hogwarts School of Witchcraft and Wizardry. 
	</p>
	<h2><a href="/slytherin/pike">Pike</a></h2>
	<p>
	He was part of Draco Malfoy's gang in 1993 and 1994 and was one of the Slytherins that imitated a Dementor in a effort to scare Harry in the first Care of Magical Creatures class of the year. 
	</p>
<footer>
	<a href="/">Facewarts Home</a>
</footer>
</body>

</html>