<h1>Song List</h1>
<ul>
  <% songs.each do |song| %>
    <li>
      <a href="/songs/<%= song.id %>">
        <%= song.name %>
      </a>
    </li>
  <% end %>
</ul>

<h3>Add an song below</h3>

<form action="/songs" method="POST">
  <label>
    Name:
    <input name="name" />
  </label>
  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

  <button>Add a Song</button>
</form>