
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset= "UTF-8">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title> Email/title>
</head>
<body>
	<h1>Type in your email in the submit button below</h1>
	<form action ="/tags" method="POST">
		<label>
			Name: 
			<input type="text" name="email"
			placeholder="Type your email">
		</label>
		<button> SUBMIT </button>
	</form>

	