<html>
<head>
	<title>Dorms</title>
</head>
<body>

	<h1> Name of Dorm and Capacity! </h1>
	<!-- See server.rb - result is the variable we would like to pass, andw e set it to a key of student so it is accesible in teh view. They do not have to be teh same exact variable names for it to work. -->
	<h3> <%="#{dorm["name"]}  #{dorm["capacity"]}" %> </h1>
</html>