<!-- do i need to update the link to stylesheet? -->
<!-- do i need to add the {{css}} tag too? -->
<!-- how come i dont need to have all the header stuff? because this is just something that the main results page reads? -->

<!-- took the link part out, because i have to go back to the musicbrainz site and figure out what this path looks like 

<a href="http://imdb.com/title/{{imdb_id}}">See IMDB</a> -->
<!-- 
what our link will look like:
"http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10570173_1447883428819673_570160209_a.jpg"

but we dont want to display the link, we want to display the picture! -->

<li>
	<ul>
		<li><img src="{{pic_url}}" style = width:{{width}} height:{{height}}/></li>
		<!-- the above should displays the image -->
		<li>Filter used: {{filter}}</li>
	</ul>
</li>

