<!-- THIS PAGE WILL DISPLAY ALL THE SAVED TAGS
THE BUTTON ON THE TAG_RESULTS PAGE SHOULD LINK DIRECTLY TO THIS ONE
 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<!-- do i need to update the link to stylesheet? -->
<!--   <link rel="stylesheet" type="text/css" href=".views/styles.css">

  <link rel="stylesheet" type="text/css" href="/styles.css"> -->

<!-- do i need to add the {{css}} tag too? -->
{{css}}

  <title>Saved Instagram Tag Searches</title>
</head>

<body>
  <h1>Saved Instagram Tag Searches</h1>

  <h2>Here are your saved search tags:</h2>
  <ul>
    {{saved_tags}}
  </ul>
  <h2><a href="/">Return to the home page and search again</a></h2>
</body>
</html>