<html>
<head>
	<title></title>
</head>
<body>
	<%random_users.each do |user| %>
		<li>
			<a href="/user/<%= user.user_id %>"></a> 

		</li>
	<%end%>

	<form action="/user/create" method = "POST">
		<button>New Random User</button>
	</form>

</body>
</html>