<!DOCTYPE html>
<html>
<head></head>
<body>
	<h2>Add a car to the list</h2>
	<form action="/cars/add" method="POST">
		<div><input type="text" name="make" placeholder="Toyota, Honda, etc">Of what make?</input></div>
		<div><input type="text" name="model" placeholder="Taurus, F150, etc">And what model?</input></div>
		<div><input type="text" name="color" placeholder="Blue, Red, etc">Finally, what color?</input></div>
		<button>Submit</button>
	</form>
</body>
</html>
