<!DOCTYPE html>
<html>
<head></head>
<body>
	<h2>AN AUTOGRAPHY</h2>
	<div><a href="/mechanics/show">See all mechanics</a></div>
	<div><a href="/mechanics/add">Add a mechanic to the Autography</a></div>
	<div><a href="/mechanics/search">Search for a particular mechanic</a></div>
	<div><a href="/cars/show">See all cars</a></div>
	<div><a href="/cars/add">Add a car to the Autography</a></div>
	<div><a href="/cars/search">Search for a car</a></div>
</body>
</html>