<!DOCTYPE html>
<html>
<head></head>
<body>
	<h2><%= mechanic["name"] %></h2>
	<div><img src=" <%=mechanic['image'] %>"></div>
	<h4>Age: <%= mechanic["age"] %> </h4>
	<h4>Favorite Car: <%= mechanic["car"] %> </h4>
</body>
</html>

