<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Emails</title>
</head>
<body>
  <h1>Submit your email!</h1>

  <a href='/emails'>Email List</a>
  

  <form action="/emails" method="POST">
      <label>Email: <input type="text" name="email" placeholder="Email"></label>
      <label>First Name: <input type="text" name="first" placeholder="First Name"></label>
      <label>Last Name: <input type="text" name="last" placeholder="Last Name"></label>
    <button>Submit</button>
  </form>



</body>
</html>

