<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Emails!</title>
</head>
<body>

	<div class="top">
		<h1> Email Saver</h1>
	</div>
		
	<div class="main">	
		<h3> Saved Emails: </h3>
		<form action="/register" method="POST">
			<input type="text" name="first_name" placeholder="Enter first name!" />
			<input type="text" name="last_name" placeholder="Enter last name!" />
	    	<input type="text" name="email" placeholder="Enter email!" />
	    	<button>Register!</button>
	  	</form>
		<ul>

		</ul>

</body>
</html>