<html>
<body>
	<form action="/mechanics" method="POST">
		<input type="text" name="name" placeholder="Name"><br />
		<input type="text" name="age" placeholder="Age"><br />
		<input type="text" name="favorite" placeholder="Favorite Car"><br />
		<button>Add Mechanic</button>
	</form>
	<br>
	Choose a number of random mechanics to add
	<form action="/random_mechanic" method="POST">
		<input type="text" name="how_many" placeholder="How Many?">
		<button>Add Them!</button>
</body>
</html>