<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="UTF-8">
	<title>Otto's Mechanics</title>
</head>
<body>
	<header>
		<h1><a href="/">Otto's Autos</a></h1>
	</header>
	<form action="/addcar" method="POST">
    <input type="text" name="make" placeholder="Make">
    <input type="text" name="model" placeholder="Model"><input type="text" name="color" placeholder="Color">

    <button>Submit</button>
  </form>
 </body>
 </html>