<html>
<body>
<a href="/add/car">Add a Car</a>
<a href="/">Homepage</a>
<a href="/search/car">Search</a>
<ol>
<% cars.each do|x|%>
<li><a href ="/car/<%=x["model"]%>"><%=x["model"]%></a></li>
<%end%>
</ol>


</body>
</html>