<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cars</title>
</head>
<body>

	<h1> <%= Model: "#{car["model"]}" %> </h1>
	<h2> <%= Make: "#{car["make"]}" %> </h2>
	<h2> <%= Color: "#{car["color"]}" %> </h2>
</body>
</html>