<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>Add Car</title>
</head>
<body>
	<h1>Add a car here</h1>
	<form action="/cars" method="POST">
		<input type="text" name="make" placeholder="Make"><br/>
		<input type="text" name="model" placeholder="Model"><br/>
		<input type="text" name="color" placeholder="Color"><br/>
		<button>RevIt</button>
	</form>
</body>
</html>