<html>

<body>
  <a href="/">Homepage</a>

<form action="/car" method="POST">
<input type="text" name="make"
placeholder="make of car"/>
<input type="text" name="model"
placeholder="model of car"/>
<input type="text" name="color"
placeholder="color of car"/>
<button>SUBMIT</button>
</form>
</body>


</html>