<html>

<body>
  <% if results.length == 0 %>
    <p>NONE FOUND</p>
  <% else %>
    <ol>
      <%results.each do |x|%>
      <li><%=x["make"]%> <%=x["model"]%> <%=x["color"]%></li>
    <%end%>
    </ol>
  <% end %>
</body>

</html>