<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cars</title>
</head>
<body>
	<a href="/cars/new">Add a new car</a>
	<ul>
		<% cars.each do |cars| %>
			<li><%= car["make"] %>, <%= car["model"] %>, <%= car["color"] %>/li>
		<% end %>
	</ul>
</body>
</html>