<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Results</title>
</head>
<body>
	<h1>The Garage</h1>
	<a href='/'>Home</a>
	<a href='/cars'>Add/See Cars</a>
	<a href='/mechanics'>Add/See Mechanics</a>

	<h3>Cars:</h3>
	<ul><% cars.each do |car| %>
		<li>Make: <%= car["make"] %>, Model: <%= car["model"] %>, Color: <%= car["color"] %></li>
		<% end %>
	</ul>

</body>
</html>