<html>
<body>
<form method = "GET" action ="/results/car">
<input type="checkbox" name="make" value="make">SEARCH BY MAKE
<input type="checkbox" name="model" value="model">SEARCH BY MODEL
<input type ="text" name="word" placeholder="searching for"/>
<button>SUBMIT</button>

</form>


</body>


</html>