<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Info</title>
</head>
<body>

  <a href="/mechanics">View all mechanics</a>

  <a href="/cars"> View all cars</a>

</body>
</html>