<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Garage</title>
	<h2> Rosencrantzzz Garage </h2>
</head>
<body>

<a href="/mechanic"> See Mechanics Profiles </a>
<br>
<a href="/mechanic/add"> Add a new Mechanic Profile</a>
<br>
<br>
<a href="/cars"> See cars in garage in repair</a>
<br>
<a href="/cars/add"> Add a new car </a>
<br>
<br>
<br>
	<label>
	Search for car:
	<form action="/car_search" method="GET">
		<input type="text" name="data" placeholder="Search make">	
		<br>
	OR:
		<br>
		<input type="text" name="data" placeholder="Search model">	
		<br>
		<button>Search</button>
	</label>
	</form>

</body>
</html>