<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Mechanics and Cars</title>
	</hend>
	<body>
		<p><a href="/mechanics">Go and take a look at all the mechanics</a>

		<p><a href="/cars">Cars, Cars, Cars and More Cars!</a>

	</body>
</html>