<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<form action="/add/car" method="GET">
		<button>Add car</button>
	</form>
		<form action="/add/mechanic" method="GET">
		<button>Add mechanic</button>
	</form>
	<form action="/search/car" method="GET">
		<input type="text" name="criteria" placeholder="make or model">
		<button>Search cars</button>
	</form>	
	<form action="/search/mechanic" method="GET">
		<input type="text" name="criteria" placeholder="name or favourite model">
		<button>Search mechanics</button>
	</form>	


</body>
</html>