<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="UTF-8">
	<title>Otto's Autos</title>
</head>
<body>
	<header>
		<h1><a href="/">Otto's Autos</a></h1>
	</header>
	<h1>How can we help you?</h1>
	<a href="/mechs">check out our mechanics here!</a>
	<a href="/cars">check out our current cars here!</a>
	<a href="/addmech">Get hired!</a>
	<a href="/addcar">Get serviced!</a>
</body>
</html>