<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Mechanic Registration Form</title>
</head>
<body>
	<h1> Mechanics and Cars</h1>

	<h3>Mechanic Registry</h3>
	<p><a href="/register">Register New Mechanic</a></p>
	<p><a href="/mechanics">View Mechanic Registry</a></p>
	<p><a href="/search">Search for Mechanics</a></p>

	<h3>Car Registry</h3>
	<p><a href="/register_car">Register New Car</a></p>
	<p><a href="/cars">View Car Registry</a></p>
	<p><a href="/search_cars">Search for Cars</a></p>

</body>
</html>