<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Caramel</title>
</head>
<body>
	<h1>Car Place Thing Land Cars</h1>
	<h2>Sign Up to Be a Mechanic w/ Us</h2>
	<form action="/mechs" method="POST">
		<label>Name:<input type="text" name="name"></label>
		<label>Age:<input type="text" name="age"></label>
		<label>Favorite Car:<input type="text" name="favorite_car"></label>
	</form>
	<h2>Get Your Car in for Repairs</h2>
	<form action="/cars" method="POST">
		<label>Make:<input type="text" name="make"></label>
		<label>Model:<input type="text" name="model"></label>
		<label>Color:<input type="text" name="color"></label>
	</form>
</body>
</html>