<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Info</title>
</head>
<body>

  <ol>

  <li><a href="/mechanics">View all mechanics</a></li>

  <br>

  <li><a href="/cars"> View all cars</a></li>

  </ol>

</body>
</html>