<html>
<body>
<form method = "GET" action ="/results/mechanic">
<input type="checkbox" name="name" value="name">SEARCH BY NAME
<input type="checkbox" name="fav" value="fav">SEARCH BY MODEL
<input type ="text" name="word" placeholder="searching for"/>
<button>SUBMIT</button>

</form>


</body>


</html>