<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Information Input</title>
	<h2> Rosencrantzz Garage: Mechanic Info Input </h2>
</head>
<body>
	<form action="/mechanic" method="POST">
	<input type="text" name="first_name" placeholder="First Name">
	<br>
	<input type="text" name="last_name" placeholder="Last Name">
	<br>
	<input type="text" name="age" placeholder="Age">
	<br>
	<input type="text" name="favorite_car" placeholder="Favorite Car">
	<br>
	<button> Submit </button>
	</form>

</body>
</html>