<html>

<body>
  <a href="/">Homepage</a>

<form action="/mechanic" method="POST">
<input type="text" name="name"
placeholder="name of mechanic"/>
<input type="text" name="age"
placeholder="age of mechanic"/>
<input type="text" name="favorite"
placeholder="favorite car"/>
<button>SUBMIT</button>
</form>
</body>


</html>