<html>
<body>
	<h1>Search Mechanics</h1>
	<form action="/mechanic" method="GET">
		<input type="text" name="search" placeholder="Search Name Or Car">
		<button>Search</button>
	</form>
</body>
</html>