<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome!</title>
</head>
<body>
  <form action="/cars" method="POST">
    <input type="text" name="make" placeholder="Car Make">
    <input type="text" name="model" placeholder="Car Model">
    <input type="text" name="color" placeholder="Car Color">

    <button>Submit</button>
  </form>
</body>
</html>