<html>
<body>
	<h1>Add Mechanic</h1>
	<form action="/mechanic" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="age" placeholder="Age">
		<input type="text" name="fave_car" placeholder="Favorite Car">
		<button>Submit</button>
</body>
</html>
