<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add a mechanic to our humble database</title>
</head>
<body>

  <form action="/mechanics" method="POST">
    <input type="text" name="name" placeholder="Enter a name">
     <input type="text" name="age" placeholder="Enter an age">
      <input type="text" name="favorite_car" placeholder="Enter favorite car">

      <button> Submit </button>

  </form>
</body>
</html>