<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add a car to our humble database</title>
</head>
<body>

  <form action="/cars" method="POST">
    <input type="text" name="make" placeholder="Enter a make">
     <input type="text" name="model" placeholder="Enter a model">
      <input type="text" name="color" placeholder="Enter favorite color">

      <button> Submit </button>

  </form>
</body>
</html>