<html>
<body>
	<h1>Add Car</h1>
	<form action="/car" method="POST">
		<input type="text" name="make" placeholder="Make">
		<input type="text" name="model" placeholder="Model">
		<input type="text" name="color" placeholder="Color">
		<button>Submit</button>
</body>
</html>
