<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HiYa!</title>
</head>
<body>
	<form action="/mechanics" method="POST">
		<input type="text" name="name" placeholder="mechanic's name">
		<input type="text" name="age"  placeholder="age">
		<input type="text" name="fav_car" placeholder="favorite car">

		<button>Rev Her Up</button>
	</form>
</body>
</html>