<!DOCTYPE html>
<html lang="en">
<head>
  <title>Big Shot</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div id="wrapper">
    <h1> Big Shot Luxe Garage </h1>
    <hr />
  <navigation>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/cars">Cars</a>
    </ul>
  </navigation>
    <h4> Add a new mechanic to the team </h4>

    <form action="/mechanic/new" method="POST">
      <input type="text" name="first" placeholder="Mechanic first name"><br />
      <input type="text" name="last" placeholder="Mechanic last name"><br />
      Age: <input type="number" name="age"><br />
      <input type="text" name="fav_car" placeholder="Enter favorite car"><br />
      <button>Submit</button>
    </form>

  <% mechanics.each do |m| %>
  <ul>
  <a href="/mechanics/<%= m['last'] %>"<li><%= m["first"] + " " + m["last"] %></li></a>
</ul>
  <% end %>
  </div>
</body>
</html>
