<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mechanic Profile</title>
</head>
<body>


	<p> <%=data_mechanics[0]["name"]%>, age: <%=data_mechanics[0]["age"]%>, favourite car: <%=data_mechanics[0]["fav_car"]%> <p>
</body>
</html>