<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Mechanic Registration Form</title>
</head>
<body>
	<h1>Register New Mechanic</h1>
	<form action="/mechanics" method="POST">
		<input type="text" name="name" placeholder="Mechanic Name">
		<input type="text" name="age" placeholder="Age"><br>
		<input type="text" name="favorite_car" placeholder="Favorite Car">
		<button>Submit</button>
	</form>

	<p><a href="/search">Search for Mechanics</a></p>
</body>
</html>