<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Car Registration Form</title>
</head>
<body>
	<h1>Register New Car</h1>
	<form action="/cars" method="POST">
		<input type="text" name="make" placeholder="Make of Car">
		<input type="text" name="model" placeholder="Model"><br>
		<input type="text" name="color" placeholder="Color">
		<button>Submit</button>
	</form>

	<p><a href="/register_car">View Car Registry</a></p>
	<p><a href="/search_cars">Search for Cars</a></p>
</body>
</html>