<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="UTF-8">
	<title>Otto's Mechanics</title>
</head>
<body>
	<header>
		<h1><a href="/">Otto's Autos</a></h1>
	</header>
	<h1>Let's see what we found...</h1>
	<P><%= results %></p>
</body>
</html>