<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Car Search</title>
</head>
<body>
	<h1>Search for a Car</h1>
	<form action="/search_cars" method="POST">
		<input type="text" name="make" placeholder="Make of Car">

		<button>Search</button>
	</form>

	<form action="/search_cars" method="POST">
		<input type="text" name="model" placeholder="Model">

		<button>Search</button>
	</form>

	<p><a href="/register_car">Register New Car</a></p>
	<p><a href="/cars">View Cars Registry</a></p>
</body>
</html>

