<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mechanic Search</title>
</head>
<body>
	<h1>Search for a Mechanic</h1>
	<form action="/search" method="POST">
		<input type="text" name="name" placeholder="Mechanic Name">

		<button>Search</button>
	</form>

	<form action="/search" method="POST">
		<input type="text" name="make" placeholder="Car Make and Model">

		<button>Search</button>
	</form>

	<p><a href="/register">Register New Mechanic</a></p>
	<p><a href="/mechanics">View Mechanics Registry</a></p>
</body>
</html>

