<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mechanic Search</title>
</head>
<body>

<h1>Search for a Mechanic</h1>

<form action="/mechanics/search" method="GET">
    <input type="text" name="name" placeholder="Enter a name">
    <input type="text" name="favorite_car" placeholder="Enter favorite car">

      <button> Search </button>

  </form>

</body>
</html> -->