<html>
<body>
<a href="/add/mechanic">Add a Mechanic</a>
<a href="/">Homepage</a>
<a href="/search/mechanic">Search</a>
<ol>
<li><% mechanics.each do|x|%>
<%=x["name"]%> is <%=x["age"]%> and likes <%=x["fav"]%></li>
<%end%>
</ol>
</body>
</html>