<html>
<head>


	<title>FaceWarts</title>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">

</head>

<body>

<h1>FaceWarts</h1>
<h3>Connecting Witches and Wizards since before Zuckerberg had the same idea</h3>

<p>
Harry Potter is a series of seven epic fantasy novels written by the British author J. K. Rowling. The series, named after the titular character, chronicles the adventures of a young wizard, Harry Potter, and his friends Ronald Weasley and Hermione Granger, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry's quest to overcome the Dark wizard Lord Voldemort, who aims to become immortal, conquer the wizarding world, subjugate non-magical people, and destroy all those who stand in his way, especially Harry Potter.

Since the release of the first novel, Harry Potter and the Philosopher's Stone, on 30 June 1997, the books have gained immense popularity, critical acclaim, and commercial success worldwide.[2] The series has also had some share of criticism, including concern for the increasingly dark tone. As of July 2013, the books had sold between 400 and 450 million copies, making them one of the best-selling book series in history, and had been translated into 73 languages.[3][4] The last four books consecutively set records as the fastest-selling books in history, with the final instalment selling approximately 11 million copies in the United States within the first twenty-four hours of its release.	

</body>

</html>