<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="UTF-8">
	<title>Characters</title>
</head>
<body>
	<header><h1><a href="/">Lost Directory</a></h1></header>
	<h1><%= char["name"] %></h1><% binding.pry %>
	<p><%= char["name"] %> lives at <%= Home.find_by("id", char["home"]) %> and looks like this:<p><img src="<%= char["url"] %>">
	</ul>
</body>
</html>