<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="UTF-8">
	<title>TOC</title>
</head>
<body>
	<header><h1><a href="/">Lost Directory</a></h1></header>
	<h1>TOC</h1>
	<ul>
		<li><a href="/characters">characters</a></li>
		<li><a href="/characters/new">add a character</a></li>
		<li><a href="/houses">houses</a></li>
</body>
</html>