body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body img {
  display: block;
  width: 100%;
}

header img{
  height: 400px;
}

header {
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

header h1 {
  position: relative;
  top: -270px;
  color: white;
  text-align: center;
}

nav {
  margin-top: -120px;
  background-color: #121212  ;
  height: 60px;
  padding-top: 10px;

}

nav ul li {
  list-style-type: none;
  display: inline;
  text-align: center;
  margin: 2px;
  padding: 10px;
  color: #FFF;
}

main {
  padding: 20px;
}

main > article {
  padding-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 20px;
}

hr {
  color: #E0E0E0  ;
}

section {
  margin: 0 auto;
  padding-bottom: 90px;
}

section article div{
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;
}

section article {
  display: inline-block;
  margin: 0 auto;
  width: 30%;
}

.bottom-text {
  padding-bottom: 40px;
}