<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Bank For You</h2>
	<h3>Please log in</h3>
	<form action="/user" method="GET" enctype="json">
		<input type="text" name="email" placeholder="eMail address">
		<input type="text" name="password" placeholder="password">
		<button>Submit</button>
	</form>
	<h3>Or, create an account</h3>
	<form action="/user" method="POST" enctype="json">
		<input type="text" name="email" placeholder="email">
		<input type="text" name="password" placeholder="password">
		<input type="text" name="password_conf" placeholder="confirm password">
		<button>Submit></button>
</body>
</html>