<!DOCTYPE html>
<html>
<head></head>
<body>
	<h1>Thanks for submitting your email!</h1>
<!-- </br> -->
	<h1>Here's a list of all saved emails</h1>
	<ul>
		<li><%=all_emails%></li>
	</ul>
</body>
</html>

<!-- could also create the list <li> tags in the server -->