<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirmation Page</title>
</head>
<body>

  <p>This is a confirmation page for your recent purchase. Thank you for choosing Awesome Tshirts L.L.C. </p>

</body>
</html>