<script id="template" type="text/template">
<h2> <%%= item %> <%%= quantity %></h2>
<input class='quantity' placeholder='quantity'></input>
<button class='test'>Remove</button>
<input type='checkbox' class='bought'></input>
</script>