<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Random Users</title>
</head>
<body>

 
  <form action="/users/page_length" method="GET">
    <p>How many random users do you want</p>
    <input type="number" name="page_length" placeholder="Number of Users" /><br>
    <button>Submit</button>
  </form>



</body>
</html>