<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Breed</title>
</head>
<body>
	<h1>Edit Breed</h1>
	<form action="/breeds/<%= breed.id %>" method="POST">
		<input type="hidden" name="_method" value="PUT">
		<input type="text" name="name" placeholder="Name">
		<button>Submit</button>
	</form> 
</body>
</html
