h1 {
	color: rgba(216, 0, 57, 0.8);;
	text-align: center;
}
h2 {
	color: rgba(216, 0, 57, 0.8);;
	text-align: center;
}
h3 {
	color: rgba(216, 0, 57, 0.8);;
	text-align: center;
}
p {
	text-align: center;
	color: rgba(0, 91, 198, 1);
}
.button {
	text-align: center;
}
body {
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  background: url("http://free13k.com/server13/photos/vinQpDxWRLoXYM~/5134_Camera-Rainbow-Instagram_1440x900.jpg");
  background-size: auto;
  background-repeat: auto;
  background-position: center;
}
.myDiv {
	text-align: center;
}