<!DOCTYPE html>
<head>
	<title>Hogwarts</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/houses">Houses</a></li>
			<li><a href="/students">Students</a></li>
			<li><a href="/students/new">Enroll New Student</a></li>
		</ul>
	</nav>
	<h1>Hogwarts Registry 2.0</h1>
	<h3>Now with improved magic!</h3>	
</body>