<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Hoggy-Warty-Hogwarts</title>
  </head>
  <body>
    <a href="/characters">Characters</a>
    <a href="/houses">Houses</a>
  </body>
</html>
