<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Character Generator</title>
  </head>
  <body>
    <h3>Create a new characters</h3>
    <hr >
    <form action="/characters" method="POST">
      <input type="text" name="name" placeholder="Character name">
      <input type="text" name="image_url" placeholder="Enter image URL">
      <select name="house_id">
        <% houses.each do |house| %>
        <option value="<%= house["id"] %>"><%= house["name"] %></option>
        <% end %>
      </select>
      <button>Submit</button>
    </form>
  </body>
</html>
