<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Dog Breeds Database</title>
  <h1>Welcome To Dog Breeds Database</h1>
</head>
<body>
   <form action="/dogs" method="POST">
    <input type="text" name="breed_name" placeholder="Add a new breed name" />
    <!-- type=email is backwards-compatible, now form is future proof -->
    </select>
    <button>Submit</button>
  </form>
</body>
</html>