<html>
<head>
	<title>DOGS</title>
</head>
<body>
	<form action="/dogs" method="POST">
		<input type="text" name="name" placeholder="Dog's name">
		<input type="text" name="breed" placeholder="Dog's breed">
		<button>Submit</button>
	</form>	
	<a href="/dogs">Go to dogs page</a>
</body>
</html>