<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pic Me</title>
</head>
<body>
	<div id="results"></div>

	<input type="text" name="search">
	<button>Search</button>


	

	<script>

		
// console.log("results")
		

		function fetch(search) {
			var xhr = new XMLHttpRequest();
			var results = document.getElementById('results');

			xhr.addEventListener('load', function(){
				var output = xhr.response
				output = JSON.parse(output)

				for (i = 0; i < output["data"].length; i++){
					var images = document.createElement("img");

					images.src = output["data"][i]["images"]["low_resolution"]["url"]

					results.appendChild(images)	
				}
			});
			xhr.open('GET', '/monkey?search=' + encodeURIComponent(search));
			xhr.send();
		}

		var btn = document.querySelector('button')
// var btn_input = 0

		btn.addEventListener('click', function(event) {
			
			var btn_input = document.querySelector('input').value

			fetch(btn_input)
		})
	</script>
</body>
</html>