!!! 
%html{:lang => "en"}
	%head 
		%meta{:charset => "uft-8"}
		%title Pic Me 
	%body 
		%section 
			%h1 Pic Me
			%ul#pictures 
			%input#city{:type => "text"} 
			%input#search{:type => "text"}
			%button#button Pic Me 
	%script{:src => "script.js"}