<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>
		<input name="city" placeholder="place, please" />
		<button>What's it look like?</button>
		<ul id="ul">
		</ul>
<script src="scripts.js"></script>
</body>
</html>