<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<title>Instagram Tag Search</title>
	</head>

<body>
	<pre></pre>
	<h1>Instagram Search</h1>
	
	<h3>Search by tag</h3>
		<input type="text" name="search" placeholder="Search for a tag..." />
		<button>Search</button>
			<h3>Results</h3>

	<pre></pre>

  <script type="text/javascript">
  getTags()
    var pre = document.querySelector('pre');

    function fetch(title) {
      var xhr = new XMLHttpRequest();
 
      xhr.addEventListener('load', function(){ 
        pre.innerText += xhr.response + '\n';
      });
      xhr.open('GET', '/ ' + encodeURIComponent(tag));
      xhr.send()
    }
	</script>


<script>
locationPictures()

function getLocation(location){

  var xhr = new XMLHttpRequest();
  xhr.addEventListener('load', function(){
  stuff = xhr.response
  stuff = JSON.parse(stuff)
  console.log(stuff)

    for(i = 0; i < stuff["data"].length; i++){
        var pre = document.querySelector('pre');
        var images = document.createElement("img")

        images.src =stuff["data"][i]["images"]["standard_resolution"]["url"]

        pre.appendChild(images)
    }

});


  xhr.open('GET', '/locations?location=' + encodeURIComponent(location));

  xhr.send()


}

function locationPictures(){
      var button = document.querySelector("button")
      button.addEventListener('click', function(){
      var inputBox = document.querySelector("input")
      var locationInfo = inputBox.value
      getLocation(locationInfo)
      })
    }

</body>
</html>
