<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Moar Instagram</title>
	<h3> Moar Instagram Stuff </h3>
</head>
<body>
	<input type="text" placeholder="City" name="city" id="city">
	<input type="text" placeholder="Search Term" name="search" id="search">
	<button> Submit </button>

</body>
<script src="./server.js"></script>
</script>
</html>