<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seattle Grace Hospital - New Patient</title>
</head>
<body>
	<h1>Seattle Grace Hospital</h1>
	<h2>New Patient</h2>
	<form action="/" method="post">
		First name<br>
		<input type="text" name="first"><br>
		Last name<br>
		<input type="text" name="last"><br>
		Condition<br>
		<input type="text" name="condition"><br>
		<input type="submit" value="Add Patient">
	</form>
</body>
</html>