<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seattle Grace Hospital - Search Patients</title>
</head>
<body>
	<h1>Seattle Grace Hospital</h1>
	<h2>Search Patients</h2>
	<form action="/results" method="get">
		<p>Search by first name:<br>
			<input type="text" name="first">
			<input type="submit">
		</p>
	</form>
		<p>OR</p>
	<form action="/results" method="get">
		<p>Search by condition:<br>
			<input type="text" name="condition">
			<input type="submit">
		</p>
	</form>
</body>
</html>