<html>
<head>
	<title>Astronauts and Shuttles</title>
		<link href='http://fonts.googleapis.com/css?family=Orbitron:400,900,500,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
	<p><a href="/astros">See all astronauts</a></p>
	<p><a href="/shuttles">See all the shuttles</a></p>
	<p><a href="/astros/new">Add an Astronaut</a></p>
	<p><a href="/shuttles/new">Add a Shuttle</a></p>

</body>
</html>