<html>
<head>
	<title>New Shuttle</title>
		<link href='http://fonts.googleapis.com/css?family=Orbitron:400,900,500,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
	<form action="/shuttles" method="POST">
		<input type="text" name="name" placeholder="Name of shuttle">
		<input type="text" name="country" placeholder="Country of origin">
		<input type="text" name="destination" placeholder="Destination">

		<button>Submit</button>

</body>
</html>