<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Condition Search Form</title>
</head>
<body>
  <h1>Condition Search Form</h1>

  <p>Search for a list of patients currently in the hospital with a specific condition.</p>
  <form name="cond_input" action="/condition" method="POST">
    Illness/Condition: <input type="text" name="cond_search"><br>
	<input type="submit" value="Submit">
  </form>



</body>
</html>