<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Patient List</title>
</head>
<body>
  <h2>Patients Currently in the Hospital</h2>
  <ul>
    <% patients.each do |patient| %>
      <li><%= patient["first"] %> <%= patient["last"] %> - <%= patient["ailment"] %></li>
    <% end %>
  </ul>

  <a href = "/patient">Add New Patient</a><br>
  <a href = "/condition">Search For Patients With a Specific Condition</a><br>
  <a href = "/firstname">Search For Patients With a Specific First Name</a>

</body>
</html>


<!-- Is GET default? How come I don't need this in ahref? -->
<!-- method="GET" -->