<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Patient Admit Form</title>
</head>
<body>
  <h1>Patient Admit Form</h1>


  <form name="input" action="/patient" method="POST">
    First Name: <input type="text" name="first"><br>
    Last Name: <input type="text" name="last"><br>
    Date of Admittance: <input type="text" name="admit_date"><br>
    Illness/Condition: <input type="text" name="ailment"><br>
	<input type="submit" value="Submit">
  </form>



</body>
</html>