<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Character Profile</title>
</head>
<body>
	Character Profile

	
	<h3> Name: <%=data_character["name"]%> </h3>
	<h3> House: <%=data_house["name"]%> </h3>
	


</body>
</html>