<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Characters</title>
</head>
<body>
	<form action="/characters/new" method="post">
		<input type="text" name="name" placeholder="Name of Character">
		<input type="text" name="house" placeholder="House">
		<button>Add character</button>
	</form>
</body>
</html>