<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>House Profile</title>
</head>
<body>

	<h2> House <%=data_house["name"]%> </h2>
	<h3> Homeworld: <%=data_house["homeworld"]%> </h3>
	<h3> Symbol: <%=data_house["symbol"]%> </h3>
	
</body>
</html>