<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Artist Finder</title>
</head>
<body>
  <div id="wrapper">
    <div id="box">
    <h1>Insta-tag</h1>
  <h3>Search for an instagram tag here:</h3>

  <form action="/images" method="GET">
    <input type="text" name="query" placeholder="Enter a tag..." />
    <button>Submit</button>
  </form>
</div>

</div>
</body>
</html>
