<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emails</title>
</head>
<body>
  <h1>Submit email</h1>
  <form action="/emails" method="post">
    <input type="text" name="email" placeholder="johndoe123@yahoo.com">
    <button>Submit!</button>
  </form>
</body>
</html>