<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="textt/css" href="/style.css">
	<title>SRC Add</title>
</head>
<body>
	<h1>Welcome to SRC</h1>
	<h2>Add a patient here</h2>
	<form action="/add" method="POST">
		<h3>First Name</h3>
		<input type="text" name="first_name" placeholder="First Name"> <br/>
		<h3>Last Name</h3>
		<input type="text" name="last_name" placeholder="Last Name"> <br/>
		<h3>Date of Admittance</h3>
		<input type="text" name="date" placeholder="mm/dd/yyyy"> <br/>
		<h3>Condition</h3>
		<input type="text" name="condition" placeholder="Condition"> <br/>
	<button>Submit</button>
	</form>
</body>
</html>