<html>
<head>
	<meta charset="UTF-8">
	<title>Your Bank Here</title>
</head>

<body>
	<h2>Hi, please login:</h2>
	<form action="/sessions" method="POST">
		Email: <input type="text" name="email" placeholder="youremail@email.com">
		Password: <input type"password" name="pwd">
		<button>Submit</button>
	</form>
	<h2>Or sign up for a new account:</h2>
	<form  action="/users" method="POST">
		Email: <input type="text" name="email" placeholder="youremail@email.com">
		Password: <input type="password" name="pwd">
		<button>Submit</button>
	</form>
</body>
</html>