<html>
<head>

<title>Vincent Crabbe</title>

<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<header>
		<img src="http://img2.timeinc.net/ew/i/2012/03/20/Waylett_240.jpg">
		<h1 class='style'>Vincent Crobbe</h1>
	</header>

	<p>Vincent Crabbe (1979 or 1980 – 2 May, 1998) was a pure-blood Dark Wizard, and the son of Death Eater Crabbe Sr.. Vincent Crabbe was also a student at Hogwarts and a member of Slytherin House. Crabbe, and Gregory Goyle were rarely seen without their ringleader Draco Malfoy. While Dolores Umbridge was Headmistress, he joined the Inquisitorial Squad. In his last year at Hogwarts, he became a Dark Wizard, as he learned to cast powerful dark curses, such as the Killing and the Cruciatus Curse. He accidentally killed himself using Fiendfyre on 2 May 1998, during the Battle of Hogwarts.</p>

</body>

</html> 