		<h2>Add song by this artist</h2>
		<form action="/songs" method="POST">

			<label>
				Song Name:
				<input name="name" />
				<input name="artist_id" value="<%= artist.id %>" type="hidden"/>
			</label>

		  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

			<button>Submit</button>
		</form>
