<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1><%= artist.name %></h1>
	<h3>Genre: <%= artist.genre %></h3>
	<h4>Number of Albums: <%= artist.number_of_albums %></h4>
		<img src="<%= artist.photo_url %>" height="300px">


</body>
</html>
