<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Email addresses</title>
</head>
<body>
  <h1>Enroll me</h1>



<!--   <form name="input" action="demo_form_action.asp" method="get">
	First name: <input type="text" name="firstname"><br>
	Last name: <input type="text" name="lastname">
	<input type="radio" name="sex" value="male">Male<br>
	<input type="radio" name="sex" value="female">Female
	<input type="submit" value="Submit">
	<button>Submit</button>
  </form>

<!--   <p> <%= email %> </p> --> -->


</body>
</html>