<!DOCTYPE html>
<html lang="en"
<head>
	<meta charset="UTF-8"
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>Hogwarts Registration</title>
</head>

<body>
	<h1>Welcome New Hogwarts Students</h1>
	<h2>Please Complete This Registration page</h2>
		<form action="/" method="Post">
			Full Name:
			<label>
			<input type="text" name="Full_Name" placeholder="Put Name Here">
			</label>
			Age:
			<label>
			<input type="text" name="Age" placeholder="How Old Are You??">
			</label>
			Favorite Spell:
			<input type="text" name="Spell" placeholder="What is your fav spell?">
			</label>
			<button>Enchant</button>
		</form>
</body>
</html>

