
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset= "UTF-8">
	<title> Hogwarts Registrar </title>
</head>
<body>
	<h1> Register for Hogwarts! </h1>
	<form action ="/"  method="POST">
		<label>
			Name: 
			<input type="text" name="name"
			placeholder="Name">
		</label>
		<label>
			Age: 
			<input type="text" name="age"
			placeholder="Age">
		</label>
		<label>
			Favorite Spell:
			<input type="text" name="spell"
			placeholder="Spell Name">
		</label>
		<button> SUBMIT </button>
	</form>

</body>
</html>