<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Hogwarts</title>
	<h1> Welcome to the Hogwartzzzzzzz Registrar </h1>
	<h4> Please fill out the following to get started! </h4>
</head>

<body>

<label> Input info:	
	<form action = "/" method="POST">
		<input type="text" name="name" placeholder="Name">
		<br>
		<input type="text" name="age" placeholder="Age">
		<br>
		<input type="text" name="favorite_spell" placeholder="Favorite Spell">
</label>
		<button> Search </button>
</form>
<br>
<a href="/"> Go to Search Page </a>


</body>


