<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css" >
  <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <title>Hogwarts Registrar</title>
</head>
<body>
  
 <h1>Hogwarts Registrar</h1>  

  <div>
    <a href='/'>Home</a>
    <a href='/students/new'>Register</a>
    <a href='/students/search'>Search</a>
  </div>
  
  <h2>Search Results</h2>  
  
    <p><%= students %></p>
 

  <h3>Search Again</h3>
  

  <form action='/students/list' method="GET">
 	<label>Name: <input type='text' name='name' placeholder='Full Name'></label>
 	<button>Search</button>
 </form>



</body>
</html>
