<!DOCTYPE html>
<html>
<body>
	<h1> Enter Student Info</h1>
	<form action="/students/new" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="age" placeholder="Age">
		<input type="text" name="spell" placeholder="Favorite Spell">
		<input type="hidden" name="sort" value="unsorted">
		<input type="submit" value="submit">
	</form>
</body>
</html>