<html>

<body>
  <a href="/"><h1>Welcome to Hogwarts</h1></a>

<form action="/" method="POST">
<input type="text" name="firstname" placeholder="type firstname"/>
<input type="text" name="lastname" placeholder="type your lastname"/>
<input type="text" name="age" placeholder="type your age"/>
<input type="text" name="smell" placeholder="what is your favorite smell"/>
<button>SUBMIT</button>
</form>



</body>

</html>