<!Doctype html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title><%= name %>'s profile</title>
</head>
<body>
	<h1>All about <%= name %></h1>
	<div>
		<%= file %>
	</div>
	<div><a href="/">back to the top!</a>
</body>
</html>