<!Doctype html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>Registration</title>
</head>
<body>
	<h1>Register here</h1>
	<div>
		<form action="/enroll" method="POST">Full name:
		<input type="text" name="name" placeholder="Full name">Age:
		<input type="text" name="age" placeholder="Age (in years)">Favorite spell:
		<input type="text" name="spell" placeholder="Favorite spell">
		<button>Abracadabra</button>
	</div>
</body>
</html>