<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Hogwarts Registration Form</title>
	</head>

<body>
	<h1>Register</h1>
	<form action="/" method="POST">
		<input type="text" name="student_name" placeholder="Name"><br/>
		<input type="text" name="age" placeholder="Age"><br/>
		<input type="text" name="favorite_spell" placeholder="Favorite Spell"><br/><br/>
		<button>Register</button>
	</form>
	
</body>
</html>