<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Hogwarts</title>
	<h1> Hogwartzzzz Student Search Page </h1>
</head>
<body>
	
<label> Search for students:
	<form action = "/search" method="GET">
		<input type="text" name="search" placeholder="Search for Students!">
</label>
		<button> Search </button>
</form>

<br>
<a href="/students/new"> Go back to registrar page </a>

</body>
</html>
