<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">

  <title>Hogwarts Registrar</title>
</head>
<body>
  <div id="wrapper">
    <h2> Search the Hogwarts Registrar </h2>
    <hr />

    <form action="/search" method="GET">
      <input type="text" name="search" placeholder="Search for a student">
      <button>Submit</button>


  <a href="/">Home</a>
  </div>
</body>
</html>
