<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset= "UTF-8">
	<title> Student </title>
</head>
<body>
	<h1> Search Directory for Hogwarts Students </h1>
	<form action ="/students/show/"  method="GET">
		<label>
			Name: 
			<input type="text" name= "name" 
			placeholder="Name">
		</label>
		<button> Submit </button>
	</form>

</body>
</html>