<!Doctype html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>Search</title>
</head>
<body>
	<h1>Search here</h1>
	<div>
		<form action="/search" method="POST">Full name:
		<input type="text" name="name" placeholder="Full name">
		<button>Let's take a look</button>
	</div>
</body>
</html>