<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Specific Student Information</title>
</head>

<body>
  <h1> Student Info: </h1>


  <ol>
    <li> <%=students %> </li>
  </ol>


</body>

</html>