<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search database</title>
</head>
<body>

    <h1>Search to see if a student is registered or not</h1>

    <form action="/search" method="GET">
    <input type="text" name="first_name" placeholder="Enter your first name">
    <input type="text" name="last_name" placeholder="Enter your last name">
    <button>Search</button>

    </form>


</body>
</html>