<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List</title>
</head>
<body>
	<form action="/student" method="GET">
		<label>Search Students</label>
		<input type="text" name="first_name" placeholder="First Name">
		<button>Search</button>
	</form>
	<a href = "/students">Add New Student</a>
  <ul>
    <% students.each do |student| %>
      <li><%= student["first"] %> <%= student["last"] %> - <%= student["email"] %></li>
    <% end %>
  </ul>
</body>
</html>