<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Student</title>
</head>
<body>

<h1> <%="#{result["first"]} #{result["last"]}" %> </h1>
<h3> Email <%= result ["email"] %> </h3>
<!-- either way works above -->



	
</body>
</html>