<html>
<body>
  
<form action="/artists" method="POST">
  <label> Name</label><input type="text" name="name">
  <label> Genre</label><input type="text" name="genre">
  <label> Number of Albums</label><input type="text" name="number">
  <button>SUBMIT</button>
</form>
</body>
  
</html>