<head>
	<title>Gryffindor student list</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<h1>Gryffindor student list</h1>
	<ul>
		<li><a href="/STUDENT_NAME/harry_potter.html">Harry Potter</a></li>
		<li><a href ="/STUDENT_NAME/hermione_granger.html">Hermione Granger</a></li>
		<li><a href ="/STUDENT_NAME/ron_weasley.html">Ron Weasley</a></li>
	</ul>

</body>

<!-- >>>>>>> 782600f8f77ca947b841b71c571daa6a3b950a44 -->
</html>