<html>
<head>
	<title>FaceWarts</title>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>


	<h1>Katie Bell, Gryffindor</h1>
	<p>
	Katie Bell (born c. 1978-1979) was a witch and a Gryffindor student at Hogwarts School of Witchcraft and Wizardry from 1990 to 1997. She was a Chaser for the Gryffindor Quidditch team. During her Hogwarts years, she became incredibly close friends with Angelina Johnson and Alicia Spinnet, who were Gryffindors from the year above her. In her sixth year, she joined Dumbledore's Army, an organisation taught and led by Harry Potter. During her seventh year, she was tortured by a cursed opal necklace and recovered at St Mungo's Hospital for Magical Maladies and Injuries. She left Hogwarts in 1997, but returned in 1998, in order to fight at the Battle of Hogwarts against Lord Voldemort and his Death Eaters. Her life after the Second Wizarding War is unknown.
	</p>
	
	<footer>
		<a href="/gryffindor">Gryffindor Students</a><br>
		<a href="/">Facewarts Home</a>
	</footer>
</body>

</html>