<html>
<head>
	<title>FaceWarts</title>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>


	<h1>Parvati Patil, Gryffindor</h1>
	<p>
	Parvati Patil (b. 1979 or 1980), a witch of Indian descent, was the daughter of Mr. and Mrs. Patil, and the identical twin sister of Padma. She was also a Gryffindor student at Hogwarts School of Witchcraft and Wizardry, while Padma was a Ravenclaw. Parvati became best friends with Lavender Brown, with whom she shared many interests, such as a love for Divination. Parvati attended the Yule Ball with Harry Potter in 1994, and a year later she joined Dumbledore's Army, an organisation taught and led by Harry Potter. During her seventh year in 1998, she continued her studies at Hogwarts, when it was under the control of Lord Voldemort and the same year Parvati fought at the Battle of Hogwarts against Voldemort and his Death Eaters. It is unknown if she survived the battle.
	</p>

	
	<footer>
		<a href="/gryffindor">Gryffindor Students</a><br>
		<a href="/">Facewarts Home</a>
	</footer>
</body>

</html>