<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Hogwarts Registration Form</title>
</head>
<body>
  <h1>Hogwarts Registration Form</h1>


  <form name="input" action="/" method="POST">
    First name: <input type="text" name="firstname"><br>
    Last name: <input type="text" name="lastname"><br>
    Age: <input type="text" name="age"><br>
    Favorite spell: <input type="text" name="favoritespell"><br>
	<input type="submit" value="Submit">
  </form>



</body>
</html>