<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Stuff</title>
</head>
<body>
  <h4>display that specific student's information - Name, Age, Favorite Spell and MORE</h4>
  <h3>  <%= specific_stud %> </h3>


</body>
</html>



