<html>
<head>
	<title>mick jagger</title>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>
	<img class="center" src="/hogwart/images/mick_jagger.svg">
	<h1>mick jagger</h1>
	<p>mick is in the last century, entertainment has taken huge leaps forward with the advent of first radio, then television, movies and the Internet. However, one form of entertainment has evolved – writing, specifically novels and the long form of fiction. Funny thing about that evolution is that the fiction genre of fantasy has only just started growing in popularity over the last 30 years or so, despite the best efforts of authors like J.R.R. Tolkien. The history and fascination with fantasy has been around for centuries (think fairy tales and the Brothers Grimm), but only with modern publication and the acceptance of the geek culture has fantasy really surged in popularity. In that time, there have been at least 10 really excellent wizards and sorcerers to strut their stuff across the literary landscape – and here they are in no particular order</p>
</body>

</html>




