<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>thing</title>
</head>
<body>
  <h1></h1>

  <p>This awesome person is named <%= "full_name" %>
They live in <%= "city" %>, <%= "state" %></p>



</body>
</html>