<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up!</title>
	<h2> Sign Up to become a New Author </h2>
</head>
<body>
	<form action="/authors" method="POST">
		<input type="text" name="name" placeholder="Name">
		<br>
		<input type="text" name="email" placeholder="Email">
		<br>
    <button> Submit </button>
	</form>
</body>
</html>