<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Make a Choice</title>
</head>
<body>
  <ul>
    <li><a href="/authors"> AUTHORS</a></li>
    <li><a href="/posts">POSTS</a></li>

</body>
</html>