<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>New Author</title>
</head>
<body>
  <a href="/">HOME</a>

<form action='/authors' method="POST">
  <input type="text" name="name" placeholder="what is your name">
  <input type="email" name="email" placeholder="what is your email">
  <button>Contine</button>
  <form>
</body>
</html>