<html>
<head>
	<title>WDumblr</title>
</head>
<body>
	<form action="/authors/:id" method="POST">
		<input type="text" name="name" placeholder="Author's name">
		<input type="text" name="email" placeholder="Email address">
		<button>Submit</button>
	</form>
	<a href="/">Go Back</a>
</body>
</html>