<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>New Post</title>
</head>
<body>
  <a href="/">HOME</a>

<form action='/posts' method ="POST">
  <input type="text" name="content" placeholder="content">
  Created at:<input type="datetime-local" name="create">
  <input type="text" name="keyword" placeholder="keyword">
  <select name="author">
  <% authors.each do |author| %>
  <option value="<%=author["id"]%>"><%=author["name"] %></option>
  <%end%>
  </select>
  <button>Contine</button>
  <form>

</body>
</html>