<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
</head>
<body>

  <a href="/posts/new"> Add New Post </a>

  <ul>
    <% posts.each do |post| %>
    <li><a href="/posts/<%=post['id'] %>"><%= post["content"] %> <%=post["created_at"] %> <%= post["keyword"]%></a>
    </li>
    <% end %>

  </ul>

</body>
</html>