<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>WDumblr | Sign Up</title>
</head>
<body>
	<header>
		<h1><a href='/'>WDumblr</a></h1>
		<h2>Sign Up</h2>
		<nav>
			<ul>
				<li><a href='/'>Home</a></li>
				<li><a href="/authors">Authors</a></li>
				<li><a href="/posts">Posts</a></li>
				<li><a href="/authors/new">Sign Up</a></li>
				<li><a href="/posts/new">Write a Post</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<h3>Sign Up</h3>
		<form action="/authors" method="POST">
			<label>What&rsquo;s Your Name?<input type="text" nane="name"></label>
			<label>Yo, Lemme Have Your Email:<input type="email" name="email"></label>
			<button>Sign Up</button> 
		</form>
	</section>
</body>
</html>