<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>WDumblr | Another Website That'd Like to Buy a Vowel</title>
</head>
<body>
	<header>
		<h1><a href='/'>WDumblr</a></h1>
		<h2>Another Website That'd Like to Buy a Vowel</h2>
		<nav>
			<ul>
				<li><a href='/'>Home</a></li>
				<li><a href="/authors">Authors</a></li>
				<li><a href="/posts">Posts</a></li>
				<li><a href="/authors/new">Sign Up</a></li>
				<li><a href="/posts/new">Write a Post</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<h3>Would You Help Us Buy a Vowel?</h3>
		<p>Hi There, we are an NYC-based start-up. We are a market leader in blogs w/ no user sessions. But we&rsquo;re having some trouble generating the necessary <span>I</span>&rsquo;s &amp; <span>e</span>&rsquo;s to really bring our vision of no-user-sessions blogging to the world.</p>
		<p>So we decided to take a page out of Google&rsquo;s caches &amp; allow you, the user, to vote w/ your clicks! For every link you click on while on our website, we will recieve a donation of one-thirtith of an <span>I</span> or <span>e</span> from some VC or other, probably.</p>
		<p>We understand that clicking on a link can be a big step in committing to looking at content on the web. That&rsquo;s why every time you click on a link, a web page will load.</p>
		<p>Thank you for supporting WDumblr!</p>
	</section>
</body>
</html>