<html>
<head>
	<title>FaceWarts</title>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>

<body>


	<h1>Pike, Slytherin</h1>
	<p>
	He was part of Draco Malfoy's gang in 1993 and 1994 and was one of the Slytherins that imitated a Dementor in a effort to scare Harry in the first Care of Magical Creatures class of the year. He was later among those whom Harry threw snowballs at in Hogsmeade under his Invisibility cloak around Christmas time. He was also with Malfoy in the Sundial Garden when Malfoy was punched by Hermione Granger in 1994.
	</p>
	
	<footer>
		<a href="/slytherin">Slytherin Students</a><br>
		<a href="/">Facewarts Home</a>
	</footer>

</body>

</html>