<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dogs</title>
</head>
<body>
  <h1> Add a New Dog Breed </h1>
  <a href="/dogs/new">Add a new dog breed</a>
  <ul>
    <% dogs.each do |dog| %>
      <li>
        <a href="/dogs/<%= dog.id %>">
        <%= dog.breed %>
        </a>
      </li>
    <% end %>
  </ul>
</body>
</html>