<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Dog</title>
</head>
<body>
	<h1> Enter a New dog and its Breed! </h1>
  <form action="/dogs" method="POST">
    <input type="text" name="breed" placeholder="Breed" />
    <button> Submit </button>
  </form>
</body>
</html>