<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> <%= dog.breed %></title>
</head>
<body>
  <h1><%= dog.breed %></h1>
  <div>
    <a href="/dogs/<%= dog.id %>/edit">Edit</a>  
    <img src="http://photos.petfinder.com/photos/pets/<%= imageid %>/1/?bust=1384014481&width=300&-pn.jpg" />
  </div>
</body>
</html>