<html>
<head>
  <title>NEW BREED</title>
</head>
<body>
  <a href="/">HOMEPAGE</a>
<form action="/" method="POST">
  <input type="text" name="breed" placeholder="name of breed">
  <button>SUBMIT</button>
</form>
</body>
</html>