
<script id="template" type="text/template">
<div class='gItem'>
  <p><%%= item %> [<%%= quantity %>]</p><input type='checkbox' id='check'><button class='del'><img src='/trashcan.gif' /></button></div>
</script>
