<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Shirts To The Catalog</title>
</head>
<body>
  <form action="/shirts" method="POST">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="url" placeholder="Image Url" />
    <input type="text" name="quantity available" placeholder="Quantity Available" />
    <div align="center">
	<select name="Quantity">
	<option value="integer">1</option>
	<option value="integer">2</option>
	<option value="integer">3</option>
	<option value="integer">4</option>
	<option value="integer">5</option>
	</select>
    <input type="text" name="price" placeholder="Price" />
	</div>
	</form>
    <button>Submit</button>
  </form>
</body>
</html>