<html>
<head>
<link rel ="stylesheet" type=text/css href="/styles.css">

	<title>WDumblr: Add an Author</title>
</head>
<body>
	<h1>Add an Author</h1>
<form action="/authors" method="POST">
	<input type="text" name="name" placeholder="Name">
	<input type="email" name="email" placeholder="Email Address">
	<button>Submit</button>
</form>

	<ul>
		<li><a href="/authors/new">Add an Author</a></li>
		<li><a href="/posts/new">Create a New Post</a></li>
		<li><a href="/authors">All Authors</a></li>
		<li><a href="/posts">All Posts</a></li>
		<li><a href="/">Home</a></li>
	</ul>

</body>
</html>