body {
	text-align: center;
	font-family: Helvetica;
	background-color: pink;
}

h1 {
	color: cyan;
}

h5 {
	margin-bottom: 0;
}

ul {
	background-color: white;
	width: 300px;
	border-radius: 10px;
	outline: black;
	list-style-type: none;
	margin: 0 auto;
	padding: 20px 0 20px 0;
}

