h1 {
  color: red;
  font-family: arial;

};
div {
	width:275px;
	margin: auto;
};

body {
	width: 100px;
	margin: 0 auto;

};

form {
	margin: 0;

};

img {
	display: inline-block;
	margin: 0 auto;
}

