<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Images tagged with "{{TAG}}"</title>
	<link rel="stylesheet" href="/style">

</head>
<body>
	<div class="top">
		<h1> Search Instagram by hashtags! </h1>
		<form action="/photo" method="GET">
	    	<input type="text" name="tag" placeholder="Search a hashtag!" />
	    	<button>Submit</button>
	  	</form>

	  	<form action="/save" method="POST">
	    	<button>Save</button>
	  	</form>

		<div class="sentence_you_searched">
			<h4> You searched: <span class="search">"{{TAG}}"</span> --  These are the photos tagged with <span class="search">"#{{TAG}}"</span> !</h4>
		</div>
	</div>


<!-- 	<div class="tagbar">
		{{SAVED_TAGS}}
	</div> -->



	<div class="images">
		{{IMAGES}}
	</div>
	

</body>
</html>