<!-- <h1>Hello</h1>

<form action="/" method="POST">
	<input type="text" name="puppy" />
	<button>Save Puppy</button>
</form> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Instagram Search</title>
</head>
<body>
  <h1>Enter A Tag To Search Through Instagram</h1>

  <form action="/tag" method="POST">
    <input type="text" name="tags" placeholder="Enter a tag" />
    <button>Submit</button>
  </form>

</body>
</html>