<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset= "UFT-8">
	<link rel="stylesheet" type="text/css" href="./stylesheet/style.css">
	<link href = 'http://fonts.googleapis.com/css?family=Syncapate:700' rel ='stylesheet' type = 'text/css'>
		<style> 
			body{
			font-family: 'Syncopate', sans-serif;
			font-size: 30px;
		}
		</style>
	<title>INSTAGRAM</title>
</head>
<body>

	<h1>Search Pictures by Hashtags
		<br>in Instagram! </h1>	


	<form action ="/tags" method = "GET">
		<p style="text-align: center;"><input type="text" name="tag" placeholder ="Enter a tag" />
	<button>Search</button></p>
	</form>
	<p style="text-align: center"> <img src = "http://1.bp.blogspot.com/-9gUuOilBaG8/Unudx-x0StI/AAAAAAAALcg/LJ16zuiYp6Y/s1600/instagram-logo-png-transparent-i5.png" alt = ''></p>

	<p> To look at your saved tags, click on link below </p>
</body>
</html>