<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title> instagram search </title>
	<h1> instagram tag search engine!</h1>
	<h3> <u> bring your stalking game up a notch! </u> </h3>

<div class = "button">
	<form action="/tags" method="GET">
	<input type= "text" name= "tag" placeholder = "Search a hashtag!"/>
	<button> Search </button>
	</form>
</div>

<body>
	<p> <b> How to use: </b> <br> 
	Enter a hashtag into the searchfield (ie: nofilter, dogs, instagood, etc.) and click submit. See what you come up with! </p>
</body>
</html>