<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
			<title>Instagram Tag Saved Searches</title>
	</head>
		<body>
				<a href="/"><h1>Instagram Tag Search</h1></a>
				<h3>Your Recent Searches</h3>
			{{value}}
				<form action="/" method="GET">
				<input type="hidden" name="search" placeholder="Search for a tag..." />
					<button>Search Again</button>
		</body>

</html>