<!DOCTYPE html>




<html>
<head>
	<meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="./stylesheet/style.css">
		<link href = 'http://fonts.googleapis.com/css?family=Syncapate:700' rel ='stylesheet' type = 'text/css'>
		<style> 
			body{
			font-family: 'Syncopate', sans-serif;
			font-size: 30px
		}
		</style>
  	<title></title>
 </head>

<body>
	<h1> Recent images with the tag <br>" {{tag}} " </h1>

	<h4> If you like this tag, check the box below and save! </h4>

	 <form action="/tags" method="POST">
    <p style="text-align: center;"><input type= "checkbox" name="{{tag}}" placeholder="Enter a tag" />
    <button>Save</button></p>
  </form>

	<p> {{image}} </p>



</body>
</html>