<!doctype html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
	<title>FaceWarts</title>
	</head>
<body>
<header>
	<h1>Facewarts</h1>
	<ul class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/gryffindor">Gryffindor</a></li>
		<li><a href="/slytherin">Slytherin</a></li>
	</ul>
</header>
<div>
	<h3>Error!!!</h3>
	<iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/1ytCEuuW2_A" allowfullscreen frameborder="0">
</iframe>
	<p>Looks like we're looking for this page too.</p>
	
</div>	

</body>
</html>
