<html>

<head>
<title>FaceWarts: About</title>
<link rel="stylesheet" type=text/css href="../stylesheets/stylesheet.css">
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="logo">
<h1><a href="/">FaceWarts</a></h1>
</div>

<h4>About</h4>
<img src="http://upload.wikimedia.org/wikipedia/en/c/c4/Hog2warts.jpg" alt="Hogwarts School of Witchcraft and Wizardry">
		<p>Hogwarts School of Witchcraft and Wizardry is a British wizarding boarding school teaching the magical arts, located in Scotland inside Hogwarts Castle. The castle is in the mountains near a loch. The precise location of the school can never be uncovered because it has been rendered Unplottable. Similarly, most wizarding schools locations are protected in order to prevent their ways of teaching being revealed, as well as protect the students and schools themselves from any harm.</p>

<p>Established around the 9th or 10th century, Hogwarts is considered to be one of the finest magical institutions in the wizarding world, though other notable schools include Beauxbatons Academy of Magic and the Durmstrang Institute. Children with magical abilities may be enrolled at birth, and acceptance is confirmed by owl post at age eleven.</p>

<p>The school's motto is Draco Dormiens Nunquam Titillandus and is in Latin, which translates to "Never tickle a sleeping dragon".</p>

<div class="footer">
	&copy; 2014 FaceWarts. All rights reserved.
</div>

</body>

</html>