<!doctype html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
	<title>Bloody Baron's profile</title>
	</head>
<body>
	<header>
	<h1>Facewarts</h1>
	<ul class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/gryffindor">Gryffindor</a></li>
		<li><a href="/slytherin">Slytherin</a></li>
	</ul>
</header>
<div>
	<h3>Bloody Baron</h3>
	<img src="http://familytrees.genopro.com/mell/pictures/BloodyBaron.jpg">
	<p>The Bloody Baron (late 10th century – early 11th century) was a wizard who attended Hogwarts School of Witchcraft and Wizardry in the Founders' time and was Sorted into Slytherin house. After Hogwarts, he fell in love with Helena Ravenclaw, but she did not love him. He was sent by Rowena Ravenclaw to find Helena in Albania, but Helena refused to return with him and so he killed her in a rage. When he realised what he had done, the Baron stabbed himself with the same knife and died. Since then, he is one of the ghosts that haunts Hogwarts School of Witchcraft and Wizardry, and the ghost of Slytherin house. Covered in Helena Ravenclaw's blood to this day, he earned himself the moniker of "Bloody Baron".</p>
</div>


<div>
<h3>The Bloody Baron's friends</h3>
	<ul>
		<li><a href="/minerva">Minerva McGonagall</a></li>
		<li><a href="/nicholas">Nicholas de Mimsy-Porpington</a></li>
		<li><a href="/severus">Severus Snape</a></li>
		
	</ul>
</div>
</body>
</html>