<!DOCTYPE html>
<html>
<head>
	<title>Draco Malfoy</title>
	<link href='http://fonts.googleapis.com/css?family=Miltonian+Tattoo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

</head>

<body>
	<h1><a href="/">FaceWarts</a></h1>
	<h3>Connecting Witches and Wizards since before Zuckerberg had the same idea.</h3>

	<nav>
	<ul>
		<li><a href="/gryffindor">Gryffindor</a></li>
		<li><a href="/slytherin">Slytherin</a></li>
		<li id="about us"><a href="/about">About Us!</a></li>	
	</ul>
	</nav>

	<h2>Draco Malfoy</h2>
	<img src="https://p.gr-assets.com/540x540/fit/hostedimages/1379741949/76355.jpg" />
	<p>Draco Lucius[5] Malfoy (b. 5 June, 1980) was a pure-blood wizard and the only son of Lucius and Narcissa Malfoy (née Black). The son of a Death Eater, Draco was raised to believe strongly in the importance of blood purity. He attended Hogwarts School of Witchcraft and Wizardry from 1991 to 1998 and was sorted into Slytherin house. During his years at Hogwarts, he became friends with Vincent Crabbe, Gregory Goyle, Pansy Parkinson, and other fellow Slytherins, while he quickly developed a rivalry with Harry Potter.</p>
	</body>