<html>
<head>
	<title>Draco Malfoy</title>
	<!-- we'd have to add something in here, but not sure what to make this tab name '/student_name -->
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
 	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->
 	<!-- this line just says that a stylesheet actually exist, but by itself doesn't actually tell you where to get it -->
</head>	
</head>	
<body>
<h1>Draco Malfoy</h1>
<h3>House of Slytherin</h3>
<img src="http://fc07.deviantart.net/fs70/f/2011/207/4/2/draco_malfoy_5_by_andy6sglove-d41qebx.jpg"/>

<p>
Draco Lucius Malfoy (b. 5 June, 1980) was a pure-blood wizard and the only son of Lucius and Narcissa Malfoy (née Black). The son of a Death Eater, Draco was raised to believe strongly in the importance of blood purity. He attended Hogwarts School of Witchcraft and Wizardry from 1991 to 1998 and was sorted into Slytherin house. During his years at Hogwarts, he became friends with Vincent Crabbe, Gregory Goyle, Pansy Parkinson, and other fellow Slytherins, while he quickly developed a rivalry with Harry Potter.

He was made a prefect for his house and was a member of the Inquisitorial Squad during his fifth year, at the end of which his father was imprisoned in Azkaban following the Battle of the Department of Mysteries. Lord Voldemort charged Draco with making up for Lucius's failure, and he became a Death Eater at age sixteen, but was quickly disillusioned with the lifestyle. Draco was unable to complete his task — murdering Albus Dumbledore, which was taken over by Severus Snape — and only performed his other duties fearfully and reluctantly. He and his family defected hours before the end of the Second Wizarding War in order to avoid imprisonment in Azkaban following Voldemort's defeat.

Draco eventually married Astoria Greengrass and had at least one child, Scorpius Malfoy.</p>
</body>


</html>