<html>
<head>
	<title>Draco Malfoy</title>

	<link rel="stylesheet" type="text/css" 
	href="../stylesheets/style.css">

	<link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
	
</head>

<body>

	<h1>Draco Malfoy</h1>

	<img src="http://img4.wikia.nocookie.net/__cb20140602031803/harrypotter/images/thumb/c/cf/Harry-Potter-The-Deathly-Hallows-Part-II.jpg/250px-Harry-Potter-The-Deathly-Hallows-Part-II.jpg">

<p>"I really don't think they should let the other sort in, do you? They're just not the same, they've never been brought up to know our ways. Some of them have never even heard of Hogwarts until they get the letter, I imagine. I think they should keep it in the old wizarding families."
—Draco to Harry Potter before their first year at Hogwarts[src]
Draco Lucius[5] Malfoy (b. 5 June, 1980) was a pure-blood wizard and the only son of Lucius and Narcissa Malfoy (née Black). The son of a Death Eater, Draco was raised to believe strongly in the importance of blood purity. He attended Hogwarts School of Witchcraft and Wizardry from 1991 to 1998 and was sorted into Slytherin house. During his years at Hogwarts, he became friends with Vincent Crabbe, Gregory Goyle, Pansy Parkinson, and other fellow Slytherins, while he quickly developed a rivalry with Harry Potter.

He was made a prefect for his house and was a member of the Inquisitorial Squad during his fifth year, at the end of which his father was imprisoned in Azkaban following the Battle of the Department of Mysteries. Lord Voldemort charged Draco with making up for Lucius's failure, and he became a Death Eater at age sixteen, but was quickly disillusioned with the lifestyle. Draco was unable to complete his task — murdering Albus Dumbledore, which was taken over by Severus Snape — and only performed his other duties fearfully and reluctantly. He and his family defected hours before the end of the Second Wizarding War in order to avoid imprisonment in Azkaban following Voldemort's defeat.

Draco eventually married Astoria Greengrass and had at least one child, Scorpius Malfoy.</p>

</body>

</html>