<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gryffindor</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="header_main">
	<div class="logo">
		<h1> Facewarts</h1>
	</div>
</div>


<div class="body">
	<a href="/house_gryffindor"><img class="logo_big" src="/images/logo_gryffindor.jpg" alt="Gryffindor crest">
</a>
	<a href="/house_slytherin"><img class="logo_big" src="/images/logo_slytherin.jpg" alt="Slytherin crest">
</a>
	
</div>
	
</body>
</html>