<!DOCTYPE html>
<html>
<head>
	<title>Gryffindor</title>
	<link href='http://fonts.googleapis.com/css?family=Miltonian+Tattoo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

</head>

<body>
	<h1><a href="/">FaceWarts</a></h1>
	<h3>Connecting Witches and Wizards since before Zuckerberg had the same idea.</h3>

	<nav>
	<ul>
		<li><a href="/gryffindor">Gryffindor</a></li>
		<li><a href="/slytherin">Slytherin</a></li>
		<li id="about us"><a href="/about">About Us!</a></li>	
	</ul>
	</nav>

	<h2>Gryffindor</h2>
	<table border ="10px">
		<tr>
			<td>
				<a href="/gryffindor/HERMIONE_GRANGER"><img src="http://upload.wikimedia.org/wikipedia/en/d/d3/Hermione_Granger_poster.jpg" /></a></td>
			<td>
				<a href="/gryffindor/RON_WEASLEY"><img src="http://upload.wikimedia.org/wikipedia/en/5/5e/Ron_Weasley_poster.jpg"></a>
			</td>
			<td>
				<img src="http://heyimadethis.files.wordpress.com/2011/10/harry2.png">
			</td>
		</tr>
			<td>
				<img src="http://heyimadethis.files.wordpress.com/2011/10/harry2.png">
			</td>
			<td>
				<img src="http://heyimadethis.files.wordpress.com/2011/10/harry2.png">
			</td>
			<td>
				<img src="http://heyimadethis.files.wordpress.com/2011/10/harry2.png">
			</td>
		<tr>
		</tr>
	</table>

</body>