<!doctype html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
	<title>Gryffindor</title>
	</head>
<body>
	<header>
	<h1>Facewarts</h1>
	<ul class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/gryffindor">Gryffindor</a></li>
		<li><a href="/slytherin">Slytherin</a></li>
	</ul>
</header>
<div>
	<h3>Gryffindor</h3>
	<img src="http://img2.wikia.nocookie.net/__cb20130508231701/harrypotter/images/9/96/Gryffindor_crest_by_tuliipiie-d491bqc.jpg">
	<p>Gryffindor is one of the four Houses of Hogwarts School of Witchcraft and Wizardry, founded by Godric Gryffindor. The particular characteristics of students Sorted into Gryffindor are courage, chivalry, and determination. The emblematic animal is a lion, and its colours are red and gold. Minerva McGonagall is the most recent known Head of House. Sir Nicholas de Mimsy-Porpington, also known as "Nearly Headless Nick" is the house ghost.  

Gryffindor corresponds roughly to the element of fire, and it is for that reason that the colours red and gold were chosen to represent the House[1].The colour of fire corrosponds to that of a lion as well, red represting the main and tail and gold represnting the coat.</p>
</div>





	<div>
	<h3>Gryffindor Folks</h3>
	<ul>
		<li><a href="/minerva">Minerva McGonagall</a></li>
		<li><a href="/nicholas">Nicholas de Mimsy-Porpington</a></li>
	</ul>
</div>
</body>
</html>