<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Bilbo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
	<title>FaceWarts:Gryffindor</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<body>
	<h1>FaceWarts:Gryffindor</h1>
	<h3>Welcome to Gryffindor!</h3>
		<p>Don't become friends with Voldemort</p>
		<h5>A list of our students</h5>
		<ul>
			<li><a href="/HARRY_POTTER">Harry Potter</a></li>
			<li><a href="/RON_WEASLEY">Ron Weasley</a></li>
			

		</ul>




</body>
</html>