<html>
<head>


	<title>Ron Weasle</title>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">

</head>

<body>

<h1>Ron Weasle</h1>
<h3>The Second Most Annoying Fictional Character To Appear In A YA Book</h3>

<article>
<p>
According to Rowling, Ron was among the characters she created "the very first day".[1] Ron is inspired by Rowling's best friend Sean Harris (to whom Harry Potter and the Chamber of Secrets is dedicated), but she has clearly stated that she "never set out to describe Sean in Ron, but Ron has a Sean-ish turn of phrase."[2] Like Harris is to Rowling, Ron is "always there" when Harry needs him. The character of Ron fits many of the stereotypes expected of the sidekick; he is often used as comic relief, is loyal to the hero, and lacks much of the talent Harry possesses, at least in terms of magical power; however, he proves his bravery several times, such as playing 'real wizard's chess' in the first book, and entering into the Forbidden Forest with Harry during the second book despite his arachnophobia.
</article>
<article>
<p>
Some of Ron's qualities serve as foils to Harry. While Harry is an orphan with more gold than he needs, Ron comes from a loving but poor family; many of his possessions are hand-me-downs. Harry is famous but would prefer to avoid the spotlight; Ron, in comparison, is often perceived as a mere lackey and sometimes becomes jealous of the recognition Harry receives. Finally, Ron is the most mediocre of his siblings, being (as of the first book) neither an excellent Quidditch player, a noteworthy student, nor the daughter his mother always wanted. All these factors have combined to cause Ron serious insecurities; this inferiority complex, and his need to prove himself, is the main thrust of his character arc.
</article>
</body>

</html>