<html>

<head>
<title>FaceWarts: Gryffindor</title>
<link rel="stylesheet" type=text/css href="../stylesheets/stylesheet.css">
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="logo">
<h1><a href="/">FaceWarts</a></h1>
</div>


<h4>House of Gryffindor</h4>	
<img src="http://www.hp-lexicon.org/images/icons/shield_01-5B1-5D.jpg" alt="House of Gryffindor">
<div class="house">
<ul>
	<li><a href="/gryffindor/HARRY_POTTER">Harry Potter</a></li>
	<li><a href="/gryffindor/HERMIONE_GRANGER">Hermione Granger</a></li>
</ul>

  </div>
<div class="footer">
	&copy; 2014 FaceWarts. All rights reserved.
</div>

</body>

</html>