<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Bilbo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
	<title>FaceWarts:Harry Potter</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<body>
	<h1>Harry Potter</h1>
	<img src="http://img1.wikia.nocookie.net/__cb20131111220940/harrypotter/images/5/53/Harry_potter.jpg" height="80" width="80">
	<p>Harry James Potter (b. 31 July, 1980) was a half-blood wizard, the only child and son of James and Lily Potter (née Evans), and one of the most famous wizards of modern times. In what proved to be a vain attempt to circumvent a prophecy, that stated a boy born at the end of July of 1980 could be able to defeat him, Lord Voldemort attempted to murder him when he was a year and three months old, shortly after murdering Harry's parents as they tried to protect him. This early, unsuccessful attempt to vanquish Harry led to Voldemort's first defeat and the end of the First Wizarding War</p>
	


</body>
</html>