<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gryffindor</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="header_gryffindor">
	<div class="logo">
		<h1> Facewarts</h1>
		<h1 id="title_gryffindor"> Gryffindor </h1>
	</div>
</div>



	<div class="body">
		<div class="thumbnail_student">
			<a href="/g1.html"><img src="images/g1.jpg" alt=""></a>
		</div>

		<div class="thumbnail_student">
			<a href="/g2.html"><img src="images/g2.jpg" alt=""></a>
		</div>

		<div class="thumbnail_student">
			<a href="/g3.html"><img src="images/g3.jpg" alt=""></a>
		</div>
		
		<div class="thumbnail_student">
			<a href="/g4.html"><img src="images/g4.jpg" alt=""></a>
		</div>

		<div class="thumbnail_student">
			<a href="/g5.html"><img src="images/g5.jpg" alt=""></a>
		</div>
		

	</div>

	
</body>
</html>