<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Slytherin</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="header_slytherin">
	<div class="logo">
		<h1> Facewarts</h1>
		<h1 id="title_slytherin"> Slytherin </h1>
	</div>
</div>



	<div class="body">
		<div class="thumbnail_student">
			<a href="/s1.html"><img src="images/s1.jpg" alt=""></a>
		</div>

		<div class="thumbnail_student">
			<a href="/s2.html"><img src="images/s2.jpg" alt=""></a>
		</div>

		<div class="thumbnail_student">
			<a href="/s3.html"><img src="images/s3.jpg" alt=""></a>
		</div>

		<div class="thumbnail_student">
			<a href="/s4.html"><img src="images/s4.jpg" alt=""></a>
		</div>

		<div class="thumbnail_student">
			<a href="/s5.html"><img src="images/s5.jpg" alt=""></a>
		</div>
		
	</div>

	
</body>
</html>