<html>

<head>
<title>FaceWarts</title>
<link rel="stylesheet" type=text/css href="../stylesheets/stylesheet.css">
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>


<div class="logo">
<h1>FaceWarts</h1>
</div>
<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Hogwarts_coat_of_arms_colored_with_shading.svg/275px-Hogwarts_coat_of_arms_colored_with_shading.svg.png" alt="Hogwart's crest">
<h3>Connecting Witches and Wizards since before Zuckerberg had the same idea</h3>		

<div class="house">
	<ul>
		<li><a href="/about">About Us</a></li>
		<li><a href="/gryffindor">Gryffindor</a></li> 
		<li><a href="/slytherin">Slytherin</a></li>
	</ul>

  </div>
<div class="footer">
	&copy; 2014 FaceWarts. All rights reserved.
</div>

</body>

</html>