<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Bilbo' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
	<title>FaceWarts</title>

</head>
<body>
	<h1>FaceWarts</h1>
	<h3>Connecting Witches Wizards since
		before Zuckerberg had the same idea</h3>
		<p>Don't become friends with Voldemort</p>
		<ul>
			<li><a href="/gryffindor">Gryffindor Students</a></li>
			<li><a href="/slytherin">Slytherin Students</a></li>
			<li><a href="/about">About us!</a></li>

		</ul>




</body>
</html>