<html>
<header>


	<title>AssWarts</title>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">

</header>

<body>

<h1>AssWarts</h1>
<h3>Connecting Warts and other skin ailments to a skin near you</h3>

<h2>Gryffindor Students</h2>

	<ul>

		<li><a href="/gryff_harry_potter.html">Hairy Potter</a></li>
		<li><a href="/gryff_hermione_granger.html">Hermy Gangrene</a></li>
		<li><a href="/gryff_ron_weasley.html">Ron Weasle</a><li>	

	</ul>

<h2>Slytherin Students</h2>

	<ul>

		<li><a href="/sly_gregory_goyle.html">Greg Gargoyle</a></li>
		<li><a href="/sly_pansy_parkinson.html">Hansy Pansy</a></li>
		<li><a href="/sly_draco_malfoy.html">Draco Drano</a><li>

	</ul>



</body>

</html>