<!doctype html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
	<title>Minerva McGonagall's profile</title>
	</head>
<body>
	<header>
	<h1>Facewarts</h1>
	<ul class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/gryffindor">Gryffindor</a></li>
		<li><a href="/slytherin">Slytherin</a></li>
	</ul>
</header>
<div>
	<h3>Minerva McGonagall</h3>
	<img src="http://img4.wikia.nocookie.net/__cb20110816194223/harrypotter/images/9/96/Mcgonagall.png">
	<p>Madam Professor Minerva McGonagall (b. 4 October,[1] 1935[2]) was a witch and a registered Animagus who attended Hogwarts School of Witchcraft and Wizardry from 1947 to 1954 and was sorted into Gryffindor House. After her education, she worked for two years at the Ministry of Magic and later returned to Hogwarts, where she became Head of Gryffindor House, Transfiguration professor and concurrently, at differing times, Deputy Headmistress and Headmistress of Hogwarts.

McGonagall was also a member of the First and Second Order of the Phoenix. In 1995, she opposed Dolores Umbridge, the High Inquisitor of Hogwarts. She also protected the students from Alecto and Amycus Carrow from 1997 until 1998, and as part of this resistance movement, fought in several battles of both wars, including the Battle of the Astronomy Tower and the Battle of Hogwarts (where she led the resistance against Lord Voldemort).

She survived the Second Wizarding War, continued her job as Headmistress for at least ten years, and retired sometime in the late 2000s or 2010s.</p>



</div>
<div>
	<h3>Minerva's friends</h3>
	<ul>
		
		<li><a href="/nicholas">Nicholas de Mimsy-Porpington</a></li>
		<li><a href="/severus">Severus Snape</a></li>
		<li><a href="/bloody">Bloody Baron</a></li>
	</ul>
</div>
</body>
</html>