<!doctype html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
	<title>Nicholas de Mimsy-Porpington's profile</title>
	</head>
<body>
	<header>
	<h1>Facewarts</h1>
	<ul class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/gryffindor">Gryffindor</a></li>
		<li><a href="/slytherin">Slytherin</a></li>
	</ul>
</header>
<div>
	<h3>Nicholas de Mimsy-Porpington</h3>
	<img src="http://lgm.cl/tvtropes/staticimages/Nick_6278.png">
	<p>Sir Nicholas de Mimsy-Porpington, known after his death as Nearly Headless Nick, (d. 31 October, 1492) was a wizard who attended Hogwarts School of Witchcraft and Wizardry and was Sorted into Gryffindor House. He was a wizard of the royal court as an adult. He was executed by an improper decapitation, after he had a magical mishap with Lady Grieve, in which he tried to straighten her teeth but it backfired and she grew tusks. Since then, he is the resident ghost of Gryffindor Tower at the Hogwarts Castle. </p>
</div>
<div>

<h3>Nicholas' friends</h3>
	<ul>
		<li><a href="/minerva">Minerva McGonagall</a></li>
		
		<li><a href="/severus">Severus Snape</a></li>
		<li><a href="/bloody">Bloody Baron</a></li>
	</ul>
</div>
</body>
</html>