<!DOCTYPE html>
<html>
<head>
	<title>Ron Weasley</title>
	<link href='http://fonts.googleapis.com/css?family=Miltonian+Tattoo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

</head>

<body>
	<h1><a href="/">FaceWarts</a></h1>
	<h3>Connecting Witches and Wizards since before Zuckerberg had the same idea.</h3>

	<nav>
	<ul>
		<li><a href="/gryffindor">Gryffindor</a></li>
		<li><a href="/slytherin">Slytherin</a></li>
		<li id="about us"><a href="/about">About Us!</a></li>	
	</ul>
	</nav>

	<h2>Ron Weasley</h2>
	<img src="http://upload.wikimedia.org/wikipedia/en/5/5e/Ron_Weasley_poster.jpg">
	<p>I'm the sixth in our family to go to Hogwarts. You could say I got a lot to live up to. Bill and Charlie have already left — Bill was Head Boy and Charlie was captain of Quidditch. Now Percy's a prefect. Fred and George mess around a lot, but they still get really good marks and everyone thinks they're really funny. Everyone expects me to do as well as the others, but if I do, it's no big deal, because they did it first.</p>

	</body>