<html>
<head>


	<title>Greg Gargoyle</title>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">

</head>

<body>

<h1>Greg Gargoyle</h1>
<h3>The Heavy</h3>

<article>
<p>
Gregory Goyle was born into a pure-blood wizarding family in 1980. His father, Mr Goyle, was a Death Eater during the First Wizarding War and was a loyal supporter of Lord Voldemort until his downfall in 1981, in which he likely claimed to have only been acting under the influence of the Imperius Curse so that he would avoid certain fate in Azkaban. It is likely that Goyle knew Draco Malfoy and Vincent Crabbe before going to Hogwarts School of Witchcraft and Wizardry, probably because of their fathers as both Lucius Malfoy and Mr Crabbe were Death Eaters as well.
</article>
<article>
<p>
At some point in 1991, before going to Hogwarts, Goyle purchased his wand, presumably from Ollivanders Wand Shop in Diagon Alley, London.
</article>
</body>

</html>