<html>
<head>


	<title>Draco Drano</title>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">

</head>

<body>

<h1>Draco Drano</h1>
<h3>The Other Heavy</h3>

<article>
<p>
Draco serves as a foil to the hero, Harry Potter and is loosely based on bullies Rowling encountered during her school days.[1] Harry first encounters Draco's snobbish bigotry after their initial encounter at Madam Malkin's.[2] Rowling uses the Malfoys to introduce themes of intolerance and bigotry into a setting where people are often judged solely by their blood lineage rather than their good character or accomplishments. Draco, adhering to his family's beliefs, thinks that Muggle-born witches and wizards, which he and other characters derogatorily describe by the epithet Mudbloods, should be denied a magical education. Harry's first impression that the Wizarding community is a "magical wonderland" is instantly shattered. Says Rowling, "[Harry] found out that many people in power in the wizarding world are just as corrupt and nasty as they are in our world."[2]
</article>
<article>
<p>
Malfoy was originally named "Draco Spungen" in the earliest drafts of Philosopher's Stone.[3] "Spungen" also appeared on her pre-canon class list, but it was crossed out and replaced with the surname "Spinks", while "Malfoy" was later added after the completion of the list. Philip Nel believes that Malfoy is derived from the French phrase mal foi, meaning "bad faith."[4] In an article published in 2002, Nilsen and Nilsen argue that "Draco" has connotations with draconian, and that his name starts with "mal", a French prefix for "bad" or "evil".[5]
</article>
<article>
<p>
Many of Draco's relatives on his mother's side of the family (the Blacks) are named for stars or constellations (e.g., Sirius Black, Regulus Black, Andromeda Black Tonks, Bellatrix Black Lestrange, Cygnus Black, Orion Black). Another constellation is Draco (the Dragon). Draco Malfoy eventually named his son for yet another constellation, Scorpius.
</article>
</body>

</html>