<html>
<head>


	<title>Hansy Pansy</title>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">

</head>

<body>

<h1>Hansy Pansy</h1>
<h3>The Witch Itch</h3>

<article>
<p>
Pansy Parkinson began her education at Hogwarts School of Witchcraft and Wizardry in 1991 and was sorted into Slytherin House. She soon became good friends with fellow Slytherins Draco Malfoy, Vincent Crabbe and Gregory Goyle. Pansy was also popular with the girls; Millicent Bulstrode, Tracey Davis, Daphne Greengrass and her room-mate, acting as the group leader. Both Pansy and Draco were mean and powerful amongst their friends and used this to bully other students.
</article>
<article>
<p>
In Squad
Pansy with Draco and the rest of his gang.
During Pansy's first class of flying, which Slytherin shared with its rival house, Gryffindor, she teased Parvati Patil for defending Neville Longbottom when Draco Malfoy threw away his Remembrall.
</article>
<article>
<p>
This was the start of a long-lived mean streak for Pansy; throughout her education, she would belittle countless other students whom she disliked.[3] During her second year, Hogwarts was under threat of closure when the Basilisk that lived down in the Chamber of Secrets was loose; it attacked several Muggle-borns, among them Hermione Granger, whom Pansy enjoyed to tease frequently.
</article>
</body>

</html>