<!doctype html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
	<title>Slytherin</title>
	</head>
<body>
	<header>
	<h1>Facewarts</h1>
	<ul class="nav">
		<li><a href="/">Home</a></li>
		<li><a href="/gryffindor">Gryffindor</a></li>
		<li><a href="/slytherin">Slytherin</a></li>
	</ul>
</header>
<div>
	<h3>Slytherin</h3>
	<img src="http://static.tumblr.com/ulvq4o4/gS9lr4wjd/tumblr_lpb5p5j7eu1qghwau.jpg">
	<p>Slytherin is one of the four Houses at Hogwarts School of Witchcraft and Wizardry. Founded by Salazar Slytherin, the house is composed mostly of pure-blood students, due to its founder's mistrust of Muggle-borns. The house is traditionally home to students who exhibit such traits as cunning, resourcefulness, and ambition. Its emblematic animal is a snake and its colours are green and silver. The house ghost is the Bloody Baron.

Slytherin corresponds roughly with the element of water with serpents being commonly associated with the sea and lochs in western European mythology as well as serpents being physically fluid and flexible animals.[8] The colours also correspond with waters around lakes and lochs often being green, and silver being often associated with grey rain water.</p>
</div>
<div>
	<h3>Slytherin Folks</h3>
	<ul>
		<li><a href="/severus">Severus Snape</a></li>
		<li><a href="/bloody">Bloody Baron</a></li>
	</ul>
</div>
</body>
</html>