<html>

<head>
<title>FaceWarts: Slytherin</title>
<link rel="stylesheet" type=text/css href="../stylesheets/stylesheet.css">
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>

<div class="logo">
<h1><a href="/">FaceWarts</a></h1>
</div>

<h4>House of Slytherin</h4>
<img src="http://static.tumblr.com/ulvq4o4/gS9lr4wjd/tumblr_lpb5p5j7eu1qghwau.jpg" alt="House of Slytherin">
<div class="house">
<ul>
	<li><a href="/slytherin/DRACO_MALFOY">Draco Malfoy</a></li>
	<li><a href="/slytherin/VINCENT_CRABBE">Vincent Crabbe</a></li>
</ul>

  </div>
<div class="footer">
	&copy; 2014 FaceWarts. All rights reserved.
</div>

</body>

</html>