<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Bilbo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
	<title>FaceWarts:Gryffindor</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>
<body>
	<h1>FaceWarts:Slytherin</h1>
	<h3>Welcome to Slytherin!</h3>
	<h5>A list of our students</h5>
		<ul>
			<li><a href="/DRACO_MALFOY">Draco Malfoy</a></li>
			<li><a href="/VINCENT_CRABBE">Vincent Crabbe</a></li>
			

		</ul>




</body>
</html>