.logo {

}

.header_main {
	height: 100px;
	width: 1380px;
	background: grey;
	text-align: center;
}

	.header_gryffindor {
		height: 100px;
		width: 1380px;
		background: maroon;
	}


	.header_slytherin {
		height: 100px;
		width: 1380px;
		background: green;
	}
	


h1 {
	display: inline;
	margin: 10px;
	font-family: impact;
}

#gryffindor {
	font-family: verdana;

}
#slytherin {
	font-family: verdana;
	
}

.body {
	text-align: center;

	margin-top: 30px;
}

	.logo_big {
		height: 400px;
		margin: 30px;
		border-radius: 50px;
	}


		.thumbnail_student {
			float: left;
			height: 230px;
			width: 230px;
			background: grey;
			margin: 20px;
			margin-top: 20px;
			border-radius: 20px;
		}
		.thumbnail_student img {
			height: 200px;
		}