<html>
<head>
	<title>Tom Riddle/Lord Voldemort</title>

	<link rel="stylesheet" type="text/css" 
	href="../stylesheets/style.css">

	<link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>

</head>

<body>

	<h1>Tom Riddle / Lord Voldemort</h1>

	<img src="http://img3.wikia.nocookie.net/__cb20140619173704/harrypotter/images/thumb/1/1c/Tomdh.jpg/250px-Tomdh.jpg">

<p>Voldemort: "You do not seek to kill me, Dumbledore? Above such brutality, are you?"
Dumbledore: "We both know there are other ways of destroying a man, Tom. Merely taking your life would not satisfy me, I admit."
Voldemort: "There is nothing worse than death, Dumbledore!"
Dumbledore: "You are quite wrong. Indeed, your failure to understand that there are things much worse than death has always been your greatest weakness."
— Voldemort to Dumbledore before their duel[src]
Tom Marvolo Riddle (31 December, 1926[10] – 2 May, 1998), later known as Lord Voldemort, was a half-blood wizard and considered to be one of the the most powerful Dark Wizards of all time. The son of wealthy Muggle Tom Riddle Senior and witch Merope Gaunt, he was orphaned and raised in a Muggle orphanage, which remained his permanent residence through his 1938-1945 attendance at Hogwarts School of Witchcraft and Wizardry. He was a member of Slytherin house. 

His accomplishments included the opening of Salazar Slytherin's Chamber of Secrets and the use of its monster to attack Muggle-born students; several months' service as a purchasing agent for the Dark artefacts shop Borgin and Burkes; and the attainment of immortality between the years of 1944 and 1998, a process begun upon the creation of his first Horcrux at the age of 16. Abandoning his 'Muggle' name, he became the self-proclaimed Lord Voldemort, commanded a veritable army of wizards and Dark creatures, committed numerous murders personally and through his followers, on one occasion nearly succeeded and on a later occasion did succeed in taking over the Ministry of Magic by installing a puppet Minister. Splitting his soul into a total of eight pieces, Lord Voldemort created seven Horcruxes, one unintentionally and without his knowledge. 

Voldemort was ripped from his body in 1981, and though unable to die, was not able to regain a permanent and physical body until 1995, thus spending the intervening 14 years 'a shell', 'less than the meanest ghost', but alive. He was finally killed by his own backfiring curse, after the Order of the Phoenix, led by Albus Dumbledore and then Harry Potter after his death, succeeded in destroying all of his Horcruxes. 

Tom Riddle's mutilated soul was then trapped in limbo for eternity, unable to move on or return as a ghost.[11]</p>

</body>

</html>