<html>
<head>
	<title>Vincent Crabbe</title>
	<!-- we'd have to add something in here, but not sure what to make this tab name '/student_name. 
	I think it would be something like title = h1 content (b/c we have their name in h1 as our standard) -->

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
 	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->
 	<!-- this line just says that a stylesheet actually exist, but by itself doesn't actually tell you where to get it -->
</head>	
</head>	
<body>
<h1>Vincent Crabbe</h1>
<h3>House of Slytherin</h3>
<img src="http://harrypotter.wikia.com/wiki/File:Vincent_Crabbe1.jpg"/>

<p>
Vincent Crabbe was born into the pure-blood Crabbe family. His father, Mr. Crabbe, was a Death Eater. This likely influenced his son's prejudice against Muggle-borns and other non pure-bloods. Vincent was related, in some way, to Irma Black.

At the start of his first year, Crabbe was sorted into Slytherin House, along with his friends Draco Malfoy and Gregory Goyle, both of whom were also the sons of Death Eaters. Harry Potter noticed that Crabbe and Goyle seemed to act as bodyguards for Malfoy. When Draco challenged Harry to a duel, he selected Crabbe as his Second, although the challenge was merely a ruse to get Harry in trouble for being out of bed after hours. </p>
</body>


</html>