<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome!</title>
</head>
<body>
	<form action="/houses" method="POST">
		<input type="text" name="name" placeholder="House">
		<input type="text" name="name" placeholder="Age">

		<button>Submit</button>
	</form>
</body>
</html>
