extends layout

block content
	div.container
		h1= user.name
		h3 Age: #{user.age}
		h3 Comments
		2

		h5 Leave Comment
		form(name="comment" action="/addcomment/#{user.id}" method="post")
			input(type="text" name="user" placeholder="Name")
			br
			textarea(name="content") Content
			br
			input(type="submit" value="submit")

