<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatragram</title>
</head>
<body>
	<h1>Sinatragram</h1>
	<h2>Sinatrasults for: <%= tag%></h2>
	<ul>
		<% image_array.each do |y| %>
		<li><img src="<%= y %>"></li>
		<% end %>
	</ul>

</body>
</html>