<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grocery List</title>
	<link rel="stylesheet" href="/styles.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


</head>
<body>
	<header>
		<h1>Grocery List</h1>
	</header>
	<div class="form">

			<input type="text" name="item" placeholder="What do you need?">
			<button id="addIt">Add it!</button>

	</div>
	<div class="main">
		<ul>
		</ul>
	</div>
		<script type='text/javascript' src="/scripts.js"></script>
</body>
</html>