<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<title> <%= @app_name %> | <%= @view_name %> </title>
		<link rel=stylesheet type=text/css href=/styles>
	</head>
	<body>
		<%= @header_partial %> 
		<section class=info>
			<h1>about the HASH of HEARTS</h1>
			<p>The HASH of HEARTS is a web applikation, design'd to query the INSTAGRAM API for a # made of associated hearts, denoted by a TAG WORD, such as "fish", "friend", "foresight", "filmic", "finalized" or "alphabet", as writ on the INSTAGRAM web applikation. Thou can savest thy HASHES of HEARTS to the cloud &amp; look at them there.</p>		
		</section>
	</body> 
</html> 