<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<title> <%= @app_name %> | <%= @view_name %> </title>
	</head>
	<body>
		<section>
			<%= @header_partial %> 
			<p>Thee HASH of HEARTS is a web applikation, design'd to query the INSTAGRAM API for a # made of associated hearts, denoted by a TAG WORD, such as "fish", "friend", "foresight", "filmic", "finalized" or "alphabet", as writ on the INSTAGRAM web applikation. Thou can savest thy HASHES of HEARTS to the cloud.</p>		
		</section>
	</body> 
</html> 