<!DOCTYPE html>
<html>
<head>
<title> FaceWarts</title>
</head>

<link rel ="stylesheet" type="text/css" href="./stylesheets/style.css">
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>

<body>
<h1>FaceWarts</h1>
<h3>Connecting Witches and Wizards since before Zuckerberg had the same idea </h3>

<p>
Peter Pettigrew, Order of Merlin, First Class, (c. 1960—March 1998), also known by his nickname Wormtail[9], was a wizard and son of Mr. and Mrs. Pettigrew. He began attending Hogwarts School of Witchcraft and Wizardry in 1971 and was sorted into Gryffindor house. During his years at Hogwarts, he became one of the Marauders; he was best friends with Sirius Black, James Potter, and Remus Lupin, and together they created the Marauder's Map.	
</p>

<img src = "http://harrypotterautographs.com/TimothyS1a.jpg" alt= "pp">

</body>

</html>