<!DOCTYPE html>
<html>
<head>
<title> FaceWarts</title>
</head>

<link rel ="stylesheet" type="text/css" href="./stylesheets/style.css">
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>

<body>
<h1>FaceWarts</h1
<h3>Connecting Witches and Wizards since before Zuckerberg had the same idea </h3>

<p>
Professor Rubeus Hagrid (b. 6 December, 1928[7][8]) was a half-giant wizard, son of Mr. Hagrid and the giantess Fridwulfa, and elder half-brother of the giant Grawp. He attended Hogwarts School of Witchcraft and Wizardry in 1940 and was sorted into Gryffindor house. In Hagrid's third year, he was framed by Tom Riddle for the crime of opening the Chamber of Secrets and using his pet Acromantula to attack several Muggle-born students and eventually kill one of them. Though Hagrid's wand was snapped and he was expelled, he was trained as gamekeeper of Hogwarts and allowed to live on the school grounds at the request of Albus Dumbledore. In 1991, Hagrid was given the task of reintroducing Harry Potter to the wizarding world. In 1993, Hagrid would assume the post of Care of Magical Creatures professor after the retirement of Professor Silvanus Kettleburn.
</p>

<img src= "http://images6.fanpop.com/image/photos/32700000/Rubeus-Hagrid-Wallpaper-hogwarts-professors-32796370-1024-768.jpg" alt="haggy">

</body>

</html>