<!DOCTYPE html>
<html>
<head>
<title> FaceWarts</title>
</head>

<link rel ="stylesheet" type="text/css" href="./stylesheets/style.css">
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>

<body>
<h1>FaceWarts</h1>
<h3>Connecting Witches and Wizards since before Zuckerberg had the same idea </h3>

<p>
Tom Marvolo Riddle (31 December, 1926[10] – 2 May, 1998), later known as Lord Voldemort, was a half-blood wizard and considered to be one of the the most powerful Dark Wizards of all time. The son of wealthy Muggle Tom Riddle Senior and witch Merope Gaunt, he was orphaned and raised in a Muggle orphanage, which remained his permanent residence through his 1938-1945 attendance at Hogwarts School of Witchcraft and Wizardry. He was a member of Slytherin house. 
</p>

<img src = "http://1.bp.blogspot.com/-J_enbv7Xv0o/TcDjxUlZgnI/AAAAAAAACGI/qfBBzcXCiDU/s1600/Tom_Riddle_Chamber_of_Secrets.jpg" alt="riddle">

</body>

</html>