<html>
<head>
	<title><%= astronaut["name"] %></title>
</head>
<body>
	<h2><%= astronaut["name"] %></h2>
	<h4>Rank: <%= astronaut["rank"] %></h4>
	<h4>Vessel: <%= shuttle["name"] %></h4>
</body>
</html>