<html>
<head>
	<title></title>
</head>
<body>
	<h2>Christen a vessel into our Overlord's service</h2>
	<form action="/shuttle" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="origin_country" placeholder="Country of Origin">
		<input type="text" name="destination" placeholder="Destination">
		<button>Duly Christen!</button>
	</form>
</body>
</html>