		<h2>Songs by this artist</h2>
		<ul>
			<% songs = Song.where(artist_id: artist.id) %>
			<% songs.each do |song| %>
				<li><%= song.name %><form name="edit_song" action="/songs/<%= song.id %>" method="GET"><button >Edit Song</button></form></li>
			<% end %>
		</ul>

