
# The page should show the title, rating, the year it was made, and a link to the imdb.

<html>
<head>
	<title>The%20Godfather</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>	
</head>	
<body>

<h1>Movies</h1>
<ol>
  <li>    </li>
  
  
</ol>

Example of how to access a value in a hash


# vladimir_putins_brain = { 
#   launch_code: "a5Mjp257GHMGH23e5qxE", 
#   fav_hobby: "Riding ponies", 
#   prideful: true 
# }
# Use pry to return the string "Riding ponies"

	#[11] pry(main)> vladimir_putins_brain[:fav_hobby]


movie_db = [
  {
      name:"The Shawshank Redemption",
      rating:"9.2",
      rank:"1",
      link:"http://www.imdb.com/title/tt0111161/",
      year:"1994"
   },
   {
      name:"The Godfather",
      rating:"9.2",
      rank:"2",
      link:"http://www.imdb.com/title/tt0068646/",
      year:"1972"
   },

</body>

</html
