<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">

  <title>Email Signup</title>
</head>
<body>
  <div id="wrapper">
    <div id="box">
    <h2>Enter your email here to be alerted when our cool new product drops!</h2>
    <form action="/emails" method="POST">
      <input type="text" name="first" placeholder="First name">
      <input type="text" name="last" placeholder="Last name">
      <input type="email" name="email" placeholder="Email address here">
      <button>Submit</button>
    </form>

    </div>
  </div>
</body>
</html>
