<h1>Hello, here are the cars:</h1>
<ul>
  <% cars.each do |car| %>
    <li><%= car.make %> <%= car.model %> <%= car.year %></li>
  <% end %>
</ul>

<form action="/cars" method="POST">
  <label>
    Make:
    <input name="make" />
  </label>

  <label>
    Model:
    <input name="model" />
  </label>

  <label>
    Year:
    <input name="year" />
  </label>

  <input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden">

  <button>Submit</button>
</form>