<!DOCTYPE html>
<head>
<title>Rosencrantz In The House</title>
</head>
<body>

<!-- 
<h2>wuuk</h2>
<p><a href="https://github.com/wuuk">See this student's Github Profile. </a></p>
<p>Created at 2014-07-24T16:16:55Z</p>
<img src="https://avatars.githubusercontent.com/u/8259036?v=2">
<p>Public Repos: {{repos}}</p>
 -->
<h2>{{login}}</h2>
<p><a href="{{html_url}}">See this student's Github Profile. </a></p>
<p>Created at {{creation}}</p>
<img src="{{avatar}}">
<p>Public Repos: {{repos}}</p>









</body>