<!DOCTYPE HTML>
<html lang=en>
<head>
	<meta charset=utf-8>
	<title>Musical People | the Search for Music People</title>
</head>
<body>
	<h1>Musical People | the Search for Music People</h1>
	<p>You can search for stuff:</p>
	<form action=/search method=GET>
       <input type=text name=s placeholder="Enter a word..." />
       <button>Submit</button>
    </form>
</body>
</html>