<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Author</title>
</head>
<h1> Add a New Author </h1>
<body>
  <form action="/authors" method="POST">
    <input type="text" name="name" placeholder="Authors Name">
    <input type="text" name="email" placeholder="Authors E-mail">
    <button>Submit</button>
  </form>
</body>
</html>