<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Main</title>
	<link rel="stylesheet" href="./public/stylesheets/style.css">
</head>
<body>
	<div class="navbar">
		<form action="/" method="GET">
			<button>Home</button>
		</form>
		<form action="/shuttles_page" method="GET">
			<button>Shuttles</button>
		</form>
		<form action="/astronauts_page" method="GET">
			<button>Astronauts</button>
		</form>		
	</div>



</body>
</html>