<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   <script src="http://underscorejs.org/underscore-min.js"></script>
 
  <meta charset="UTF-8">
   <script src='/scripts.js'></script>
  <title></title>
</head>

<body>
  <div class = "container">
    <select name="county" class="counties">
    </select>
    <button class="byCounty">GO</button>
     <select name="sex" class="maleFemale">
    </select>
     <button class="bySex">GO</button>
    <table class="table table-bordered table-hover">
      <caption class="babyNames"></caption>
       <thead>
      <tr>
         <th>Name</th>
         <th>County</th>
         <th>Gender</th>
         <th>Count</th>
      </tr>
   </thead>
 <tbody class = "record">


</tbody>
</table>
  </div>
  
</body>
</html>