!!! 
%html{:lang => "en"}
	%head 
		%meta{:charset => "utf-8"}
		%title Search for Movie Posters
		%link{:type => "text/css", :rel => "stylesheet", :href => "styles.css"}
	%body 
		%section.search_input 
			%h1 Postersearch  
			%h2 A Search for Movie Posters  

			%label 
				%span Movie Name: 
				%input#search_input{:type => "text"}

			%button Search! 

		%section.search_results  
			%h2 Search Results

			%ul#search_results
			%script{:src => "script.js"}
