<!DOCTYPE html>
<head>
	<title>Hogwarts Registar Castlepage</title>
	<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|UnifrakturCook:700|Henny+Penny|Metamorphous|UnifrakturMaguntia' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<nav>
	<ul>
		<li><a href="/search">Search</a>
		<li><a href="/students/new">Add Student</a>
		<li><a href="/houses/Gryffindor">Gryffindor</a>
		<li><a href="/houses/Slytherin">Slytherin</a>
		<li><a href="/houses/Hufflepuff">Hufflepuff</a>
		<li><a href="/houses/Ravenclaw">Ravenclaw</a>
	</ul>
</nav>	

<div>
<h1>Hogwarts Registrar</h1>
<h2>Registry of Wizards and Witches</h2>
<ul>
	<% student_profiles.each do |stud| %>
	<li><a href="/students/show/<%= stud[:name] %>"> <%= stud[:name] %></a> 
	<form>
		<button>Sorting Hat</button>
	</form>
	</li>
	<% end %>
</ul>
</div>

</body>