<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<title>Hogwarts Registrar</title>
</head>	
<body>
	<header>
		<h1>Hogwarts School of Witchcraft and Wizardry</h2>
	</header>
	<div class="wrapper">	
	<h2>Hogwarts Register Form</h2>
	<form action="/" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="age" placeholder="Age">
		<input type="text" name="favorite_spell" placeholder="Favorite Spell">
		<button>Submit</button>
	</form>
	<form action="/search" method="GET">
		<input type="text" name="student" placeholder="Student Name">
		<button>Submit</button>
	</form>
	<!-- <ul>
		<li><a href="/gryffindor">Gryffindor</a></li>
		<li><a href="/slytherin">Slytherin</a></li>
	</ul> -->
	</div>	
</body>
</html>	