<!DOCTYPE html>
<head>
	<title>New Hogwarts Student</title>
	<link href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|UnifrakturCook:700|Henny+Penny|Metamorphous|UnifrakturMaguntia' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<nav>
	<ul>
		<li><a href="/">Castle</a>
		<li><a href="/search">Search</a>
		<li><a href="/houses/Gryffindor">Gryffindor</a>
		<li><a href="/houses/Slytherin">Slytherin</a>
		<li><a href="/houses/Hufflepuff">Hufflepuff</a>
		<li><a href="/houses/Ravenclaw">Ravenclaw</a>
	</ul>
</nav>

<div>
<h1>Hogwarts Registrar</h1>
<h2>Add New Witch or Wizard</h2>
<form action="/" method="POST">
Name<input type="text" name="name" placeholder="Name" />
Age<input type="text" name="age" placeholder="Age" />
Favorite Spell<input type="text" name="spell" placeholder="Favorite Spell" />
<button>Add Student</button>
</form>
</div>

</body>