<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<title>Slytherin</title>
</head>	
<body>
	<header>
		<h1>Hogwarts School of Witchcraft and Wizardry</h2>
	</header>
	<div class="wrapper">
	<h2>Welcome to Slytherin!</h2>
	<h3>Students list is below:</h3>
	<ul>
		<%= student%>
	</ul>
	</div>
	<p style="text-align: center"><a href="/?">Resistered Students</a></p>
	<footer>	
		<p><a href="/students/new">Go Back Home...</a></p>
	</footer>
</body>
</html>	