<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<title>Hogwarts Registrar</title>
</head>	
<body>
	<header>
		<h1>Hogwarts School of Witchcraft and Wizardry</h2>
	</header>
	<div class="wrapper">
	<h2>Resistered Students</h2>
	<ul>
	<%= students%>
	</ul>
	<h2>Dormitory</h2>
		<ul>
			<li style="margin-bottom: 11px"><a href="/houses/gryffindor?">Gryffindor</a></li>
			<li><a href="/houses/slytherin?">Slytherin</a></li>
		</ul>	
	</div>
	<footer>
		<p><a href="/students/new">Go Back Home...</a></p>
	</footer>
</body>
</html>