<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<!--   <link rel="stylesheet" type="text/css" href="/styles.css">
 -->  <title>Photos of...</title>
 	<link rel="stylesheet" type="text/css" href="./stylesheets/instastyle.css">

</head>



<body>

 <!--  <form action="/words" method="GET">
    <input type="text" name="specific_word" placeholder="Enter a word..." />
    <button>Submit</button>
  </form>
 -->
<div>
<form action="/photos" method="GET">
	<input type="text" name="tag_name" placeholder="A picture of..." />
	<button>Submit</button>
</form>
</div>

</body>
</html>