<html>
<head>
	<title>Images from <%= city %> </title>
</head>
<body>
	<% images.each do |image|
		image_url=image["images"]["standard_resolution"]["url"]%>
		<img src="<%= image_url %>" />
	  <% end %>
</body>
</html>
