<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="style.css">

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="row">
			<header class="col-md-1 col-md-offset-5">
				<h1>Admin</h1>
			</header>
		</div>

		<!-- Button trigger modal -->
		<div class="row">
			<div class="col-md-1 col-md-offset-5">
				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					Add Tshirt
				</button>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">Add Shirt</h4>
					</div>
					<div class="modal-body">
						<input id="tshirt" name="tshirt" placeholder="tshirt">
						<input id="price" name="price" placeholder="price">
						<input id="quantity" name="quantity" placeholder="quantity">
						<input id="imageURL" name="imageURL" placeholder='imageURL'>
					</div>
					<div class="modal-footer">
						<button id="add" type="button" class="btn btn-primary">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	var xhr = new XMLHttpRequest;

	var button = document.getElementById('add');
	button.addEventListener('click', function() {
		var shirtInfo = {};

		var tshirt = document.getElementById('tshirt');
		var price = document.getElementById('price');
		var quantity = document.getElementById('quantity');
		var imageURL = document.getElementById('imageURL');
		shirtInfo.tshirt = tshirt.value;
		shirtInfo.price = price.value;
		shirtInfo.quantity = quantity.value;
		shirtInfo.imageURL = imageURL.value;
		
		addShirt(shirtInfo);
	})

	function addShirt(info){

		xhr.open('POST', 'http://127.0.0.1:4567/add-shirt', true)
		xhr.send(JSON.stringify(info));

	}
	</script>
</body>
</html>