
h1 {
	text-align: : center;
	color: #6699FF;
	font-size: 80px;
	font-family: Britannic bold;
}

img {
	max-height: 150px;
	max-width: 150px;
	width: 100px;
	height: 100px;
}

p {
	font-family: Microsoft Sans Serif;
	font-size: 10px;
	color: black;
}

body {
	text align: center;
	background-color: black;
}