<html>
<head>
	<title>FaceWarts</title>

	<link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<h1>Gryffindoor</h1>
	<h3> "You might belong to Gryffindor, Where dwell the brave at heart. Their daring, nerve, & chivalry Set Gryffindors apart!" </h3>


<p>
<b> 
	<a href="/dumbledoor.html"> Albus Dumbledoor</a> 
</b>
<br>
Professor Albus Percival Wulfric Brian Dumbledore is a fictional character in J. K. Rowling's Harry Potter series. For most of the series, he is the headmaster of the wizarding school Hogwarts. As part of his backstory, it is revealed that he is the founder and leader of the Order of the Phoenix, an organisation dedicated to fighting Lord Voldemort.
</p>

<p>
<b> <a href="/gryffindor.html"> Rubeus Hagrid</a> </b>
<br>
Rubeus Hagrid is a fictional character in the Harry Potter book series written by J. K. Rowling. Hagrid is introduced in Harry Potter and the Philosopher's Stone as a half-giant and half-human who is the gamekeeper and Keeper of Keys and Grounds of Hogwarts, the primary setting for the first six novels. In the third novel Harry Potter and the Prisoner of Azkaban, Hagrid is promoted to Care of Magical Creatures teacher, and later becomes a member of the Order of the Phoenix.
</p>

<p>
<b> <a href="/gryffindor.html"> Harry Potter </a> </b>
<br>
Harry James Potter (b. 31 July, 1980) was a half-blood wizard, the only child and son of James and Lily Potter (née Evans), and one of the most famous wizards of modern times. In what proved to be a vain attempt to circumvent a prophecy, that stated a boy born at the end of July of 1980 could be able to defeat him, Lord Voldemort attempted to murder him when he was a year and three months old, shortly after murdering Harry's parents as they tried to protect him. 
</p>