<html>
<!-- <<<<<<< HEAD -->
	<!-- <head>
		<title>FaceWaters</title>
		<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
	</head>
	<body>
		<h1>FaceWaters</h1>
		<h3>Connecting Witches and Wizards since before Zuckerberg had the same idea</h3>
		<ul>
			<li><a href="/about">About us!</a></li>
		</ul>	
	</body>	 -->
<!-- ======= -->
<head>
	<title>FaceWarts</title>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>

	<h1>FaceWarts</h1>
	<h3> Connecting Witches and Wizards since before Zuckerberg had the same idea</h3>

	<ul>
		<li><a href="/about">About us!</a></li>
		<li><a href ="/gryffindor">Gryffindor student list</a></li>
		<li><a href ="/slytherin">Slytherin student list</a></li>
	</ul>

</body>

<!-- >>>>>>> 782600f8f77ca947b841b71c571daa6a3b950a44 -->
</html>