<html>
<head>
	<title>FaceWarts</title>

	 <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">

</head>

<body>

	<h1>FaceWarts</h1>
	<h3> Connecting Witches and Wizards since before Zuckerberg had the same idea</h3>

	<ul>
		<li> <a href="/about.html">Who are we?</a></li>
		<li> <a href="/gryffindor.html">Gryffindor</a></li>
		<li> <a href="/slytherin.html">Slytherin</a></li>
	</ul>

  	<input type="email" placeholder="Your email">
  	<input type="submit">

</body>

</html>