<html>
<head>
	<title>FaceWarts</title>

	 <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<h3>Professor Slytherin</h3>
	<img src ="http://media-cache-ak0.pinimg.com/236x/12/ab/9e/12ab9eef00f3793ac72bba7e5693a183.jpg">
<p>
Professor Salazar Slytherin was a pure-blood wizard of medieval times. He was a Parselmouth (a wizard with the rare ability to speak with snakes) and skilled at Legilimency. He was one of the four founders of Hogwarts School of Witchcraft and Wizardry and the former best friend of Godric Gryffindor, a fellow founder. Slytherin didn't trust Muggle-born students, and he expressed his opinion not to accept them at Hogwarts. However, when the other Hogwarts founders didn't agree, Slytherin created the Chamber of Secrets, concealing a basilisk inside. Afterwards he left the school, never to return. He died sometime in the Middle Ages.
</p>
</body>
</html>