<html>
<head>
	<title>FaceWarts</title>

	 <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<h1>Slyterhin</h1>
	<h3> Plan in ways a Ravenclaw finds sound
		Blend like a Hufflepuff into the background
		As for the Gryffindor, learn from their mistakes
		And be ready to react, Slytherin, swift as a snake.</h3>
	<h3> Serpens tacitus perspicasis et celeris est. </h3>


<p>
<b> <a href="/professorslytherin.html"> Professor Slytherin</a> 
</b>
<br>
Professor Salazar Slytherin was a pure-blood wizard of medieval times. He was a Parselmouth (a wizard with the rare ability to speak with snakes) and skilled at Legilimency. He was one of the four founders of Hogwarts School of Witchcraft and Wizardry and the former best friend of Godric Gryffindor, a fellow founder. Slytherin didn't trust Muggle-born students, and he expressed his opinion not to accept them at Hogwarts. However, when the other Hogwarts founders didn't agree, Slytherin created the Chamber of Secrets, concealing a basilisk inside. Afterwards he left the school, never to return. He died sometime in the Middle Ages.
</p>

<p>
<b> <a href="/slytherin.html"> Malcolm Baddock </a> </b>
<br>
Malcolm Baddock (born c. 1982-1983) was a Slytherin student at Hogwarts School of Witchcraft and Wizardry three years below Harry Potter. His arrival at the Slytherin table immediately after being Sorted in 1994 was met with applause from Draco Malfoy, but Fred and George Weasley hissed at him, and Harry privately wondered if Malcolm was aware of Slytherin House's sinister reputation.
</p>

<p>
<b> <a href="/slytherin.html"> Lucian Bole</a> </b>
<br>
Lucian Bole started his education at Hogwarts in 1988, he was sorted into the house of Slytherin and became a member of the Slytherin Quidditch team, playing the role of beater.

During the final match between Gryffindor and Slytherin in his sixth year, Bole clubbed Gryffindor Chaser Alicia Spinnet, claiming he'd mistaken her for a Bludger. In revenge, George Weasley elbowed Bole in the face, leading Madam Hooch to give both teams penalties.

In Bole's seventh year, the Triwizard Tournament lead all Quidditch games at Hogwarts to be cancelled, but he nonetheless nominally retained his position on the Slytherin team until his graduation in June 1995.
</p>