<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New Author</title>
</head>
<body>
	<h1>Sign up here</h1>
	<form action="/authors" method="POST">
		Name<br/>
		<input type="text" name="name" placeholder="Name"><br/>
		Email<br/>
		<input type="text" name="email" placeholder="Email"><br/>
		Password<br/>
		<input type="password" name="password" placeholder="Password"><br/>
		<button>Do It!</button>
	</form>
</body>
</html>