<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/styles">
</head>
<body>
	<div class="header">
		<img src ={{IMAGE}}>
		<div class="name">
			<h1> {{NAME}} </h1>
		</div>

		<div class="main">
			<div class="info">
				<h4> GitHub:</h4> 
				<p>{{GITHUB}}</p>
			</div>
			<div class="info">
				<h4> Create Date: </h4> 
				<p>{{CREATED}} </p>
			</div>
			<div class="info">
				<h4> Public URL: </h4> 
				<p>{{PUBLIC_URL}} </p>
			</div>
		</div>
	</div>



</body>
</html>