<!Doctype html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>email entry</title>
</head>
<body>
	<h1>hello world</h1>
	<div>
		<form action="/list" method="POST">First Name:
		<input type="text" name="first name" placeholder="first name">Last Name:
		<input type="text" name="last name" placeholder="last name">SSN:
		<input type="text" name="ssn" placeholder="I dare you">
		<button>submit</button>
	</div>
</body>
</html>