<!Doctype html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>email list</title>
</head>
<body>
	<h1>email list</h1>
	<div> <ul>
			
			<%= mailinglist %>
	</ul>
	<a href="/">add more</a></br></div>
</body>
</html>