<html>
<head>
	<title>Dog Breeds</title>
</head>
<body>
	<h3>Edit</h3>

	<form action='/edit/<%= dog.id%>' method ='POST'>
		<input type='hidden' name='_method' value='PUT'>
		<input type='text' name='breed' placeholder='Breed'>
		<button>Submit</button>
	</form>

</body>