<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Baby Names</title>
</head>
	<body>

		<h1>Babys Born In New York State In 2012</h1>

		<table border="1" style="width:70%">
		  <tr>
		    <th>Name</th>
		    <th>County</th> 
		    <th>Gender</th>
		    <th>Count</th>
		  </tr>
		  <% i = 0 %>
		  <% while i <= 100 %>
		  	<% if babys["data"][i][8] == "2012"%>
				  <tr>
				    <td><%= babys["data"][i][9].capitalize %></td>
				    <td><%= babys["data"][i][10].capitalize %></td> 
				    <td><%= babys["data"][i][11] %></td>
				    <td><%= babys["data"][i][12] %></td>
				  </tr>
				<% end %> 
		  <% i += 1 %>
		  <% end %>
		</table>

	  
	</body>
</html>