<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Baby Names</title>

	<link rel="stylesheet" href="./styles.css">

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<script src="./scripts.js"></script>

</head>
	<body>
		<h1 class="content"></h1>

		<h1>Babys Born In New York State In 2012</h1>

		<table border="1" style="width:70%">
		  <tr>
		    <th>Name</th>
		    <th>County</th> 
		    <th>Gender</th>
		    <th>Count</th>
		  </tr>
			<tr>
				<td class="content"></td>
				<td></td> 
				<td></td>
				<td></td>
			</tr>
		</table>

	  
	</body>
</html>