<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SEARCH BY CONDITION</title>
</head>
<body>
	<div class="navbar">
		<form class="btn_add_patient" action="/add_patient" method="GET">
			<input type="hidden" name="btn_add_patient" value="">	
			<button>Register Patient</button>
		</form>
		
		<form class="btn_home" action="/" method="GET">
			<input type="hidden" name="btn_home" value="">
			<button>Home</button>
		</form>

		<form class="btn_condition" action="/search_by_condition" method="GET">
			<input type="text" name="searched_condition" placeholder="enter condition">
			<button>Search by condition</button>
		</form>

		<form class="btn_name" action="/search_by_name" method="GET">
			<input type="text" name="searched_name" placeholder="enter first name">
			<button>Search by name</button>
		</form>
	</div>




	<div class="main">
		<h3> Results for patients with: <span style="font-style: italic;"> <%=searched_condition%> </span>
		<ol>
			<% patient_data.each do |patient| %>
				<% if patient["condition"] == searched_condition %>

					<li> <%= patient["first_name"] + " " + patient["last_name"]%> - admitted: <%=patient["date_admission"]%> </li>
				<%end%>

			<%end%>
		</ol>

	</div>



</body>
</html>