form{
	padding:10px;
}
h1{
	color: blue;
	text-align: center;
}
body{
	background-color: blanchedalmond;
	width: 800px;
	margin:0 auto;
}
a{
	text-align: center;
	text-decoration: none;
}

form{
	text-align: center;
}

h2{
	color:blue;
}