<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Grocery List</title>
	    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	    	<script src="../app.js"></script>

	<h2> Grocery list </h2>
</head>

<body>
<input type="text" id="text" placeholder="Items to be added:">
<br>
		<button id="add"> + </button>
		<button id="delete"> - </button>
</input>

<h3> Items </h3>

<header>
	<ul>
	</ul>

<!-- 	delete this shit-->	
<!-- 	<ul class="to-buy"> 

			<% items.each do |x| %>
						<li id=<%= x['id'] %>><%= x['item'] %> </li>
			<% end %>

		</ul> -->
<!-- 	delete this shit-->	
		
</header>


					
		
		

</body>

</html>