<html>
<head>
	<title>Grocery Shopping App</title>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<script src="./scripts.js"></script>
</head>
<body>
	<h1>Shopping List</h1>
		<input type="text" id="add" placeholder="Add an item"/>
		<button id="add">Add</button>
		<button id="delete">Delete Checked Item</button>	
		<button id="purchased">Mark as Purchased</button>	
			<h2>Items</h2>
				<ul>
				</ul>
				

</body>
</html>