<html>
<head>
	<title>Greeter Search</title>
</head>
<body>
	<h2>Welcome to Greeter Search</h2>
	<form action="/search" method="GET">
		<input type="text" name="name" placeholder="Greeter's Name">
		<button>Search</button>
	</form>
</body>
</html>