<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer List</title>
</head>
<body>

  <a href="/">Home</a>

  <br>
  <br>

  <a href="/customers/new">Create new customer</a>

  <br>
  <br>

  <h3>Current Customers of the Awesome store</h3>

  <ol>

    <li>

      <% customers.each do |customer| %>

          <a href="/customers/<%=customer.id %>"> <%=customer.name%> </a>

           </li>

             <% end %>

             </ol>


</body>
</html>