<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Customer</title>
</head>
<body>

  <a href="/">Home</a>

  <br>
  <br>

  <br>
  <br>

  <h3>New Customer</h3>

  <form action="/customers" method="POST">
      <input type="text" name="name" placeholder="Enter Name">

      <button>Submit</button>

  </form>

</body>
</html>