<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Car or Mechanic?</title>
</head>
<body>
	<p><a href="./cars">Go to list of cars</a></p>
	<p><a href="./mechanics">Go to list of mechanics</a></p>
	<p><a href="./mechanic_new">Add a new mechanic</a></p>
	<p><a href="./car_new">Add a new car</a></p>
	<p><a href="./search_car">Search for a car</a></p>
	<p><a href="./search_mechanic">Search for a mechanic</a></p>

	</p>
</body>
</html>