<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Enter a new mechanic</title>
</head>
<body>
	<form action="/mechanics" method="POST">
		<label>Full name
			<input type="text" name="name" placeholder="full name">
		</label>
		<label>Age
			<input type="text" name="age" placeholder="age">
		</label>
		<label>Favorite Car
			<input type="text" name="fave" placeholder="Make and Model">
		</label>
    <button>Submit</button>
	</form>



</body>
</html>