<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search the cars</title>
</head>
<body>
	<h2>Search the cars</h2>

<form action="/search_car" method="GET">
	<label>
		Search by Make
		<input type="text" name="make_search" placeholder="make">
	</label>
	<button>Find my make</button>
</form>
<p>OR</p>
<form action="/search_car" method="GET">
	<label>
		Search by Model
		<input type="text" name="model_search" placeholder="model">
	</label>
	<button>Find my model</button>
</form>

<!-- check that a search has taken place -->
<% if make_search || model_search %>

<!-- build array of hashes of cars found -->
<% Car.find_by(make, make_search) %>
<!-- ************* ran out of time -->



</body>
</html>




