<!DOCTYPE html>
<html>
<head>
	<title>Denizens of Westeros</title>
</head>
<body>
	<h2>(Some of) Westeros's Residents</h2>
	<% list.each do |char| %>
	<div><a href="/characters/<%= char["id"] %>"><%= char["name"] %></a></div>
	<% end %>
</body>
</html>