<html>
<head>
	<title>Westeros</title>
</head>
<body>
	<h2>Elements of Westeros</h2>
	<div><a href="/characters">The Inhabitants of Westeros</a></div>
	<div><a href="/houses">Their Houses</a></div>
	<div><a href="/characters/new">Add a character to the Annals</a></div>
</body>
</html>