<head>
	<title>Slytherin student list</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
</head>

<body>

	<h1>Slytherin student list</h1>
	<ul>
		<li><a href="/STUDENT_NAME/draco_malfoy.html">Draco Malfoy</a></li>
		<li><a href ="/STUDENT_NAME/narcissa_malfoy.html">Narcissa Malfoy</a></li>
		<li><a href ="/STUDENT_NAME/bellatrix_lestrange.html">Bellatrix Lestrange</a></li>
	</ul>

</body>

</body>