<html>
  <head>
    <title></title>
  </head>
  <body>
    <h2> Add a puppy! </h2>
    <form action="/puppies/create" method="POST">
      Name of puppy: <input type="text" name="name"><br />
      Breed: <input type="text" name="breed"><br />
      Cuteness Level [5 being the cutest]: <input type="number" name="cuteness" min="1" max="5"><br />
      <button>ADD!</button>
    </form>

  </body>
</html>
