<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Character</title>
</head>
<body>

  <h1> <%="#{character["name"]} #{character["age"]}" %></h1>
  <h3> House: <%=house["name"] %></h3>

</body>
</html>