<html>
<head>
	<title>House/Character Tracker</title>
</head>
<body>
	<h1><%= character["name"]%></h1>
	<img src="<%= character["img"]%>" style="height: 150px; width: 150px">
	<p>House: <%= character.house[0]["name"] %></p>
	<a href="/">Go back</a>
</body>
</html>