<html>
<head>
	<title>House/Character Tracker</title>
</head>
<body>
	<h1>Create a character!</h1>
	<form action="/characters/create" method="POST">
		<input type="text" name="name" placeholder="Character's name">
		<input type="text" name="img" placeholder="Image URL">
		<input type="text" name="house" placeholder="House">
		<button>Submit</button>
	</form> 
</body>
</html>