<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to GOT</title>
</head>
<body>

  <a href="/houses"> View all houses</a>

  <a href="/characters"> View all characters</a>

</body>
</html>