<!DOCTYPE html>
<head>
	<title>Add Images</title>
	<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1><a href="/">Wdumblr</a></h1>
<h4>Tublr fur wreally dumb pipol!</h4>
	<nav>
		<ul>
			<li><a href="/authors">Othurz</a></li>
			<li><a href="/posts">Postz</a></li>
		</ul>
	</nav>
	<h2>Ad Pichurz?</h2>
	<form action="/posts/<%=post[:id]%>" method="POST">
		<button name="keyword" value="<%=post[:keyword]%>">Ad 'em</button>
	</form>
	