<!DOCTYPE html>
<html>
<head>
	<title>Add an Author</title>
</head>
<body>
	<h2>Add an Author</h2>
	<form action="/authors/new" method="POST">
		<input type="text" name="name" placeholder="FirstName LastName">
		<input type="text" name="email" placeholder="eMail Address">
		<button>Submit</button>
	</form>
</body>
</html>