<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Images</title>
</head>
<body>
	<div class="navbar">
		<a href="/"> Home</a>
		<br/>
		<a href="/authors"> Authors </a>
		<br/>
		<a href="/posts"> Posts </a>
	</div>

	<h1> IMAGES ADDED! CONGRATS! </h1>
	<h3> Now return to posts to see the pictures added since I somehow can't get the path to work otherwise </h3>
	
</body>
</html>