<html>
<head>
	<title>Incorrect Password!</title>
</head>
<body>
	<h1 style="color:red;">You have entered an incorrect passsword for that <%=author["name"]%></h1>
	<h3><a href="/posts/new">Try again</a></h3>

</body>
</html>