<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>WDumbler</title>
  </head>
  <body>
    <div id="wrapper">
      <a href="/posts">All Posts</a>
      <a href="/authors">All Authors</a>
    </div>
  </body>
</html>
