<html>
<head>
	<title>Welcome to my Blog</title>
</head>
<body>

	<h1>Welecome to my Blog server! It's getting Bloggy in here</h1>

<a href="/authors">Authors</a><br>
<a href="/posts">Posts</a><br>


</body>
</html>