<html>
<head>
	<title>WDumblr</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

	<h1>WDumblr</h1>
<a href='/'>Home</a> |
<a href='/authors'>Add Author</a> |
<a href='/posts'>Add New Post</a> 

</body>
</html>