<!DOCTYPE html>
<head>
	<title>Wdumblr</title>
	<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1><a href="/">Wdumblr</a></h1>
	<nav>
		<ul>
			<li><a href="/authors">Othurz</a></li>
			<li><a href="/posts">Postz</a></li>
		</ul>
	</nav>
	<h2>Tublr fur wreally dumb pipol!</h2>
	<h3>Klic a linc abuv</h3>	
</body>