<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WDUmblr Blog</title>
	<h2> WDumblr </h2>
</head>
<body>
	
<a href="/authors/add"> Become a contributing author! </a>
<br>
<a href="/posts/add"> Write a new post </a>
<br>
<a href="/authors"> View all contributers: </a>
<br>
<a href="/posts"> View all posts: </a>
<br>


</body>
</html>