<!DOCTYPE html>
<head>
	<title>New Author</title>
	<link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1><a href="/">Wdumblr</a></h1>
	<h4>Tublr fur wreally dumb pipol!</h4>
	<nav>
		<ul>
			<li><a href="/authors">Othurz</a></li>
			<li><a href="/posts">Postz</a></li>
		</ul>
	</nav>

<h2>Kre8 a Nyoo Akownt</h2>

<form action="/authors" method="POST">
	    <input type="text" name="name" placeholder="Yoosur Naym">
	    <input type="text" name="email" placeholder="Eemayl">
	    <button>Sine Upp</button>
 </form>

  </body