<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Posts Page!</title>
</head>
<body>

  <form action="/posts" method="POST">
    <input type="text" name="content" placeholder="Enter Content">
      <input type="text" name="keyword" placeholder="Enter a Keyword">
        <select name="author_id">
          <% authors.each do |author| %>
          <option value="<%= author["id"] %>"><%= author["name"] %></option>
          <% end %>
           </select>
    <button> Submit </button>
  </form>

</body>
</html>