<html>
<head>
	<title>Add a new Author to this rad blog</title>
</head>
<body>
	<h1>Add a new Author</h1>
	<form action="/authors" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<button>Add Author</button>
	</form>

</body>
</html>