<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Add an Author!</title>
</head>
<body>

<form action="/authors" method="POST">
  <input type="text" name="name" placeholder= "Enter A Name">
  <input type="text" name="email" placeholder= "Enter An Email">
  <button> Submit</button>

</form>

</body>
</html>