<!doctype html>
	<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Sinatragram</title>
</head>
<body>
	<header>
		<h1>Sinatragram</h1>
		<h2>Here are your favorite!</h2>
	</header>
	<ul>
		<%= tags %>
	</ul>	
	<a href="/">Go home</a>
</body>
</html>
