<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatragram</title>
</head>
<body>
	<h1>Instagram using Sinatra</h1>
	<h2> <%= tag%></h2>
	<ul>
		<% image_array.each do |b| %>
		<li><img src="<%= b %>"></li>
		<% end %>
	</ul>

</body>
</html>
