<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Sinatragram</title>
</head>
<body>
  <h1>Search Sinatragram!</h1>
  <form action="/photos" method="GET">
    <input type="text" name="tagged" placeholder="ex. whitefedora">
    <button>Search!</button>
  </form>
</body>
</html>