<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Instagram search</title>
</head>
<body>

<form action="/images" method="GET">
	<input type="text" placeholder="Enter Tag" name="tag">
	<button>Search</button>
</form>
<form action="/location" method="GET">
	<input type="text" name="city" placeholder="City">
	<input type="text" name ="state" placeholder="State">
	<button>Search</button>
</body>
</html>