<!DOCTYPE html>
<html>
<head> 
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body> 
	<h1>Search Instagram!</h1>
	<img src="https://lh3.ggpht.com/vFpQP39LB60dli3n-rJnVvTM07dsvIzxrCL5xMiy1V4GV4unC1ifXkUExQ4N-DBCKwI=w300">
	<h2>by tag</h2>
	<form action="search_tag" method="GET">
		<input type="text" name="tag" placeholder="enter a tag">
		<button class="btn">Search</button>
	</form>
	<h2>by location</h2>
	<form action="search_loc" method="GET">
		<input type="text" name="loc" placeholder="enter a location">
		<button class="btn">Search</button>
	</form>
</body>
</html>