<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Instagram!</title>
</head>
<body>
  <h1>Instagram!!!!</h1>
  

  <form action="/search" method="GET">
      <label>Tag</label>
      <input type="text" name="tag" placeholder="Search">
    <button>Search</button>
  </form>


   <form action="/location" method="GET">
      <label>Latitude</label>
      <input type="text" name="lat" placeholder="Search">
      <label>Longitude</label>
      <input type="text" name="lng" placeholder="Search">
    <button>Search</button>
  </form>


</body>
</html>