<!DOCTYPE html>
<html lang="en">
<head>
	<meta chaset="utf-8">
	<title>Search Instagram! | But, like, not on Instagram</title>
</head>
<body>
	<section>
		<h1>Search Instagram!</h1>
		<h2>But, like, not on Instagram</h2>
		<form action="/tags" method="GET">
			<input type="text" name="tag">
			<button>Search by Tag</button>
		</form>
		<form action="/cities" method="GET">
			<input type="text" name="city">
			<button>Search by City (e.g. Boston, MA)</button>
		</form>
	</section>
</body>
</html>