<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<title>Instagram Tag Search</title>
	</head>

<body>
	
	<h1>Instagram Search</h1>
	
	<h3>Search by tag</h3>
	<form action="/tag" method="GET">
		<input type="text" name="search" placeholder="Search for a tag..." />
		<button>Search</button>
	</form>
<!-- 	<h3>Search by latitude/longitude</h3>
	<form action="/location" method="GET">
		<input type="text" name="latitude" placeholder="Enter latitude..." />
		<input type="text" name="longitude" placeholder="Enter longitude..." />
		<button>Search</button>
	</form> -->

				<div class="home_page">
				<img src="/polaroid.jpg">
				</div>

</body>
</html>