<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/search" method="GET">
		<input type="text" name="tag" placeholder="search for a tag!">
		<button>search by tag!</button>
	</form>

	<form action="/locate" method="GET">

			Latitude: <input type="text" name="lat" placeholder="latitude">
			Longitude: <input type="text" name="long" placeholder="longitude">

		<button>search by location!</button>
	</form>
</body>
</html>
