
<html>
<head>
<link rel ="stylesheet" type=text/css href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
</head>
<body>

<form action="/tag" method="GET">
<input type="text" name="tag" placeholder="enter a tag"/>
<button>SEARCH</button>
</form>
<h1>OR</h1>
<form action="/location" method="GET">
<input type="text" name="latitude" placeholder="enter a latitude"/>
<input type="text" name="longitude"
placeholder="enter a longitude"/>
<button>SEARCH</button>
</form>


</body>

	

</html>