<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset= "UTF-8">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title> Instagram</title>
</head>
<body>
	<h1>Search pictures using instagram tags! </h1>
	<form action ="/tags" method="GET">
		<label>
			Name: 
			<input type="text" name="tag"
			placeholder="Type in a tag!">
		</label>
		<button> SUBMIT TAG </button>
	</form>

	
