<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Instagram Sinatra</title>
</head>
<body>
	<h2> moar instagram cause we're not sick of it </h2>
	<form action ="/search" method="GET">
		<label>
			Search:
			<input type="text" name="tag" placeholder="enter #hashtag">
		</label>
		<button> Search </button>
		
		<br>

		<form action ="/lat_long" method="GET">
		<label>
			Search:
			<input type="text" name="lat" placeholder="enter latitude">
			<input type="text" name="long" placeholder="enter longitude">
		</label>
		<button> Search </button>
</body>
</html>