<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello!</title>
</head>

<body>
  <h1>Welcome to Sinatragram!</h1>
  <form action="/search" method="GET">
    <input type="text" name="search_results" placeholder="Enter a word to search...">
    <button>Search</button>
    </form>

    <form action="/lat_long" method="GET">
    <input type="text" name="lat_results" placeholder="Search for latitude...">
    <input type="text" name="long_results" placeholder="Search for longitude...">
    <button>Geo-Search</button>
    </form>


    <br>
    <a href="/">Home</a>

</body>

</html>