<!DOCTYPE html>
<html lang="en"
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/styles.css">
<title>Sinatra Instagram</title>
</head>

<body>
	<h1>Enter A Tag To Search Through Instagram!</h1>
	<form action="/photos" method="GET">
		<label>
			Tag:
		<input type="text" name="tag" placeholder="Tag Search">
		</label>
		<button>Search</button>
	</form>

</body>
</html>

