<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Instagram!</title>
</head>
<body>
  <h1>Location: Latitude:<%= lat %> Longitude: <%= lng %> </h1>
  <a href='/'>Home</a>
  <ul>
  	<%= images %>
  </ul>

 

</body>
</html>