<html>
<head>
<link rel ="stylesheet" type=text/css href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
</head>
<body>
<a href="/"><h1>Instagram Photos by Location</h1></a>

<% response1["data"].each do |x|
	%>

<a href="<%= pic["images"]["standard_resolution"]["url"] %>"><img src='<%=pic["images"]["standard_resolution"]["url"] %>' /></a>
<% end %>

</body>

	

</html>
