<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>Images</title>
</head>

<body>
	<h1>Check out <%= tag %>! You can also
		<a href="/">search again.</a>
	</h1>
	
		<%= pics %>
	
</body>

</html>