<!DOCTYPE html>
<html lang="en">
<head>
	<meta chaset="utf-8">
	<title>Search Instagram! | But, like, not on Instagram</title>
</head>
<body>
	<section>
		<% imgs.each do |src|%>
			<img src=<%= src %>>

		<% end %>
	</section>
</body>
</html>