<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Instagram Sinatra</title>
</head>
<body>

<a href="/"> Go back </a>

<h1> moar sinatragram  <%= request.params["tag"] %> </h1>

<ul>
<% image_array.each do |y| %>
	<li> <img src= "<%= y %>" > </li>
	<% end %>
</ul>


</body>
</html>
