<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/styles.css">
		<title>Instagram Tag Search</title>
	</head>

<body>
	
	<a href="/"><h1>Instagram Tag Search</h1></a>
	<h3>Photos tagged "<%= tag %>"</h3>
	
	<% instagram_api["data"].each do |x| %>
	<a href='<%= x["images"]["standard_resolution"]["url"] %>'><img src='<%= x["images"]["standard_resolution"]["url"] %>'/></a>
	<% end %>

</body>
</html>