<!DOCTYPE html>
<html lang="en">
<head>
	<met charset= "UTF-8">
	<link rel ="stylesheet" type="text/css" href="/styles.css">
	<title>tags</title>
</head>
<body>
	<h1> Pictures with <%=tag%> in it </h1>
</html>
