<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css.styles" />
</head>
<body>
	<h2>Admit a New Patient</h2>
	<h4>Please enter a first name, last name and the condition from which the patient suffers.</h4>
	<form action="/patient" method="POST">
		<input type="text" name="first" placeholder="First Name">
		<input type="text" name="last" placeholder="Last Name">
		<input type="text" name="condition" placeholder="Condition">
		<button>Admit Patient</button>
	</form>
	<h4>Or, generate a new patient (perhaps by poisoning).</h4>
	<form type="button" action="/patient/random" method="POST">
		<button>Infect!</button>
	</form>
</body>
</html>