<!DOCTYPE html>
<html>
<head></head>
<body>
	<h1>Condition Submit Form</h1>
	<form action="/form_forpatient_condition" method="POST">
		<input type="text" name="condition_search" placeholder="Enter a patient condition to search for">
		<input type="submit" value="Submit">
	</form>
</body>
</html>