<!DOCTYPE html>
<html>
<head></head>
<body>
	<h1>Email Submit Form</h1>
	<form action="/all_emails_list" method="POST">
		<input type="text" name="first_name" placeholder="Enter patient first name">
		<input type="text" name="last_name" placeholder="Enter patient last name">
		<input type="text" name="admit_date" placeholder="Enter patient admit date">
		<input type="text" name="condition" placeholder="Enter patient conditon">
		<input type="submit" value="Submit">
	</form>
</body>
</html>





<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List</title>
</head>
<body>
	<a href = "/students">Add New Student</a>
  <ul>
    <% students.each do |student| %>
      <li><%= student["first"] %> <%= student["last"] %> - <%= student["email"] %></li>
    <% end %>
  </ul>
</body>
</html>