<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>404</title>
</head>	
<body>
	<header>
		<h1>There is no matched patient</h1>
	</header>
	<a href="/?">Go Back...</a>
</body>
</html>	