<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>Seattle Grace Hospital</title>
</head>	
<body>
	<header>
		<h1>Searched by <%= key%>: <%= value%></h1>
	</header>
	<%= info%>	
	<a href="/?">Go Back...</a>
</html>	