<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Image Search</title>
</head>
<body>
  <h1>Please tell me what kind of images you are searching for.</h1>
  <form action="/tag" method="GET">
    <label>
      Item:
      <input type="text" name="thing_name" placeholder="image content">
    </label>
    <button>Submit</button>
  </form>

  <a href="/">Home</a>
</body>
</html>