body {
  background-color: #000000;
  color: white;
  font-family: Georgia;
  font-size: 30px;
}

section.game-play {
  margin: 30px;
  width: 100%;
}

section.game-play > figure {
  width: 50%;
  height: 100%;
  float: right;
}

section.game-play > aside {
  width: 46%;
  height: 100%;
}

section.game-play > aside > div:first-child {
  margin-bottom: 20px;
}

div.game-word {
  letter-spacing: 10px;
  font-size: 100px;
  text-align: center;
}

input {
  border: 5px solid white;
  border-radius:10px;
  padding: 15px;
  background: rgba(255,255,255,0.5);
}

.button {
  display: block;
  margin: 30px auto;
  font-family: PFDinTextCompProBold, Impact, Arial;
  letter-spacing: 2px;
  font-size: 40px;
  color: white;
  padding:14px;
  background-color:rgba(255,0,51,1);
  border:1px solid #f03;
  border-radius:10px;
}
.button:hover {
  background-color:rgba(255,0,51,0.8);
 }
.correctletter {
  display: inline;
  border-bottom:1px solid #fff;
  margin-left:20px;
  width:50px;

}
.letter{
  margin:5px;
  padding:5px;
   display: inline-block;
   border:1px solid #fff;
   border-radius:5px;
}
#letters{
  width:100%;
  overflow:none;
}
#guessed{
  width:100%;
  overflow:none;
}
#hangman{
 width:120px;

  margin-right:40px;
  float:right;
  border:1px solid #fff;
  height:450px;
}
.hang{
  padding:0px;
  margin:0px;
}
#feet{
  margin-top:350px;
}
#legs{
  margin-top:210px;
}
#top{
  margin-top:110px;

}




