<form action="/artists/<%=@song.artist_id%>/songs/<%=@song.id%>" method="POST">
  <input name="_method" value="PUT" type="hidden" />
  <label>
    Name:
    <input name="name" value="<%=@song.name %>"/>
  </label>


  


  <button>Submit</button>
</form>