<!DOCTYPE html>
<html>
<head><title>New Student</title></head>

<body>
<h1>Register Here</h1>
<form action="/" method="POST">
	<label>
		name
		<input type="text" name="fullname" placeholder="Firstname Lastname">
	</label>
	<label>
		age
		<input type="text" name="age" placeholder="age">
	</label>
	<label>
		your favorite spell
		<input type="text" name="spell" placeholder="your favorite spell">
	</label>
	<button>Submit</button>
</form>



<a href="/">All Registered Students</a>

</body>
</html>