<html>
<head>
  <title>Characters</title>
</head>
<body>
  <a href="/new/character">NEW CHARACTER</a>
  <ul>
<%characters.each do|character|%>
<li><a href="/character/<%=character["id"]%>"><%=character["name"]%></a></li>
<%end%>
</ul>

</body>
</html>