<html>
<head>
  <title>Houses</title>
</head>
<body>
<a href="house/<%=gryfindor["id"]%>">
  <%=gryfindor["name"]%></a>

<a href="house/<%=slytherin["id"]%>">
  <%=slytherin["name"]%></a>
</body>
</html>