<!DOCTYPE html>
<head>
<title>Sinatragram Homepage</title>
<link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>


<body>
<h1>Sinatragram Image Search</h1>

<h3>Let Ol' Blue Eyes search Instagram, so you don't have to.</h3>

<p>Enter search word below:</p>

<form action="search" method="GET">
<input type="text" name="tag" placeholder="doo-be doo-be doo" />
<button>Search</button>
</form>

<p>Or search by geographic coordinates:</p>
<form action="geographic_search" method="GET">
<input type="text" name="latitude" placeholder="latitude" />
<input type="text" name="longitude" placeholder="longitude" />
<button>Search</button>
</form>


</body>