<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Sinatragram</title>
</head>
<body>
  <h1>Sinatragram!</h1>
  <form action="/name" method="GET">
    <label>
      Tag Name:
      <input type="text" name="tag" placeholder="what interests you...">
    </label>
    <button>Search</button>
  </form>

  <a href="/fun">See all of your results</a>

  <a href="/">Home</a>
</body>
</html>