<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="top">
		<h1> Hogwarts Registrar! </h1>
		<form action="/search" method="GET">
			<input type="text" name="寻找" Placeholder="Search Registrar!">
			<button>Search</button>
		</form>

		<form action="/students/new" method="GET">
			<button>Register!</button>
		</form>
	</div>
	
	<br/>
	<h3> ==================== <h3>
	<h1> Search the directory! </h1>
	<br/>

	<div class="main">
		<ul>

			<% student_list.each do |hash|%>
				<% if hash["名"] == params["寻找"] %>
					<li> <a href='/students/show/<%=hash["名"]%>'><%= hash["名"]%> </a></li>
				<% end %>
			<% end %>

		</ul>
	</div>


	
</body>
</html>