<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Enroll</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="top">
		<h1> Hogwarts Registrar! </h1>
		<form action="/search" method="GET">
			<input type="text" name="寻找" Placeholder="Search Registrar!">
			<button>Search</button>
		</form>

		<form action="/students/new" method="GET">
			<button>Register!</button>
		</form>
	</div>

	<br/>
	<h3> ==================== <h3>
	<h1> New Student Registration </h1>
	<br/>
	
	<div class="main">
		<form action="/" method="POST">
			<input type="text" name="名" placeholder="Name" />
			<input type="text" name="岁" placeholder="Age" />
	    	<input type="text" name="咒" placeholder="Spell" />
	    	<button>Enroll!</button>
	  	</form>
	</div>
		
		


</body>
</html>