<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= author["name"] %></title>
</head>
<body>
  <h2><%= author["name"] %></h2>

  <p>Please contact <%= author["name"] %> by email at <%= author["email"] %></p>


</body>
</html>