<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta charset="UTF-8">
	<title>Dumblr Authors</title>
</head>
<body>
	<header>
		<h1><a href="/">Dumb and Dumblr</a></h1>
	</header>
	<div>
		<ul><% authors.each do |author| %>
			<li><a href="/authors/<%= author["id"] %>"><%= author["name"] %></a></li> <% end %>
		</ul>
		<p>Want an account? <a href="/authors/new">click here to sign up!</a></p>
	</div>

</body>
</html>