<!DOCTYPE hmtl>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= author["name"] %></title>
</head>
<body>
	<h2><%= author["name"] %>'s Blog Postings</h2>
		<ul>
			<% author.posts.each do |post| %>
			<li><a href="/posts/<%= post["id"] %>">

			<% end %>
		</ul>
		<p><a href="/">Home</a></p>
		<p><a href="/authors">All Authors</a></p>

</body>
</html>