<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="UTF-8">
	<title>Dumblr Authors</title>
</head>
<body>
	<header>
		<h1><a href="/">Dumb and Dumblr</a></h1>
	</header>
	<div>
		<p>Please enter your info to make a new account.</p>
		<form action="/authors" method="POST">
			<input type="text" name="name" placeholder="Name">
			<input type="text" name="email" placeholder="Email">
			<button>Submit</button>
		</form>
	</div>

</body>
</html>