<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WDUMBLR</title>
</head>
<body>

	<div class="navbar">
		<a href="/authors"> Authors </a>
		<br/>
		<a href="/posts"> Posts </a>
	</div>
	
	<div class="main">


	</div>
	
</body>
</html>