<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WDumble_Home</title>
</head>
<body>
	<p><a href="/authors">All Authors</a></p>
	<p><a href="/posts">All Posts</a></p>
</body>
</html>

