<html>
<head>
<link rel ="stylesheet" type=text/css href="/styles.css">

	<title>WDumblr</title>
</head>
<body>
<h1>WDumblr</h1>
<ul>
<li><a href="/authors">All Authors</a></li>
<li><a href="/posts">All Posts</a></li>
<ul>

</body>
</html>