<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome!</title>
</head>
<body>
	<h1>Welcome to WDumblr</h1>

	<form action="/authors" method="GET">
		<input type="hidden">
		<button>Authors</button>
	</form>

	<form action="/posts" method="GET">
		<input type="hidden">
		<button>Posts</button>
	</form>
</body>
</html>