<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>WDumblr -- New Author</title>
  </head>
  <body>
    <div id="wrapper">
      <a href="/">Home</a>
      <hr />
      <h3>New author</h3>
      <form action="/authors" method="POST">
        <input type="text" name="name" placeholder="Author Name"><br />
        <input type="text" name="email" placeholder="Author email"><br />
        <textarea name="bio" rows="5" cols="30"></textarea><br />
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
