<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Posts</title>
</head>
<body>
	<h1>Posts</h1>
	<a href="/posts/new">Add Post</a>
	<ul>
		<% posts.each do |post| %>
		<% author = Author.find_by("id", post["author_id"]) %>
			<li>
				<a href="/posts/<%= post["id"] %>"> <%= post["keyword"] %></a>
			 </li>
		<% end %>
	<ul>
</body>
</html>