<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>List of Posts</title>
</head>
<body>
	<p><a href="/posts/new">Add A Post</a></p>
	<ul>
		<% posts.each do |post| %>
			<li><a href="/posts/<%= post["id"] %>"></a>
			</li>
		<% end %>
	</ul>
	<p><a href="/">Home</a></p>
</body>
</html>