<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post It!</title>
</head>
<body>
	<h1>Post here</h1>
	<form action="/posts" method="POST">
		<input type="text" name="content" placeholder="Just Do It!"><br/>
		<input type="text" name="keyword" placeholder="Keyword"><br/>
		<input type="hidden" name="created_at" value="<%= Time.now %>">
		<select name="author_id">
			<% authors.each do |a| %>
			<option value="<%=a["id"] %>"><%= a["name"] %></option>
			<% end %>
		</select><br/>
		<button>Post</button>
	</form>
</body>
</html>