<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta charset="UTF-8">
	<title>Dumblr Posts</title>
</head>
<body>
	<header>
		<h1><a href="/">Dumb and Dumblr</a></h1>
	</header>
	<div>
		<ul><% posts.each do |post| %>
			<li><a href="/posts/<%= post["id"] %>"><%= post["title"] %></a></li> <% end %>
		</ul>
		<p>Want to post? <a href="/posts/new">click here!</a></p>
	</div>

</body>
</html>